﻿@using resources = LCDInTouch.Web.resources.nls_resource
@model  LCDInTouch.Web.Models.InTouchParamsModel

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

@{
  ViewBag.Title = "Welcome";
}

<div id="div_welcome" class="row">
  
  <div class="left-short">
    <div id="topLeftCorner" class="tech-menu-button"></div>
    <div class="vertical-text-ms vertical-text" style="margin-left:45px;font-size:16px;top:40px;">
      @if (Model != null)
      {
        @Model.TerminalName
      }
    </div>
    <div id="bottomLeftCorner" class="tech-menu-button"></div>
    <p id="bottomLeftCornerLabel" class="version-label">@ViewBag.VersionMode.18.007.03</p>
  </div>
  <div class="center text-center">
    <img src="~/images/Icons/logo2.png" class="black-logo-big">
    <p id="DateFormatted" style="margin-left:-10px;"></p>
    
    @if (@Model.WelcomeMessageLine1.Length > 0)
    {
      <p class="Cliente" style="margin-left:5px;margin-top:-10px;font-size:20px;">
        @Html.Label(Model.WelcomeMessageLine1)
      </p>
      if (@Model.WelcomeMessageLine2.Length > 0)
      {
        <p class="Cliente" style="margin-left:-5px;margin-top:-10px;font-size:20px;">
          @Html.Label(Model.WelcomeMessageLine2)
        </p>
      }
    }
    else
    {
    <p class="Cliente" style="margin-left:-5px;">
      @resources.wel_welcome
    </p>
    }
    @if (ViewBag.IsBlocked)
    {
      <div class="BlockReasons">
        <div class="BlockReasonsDescription">
          @ViewBag.BlockDescription
        </div>
      </div>
    }
    else
    {
      <p class="CustomerLevel" style="margin-left:-10px;margin-top:-15px;font-size:18px;">@resources.wel_insert_card</p>
    }
  </div>

  <div class="right-short text-center">
 
    <div class="flag">
      @if (ViewBag.Flag == 0)
      {
        <div onclick="InteractWithHost('21|9');">
          <img src="~/images/flags/flag_MXN.png" />
        </div>
      }
      else
      {
        <div onclick="InteractWithHost('21|10');">
          <img src="~/images/flags/flag_USD.png" />
        </div>
      }
    </div>
    <div id="bottomRightCorner" class="tech-menu-button"></div>
  </div>
</div>

@Scripts.Render("~/Scripts/jquery-1.12.4.min.js")
@Scripts.Render("~/Scripts/Manager/Index.js")