﻿@using resources = LCDInTouch.Web.resources.nls_resource
@{
  ViewBag.Title = "PlayDrawMenu";
}

<div class="row">
  <div class="left-short" style="background-color: #1C0F00;">
    <div class="short-middle">
      <img src="~/images/icons/48x48/Televisa.png" class="img-responsive" onclick="RedirectAction('DataAccount', 'DataAccount02');" />
      <div onclick="RedirectPreviousAction();" style="margin-left: 25px;">
        <img src="~/images/icons/48x48/Left-Arrow.png" style="padding-top: 10px;" />
      </div>
    </div>
    <div class="thirdty-margin-left ten-to-top question-icon help-icon-draw">
      <img src="~/images/icons/48x48/help.png" class="img-responsive" />
    </div>
  </div>
  <div class="left-short-slash">
    <div class="vertical-text-ms vertical-text" style="margin-left:-1px;margin-top:40px;font-size:36px;">Play Menu</div>
  </div>
  <div class="center text-center" style="width: 600px;">
    <div class="center-third-top twenty-to-top" style="width: 400px;margin-left:10%;">
      <input class="big-large-button btn  @ViewBag.AccountLevel" value="PlayCash" onclick="@ViewBag.redirectPlayCash" @ViewBag.Disabled type="button" style="background-color: #1C0F00;">
    </div>
    <div class="center-third-center" style="width: 400px;margin-left:10%;">
      <input class="btn big-large-button  @ViewBag.AccountLevel" value="@resources.pdm_draw_playcity_rewards" onclick="@ViewBag.RedirectPlayRewards" type="button" style="background-color: #1C0F00;">
    </div>
    <div class="center-third-under" style="width: 400px;margin-left:10%;">
      <input class="btn big-large-button  @ViewBag.AccountLevel" value="PlayPoints" onclick="@ViewBag.redirectPlayPoints" type="button" style="background-color: #1C0F00;">
    </div>
  </div>

  <div class="right-short">
    <div class="logo-bottom">
      <img src="~/images/Icons/logo.png" class="img-responsive black-logo-small">
      <p id="DateFormatted" class="text-bottom two-lines-date text-center" style="margin-left:-10px;"></p>
    </div>
  </div>
</div>

