﻿
@{
    ViewBag.Title = "PlayDrawBuy";
}

@Html.Raw(ViewBag.DelayRefresh)

<div class="row">
  <div class="left-short" style="background-color: #1C0F00;">
    <div class="short-middle">
      
    </div>
    <div class="short-middle-under">
      <img src="~/images/icons/48x48/help.png" class="img-responsive" />
    </div>

  </div>
  <div class="vertical-text-ms" >PlayDraw</div>

  @Html.Partial("_SelectOptionView")

  <div class="right-short">
    <div class="logo-bottom" style="margin-top: 10px;">
      <img src="~/images/Icons/logo.png" class="img-responsive black-logo-small">
      <p id="DateFormatted" class="text-bottom two-lines-date text-center" style="width:85px;margin-left:-5px;"></p>
    </div>
  </div>
</div>

