﻿@using resources = LCDInTouch.Web.resources.nls_resource
@{
  ViewBag.Title = "New Pin";
}


<div class="row">
  <div class="left-short" style="background-color: #1C0F00;">
    <div class="short-middle">
      <div class="short-third-top thirdty-margin-left ten-to-top">
        <img src="~/images/icons/48x48/Left-Arrow.png" class="img-responsive" style="margin-top:95px;" onclick="RedirectPreviousAction();">
      </div>
    </div>
    <div class="vertical-text-ms vertical-text" style="margin-top:40px;float:left;margin-left:90px;">@resources.pnp_change_pin</div>
  </div>
  <div class="center text-center" style="width: 625px;">
    <div class="center-third-center" style="width: 400px;margin-left:10%;height:100%">
      <div style="margin-top:30px;height:80px;">
        <div>
          <span style="float:left;margin-left:40px;">@resources.pin_new_pin</span>
          <span style="margin-left:-20px;">@resources.pin_repeat_pin</span>
        </div>
        <input type="password" style="width:40%; height:40px;margin-left:5px;border:2px solid black;font-size:32px;text-align:center;" id="Pin" onclick="Erase()" name="Pin">
        <input type="password" style="width:40%; height:40px;margin-left:5px;border:2px solid black;font-size:32px;text-align:center;" id="NewPin" onclick="EraseNewPin()" name="NewPin">
        <input type="hidden" name="hdn_select_box" id="hdn_select_box" value="1">
      </div>
      <input class="small-button @ViewBag.AccountLevel btn" value="0" onclick="InputValue(0)" type="button" id="0" style="background-color: #1C0F00;">
      <input class="small-button @ViewBag.AccountLevel btn" value="1" onclick="InputValue(1)" type="button" id="1" style="background-color: #1C0F00;">
      <input class="small-button @ViewBag.AccountLevel btn" value="2" onclick="InputValue(2)" type="button" id="2" style="background-color: #1C0F00;">
      <input class="small-button @ViewBag.AccountLevel btn" value="3" onclick="InputValue(3)" type="button" id="3" style="background-color: #1C0F00;">
      <input class="small-button @ViewBag.AccountLevel btn" value="4" onclick="InputValue(4)" type="button" id="4" style="background-color: #1C0F00;">
      <input class="small-button @ViewBag.AccountLevel btn" value="5" onclick="InputValue(5)" type="button" id="5" style="background-color: #1C0F00;">
      <input class="small-button @ViewBag.AccountLevel btn" value="6" onclick="InputValue(6)" type="button" id="6" style="background-color: #1C0F00;">
      <input class="small-button @ViewBag.AccountLevel btn" value="7" onclick="InputValue(7)" type="button" id="7" style="background-color: #1C0F00;">
      <input class="small-button @ViewBag.AccountLevel btn" value="8" onclick="InputValue(8)" type="button" id="8" style="background-color: #1C0F00;">
      <input class="small-button @ViewBag.AccountLevel btn" value="9" onclick="InputValue(9)" type="button" id="9" style="background-color: #1C0F00;">
    </div>
    <div style="width: 60px;height: 70%;float:left;margin-top: 50px;">
      <input class="small-button-erase @ViewBag.AccountLevel btn" value="C" onclick="Erase(), EraseNewPin()" type="button">
      <input class="small-button-ok @ViewBag.AccountLevel btn" value="OK" id="btn_ok" onclick="RedirectToActionJS()">
    </div>
  </div>


  <div class="right-short">
    <div class="logo-bottom" style="margin-top:10px;">
      <img src="~/images/Icons/logo.png" class="img-responsive black-logo-small">
      <p id="DateFormatted" class="text-bottom two-lines-date text-center" style="width:85px;margin-left:-5px;"></p>
    </div>
  </div>

  <script type="text/javascript">
    function InputValue(value) {
      if ((document.getElementById("hdn_select_box")).value == 1) {
        if (document.getElementById("Pin").value.length < 4) {
          document.getElementById("Pin").value = document.getElementById("Pin").value + value;
        } else {
          document.getElementById("NewPin").focus();
          SelectBox(2);
        }
      }
      else {
        if (document.getElementById("NewPin").value.length < 4) {
          document.getElementById("NewPin").value = document.getElementById("NewPin").value + value;
        }
      }

    }
    function Erase() {
      document.getElementById("Pin").value = "";
      SelectBox(1);
    }
    function EraseNewPin() {
      document.getElementById("NewPin").value = "";
      SelectBox(2);
    }

    function SelectBox(Box) {
      document.getElementById("hdn_select_box").value = Box;
    }

    function RedirectToActionJS() {

      //first validate if two textbox contains the same value
      var pin = document.getElementById("Pin").value;
      var newpin = document.getElementById("NewPin").value;

      window.location.href = '@Url.Action("ValidateNewPin", "Pin")' + '?Pin=' + pin + '&NewPin=' + newpin;
    }

  </script>

</div>
