body {
    height: 256px;
    /*width: 800px;*/
}

.Cliente {
    font-family: Helvetica;
    font-size: 25px;
    font-weight: bold; 
}

.Title {
    font-family: Helvetica;
    font-size: 17px;
    border-bottom-style: solid; 
    border-bottom-width: 2px;
    width: 95%;
}

.TitleUnderline {
    width: 55%;
}

.Info {
    font-family: Helvetica;
    font-size: 19px;
    font-weight: bold; 
}

.CustomerLevel{
    font-family: Helvetica;
    font-size: 17px;
    font-weight: bold;
    margin-top: -5px;
}
.littleText{
    font-family: Helvetica;
    font-size: 12px;
}

.underImage{
    font-family: Helvetica;
    font-size: 14px;
    text-align: center;
}
   /*Align text to center.*/
.text-xs-center {
    text-align: center;
} 

/*.col-xs-6 {
 border: solid 1px;
}*/

.padding-top-quarter{
    padding-top: 25px;
}

.padding-top-half{
    padding-top: 50px;
}

.vertical-text{
    /*width: 256px;*/
     /*filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);  
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-2.755455298081545e-16, M12=-1.5, M21=1.5, M22=-2.755455298081545e-16, SizingMethod='auto expand')";*/
    display: inline-block;
    transform: rotate(90deg);
      transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); /* Safari/Chrome */
    -moz-transform: rotate(-90deg); /* Firefox */
    -o-transform: rotate(-90deg); /* Opera */
    -ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform: none;
    font-size: 32px;
    font-weight: bold;
    
}

.vertical-text-small{
    font-size: 28px;
}

.vertical-text-left{
    border-top: 5px; 
    border-top-style: solid;
    border-top-color: #7092BE;
}

.vertical-text-right{
    border-bottom: 5px; 
    border-bottom-style: solid;
    border-bottom-color: #7092BE;
}

.vertical-line-ms{
    position:absolute;
      transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); /* Safari/Chrome */
    -moz-transform: rotate(-90deg); /* Firefox */
    -o-transform: rotate(-90deg); /* Opera */
    -ms-transform: rotate(-90deg); /* IE 9 */
    left:0px;
    top:0px;
    width: 5px;
    height: 256px;
    background-color: #7092BE;
}

.vertical-line{
    position:absolute;
      transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); /* Safari/Chrome */
    -moz-transform: rotate(-90deg); /* Firefox */
    -o-transform: rotate(-90deg); /* Opera */
    -ms-transform: rotate(-90deg); /* IE 9 */
    left:0px;
    top:0px;
    width: 256px;
    height: 5px;
    background-color: #7092BE;
}


.product{
    width: 96px;
    height: 96px;
    background-color: palegreen;
    float: left;
    margin-right: 80px;
}

.product-price{
    width: 107px;
    height: 25px;
    background-color: peru;
    float: left;
    margin-top:10px;
    text-align: center;
}

.button-selection{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 80px;
    margin-top: 40px;
}
.button-selection-first{
    margin-left: 80px;
     width: 32px;
    height: 32px;
    float: left;
    margin-right: 80px;
    margin-top: 40px;
}

.button-menu{
    width: 225px;
    border-color: grey !important;
    background-color: white;
}

.button-menu-large{
    width: 325px;
    height: 75px;
    border-color: grey !important;
    background-color: white;
}

.high-values {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold; 
}

.border-gray{
  border: 1px solid rgba(150, 150, 150, .5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  height: 50px;
  text-align: center;
  margin-left: -20px;
  margin-top: 10px;
  opacity: 50%;
  
}

/***************************************************/
.body {
    width: 850px;
    height: 270px;
    border: solid 0.5px;
}

.full {
    height: 256px;
    width: 800px;
}

.form-label{
    width: 50px;
    float:left;
}

/* Columns  */
.center {
    height: 256px;
    width: 600px;
    float:left;
}

.left-short{
    height: 256px;
    width: 100px;
    float:left;
}



.right-large{
    height: 256px;
    width: 700px;
    float: left;
}
.right-short{
    height: 256px;
    width: 100px;
    float:left;
}

.left-large{
    height: 256px;
    width: 700px;
    float: left;
}

/*  Rows  */
/* Rows x 2 */
.short-middle-under {
    height: 128px;
    width: 100px;
    float:left;
    margin-top: 15px;
    margin-left: 5px;
}

.short-middle {
    height: 128px;
    width: 100px;
    float:left;
    margin-top: 15px;
    margin-left: 5px;
}

/* Rows x 3 */
.short-third-under {
    height: 85px;
    width: 100px;
    float:left;
    margin-top: 15px;
    margin-left: 5px;
}

.short-third-center {
    height: 86px;
    width: 100px;
    float:left;
    margin-top: 15px;
    margin-left: 5px;
}

.short-third-up {
    height: 85px;
    width: 100px;
    float:left;
    margin-top: 15px;
    margin-left: 5px;
}

.main-third-under {
    height: 85px;
    width: 600px;
    float:left;
}

.main-third-center {
    height: 86px;
    width: 600px;
    float:left;
}

.main-third-up {
    height: 85px;
    width: 600px;
    float:right;
}


/* progress bar */
.progress {
  padding: 4px;
  background: rgba(black, .25);
  border-radius: 6px;
  margin-left: 30px;
}

.progress-bar {
  position: relative;
  height: 20px;
  border-radius: 4px;
  background-color: green;
  opacity: 0.5;
  float:left;
}

.progress > .progress-text-left {
	position: absolute;
	left: 215px;
	font-weight: 800;
    float:left;
}
.progress > .progress-text-right {
	position: absolute;
	right: 650px;
	font-weight: 800;
    float:left;
}

.testButtonRadius {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px solid gray;
    width:230px;

}