﻿body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  overflow: hidden;
  font-size: 0.8em;
  font-family: Verdana;
}

#WSIEngineContainer {

}

#divControls {
  width: 15%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: #010064;
  color: white;
  padding: 7px 7px;
  overflow-x: hidden;
}

#divControls input {
  margin-top: 10px;
  display: block;
  clear: right;
  width: 100%;
}

#pointLightIntensity {
  margin-top: 7px;
}

#rotationX, #rotationY, #rotationZ, #scaleX, #scaleY, #scaleZ {
  margin-top: 7px;
  width: 100%;
}

.stdpanel {
  display: block;
}

#divProperties {
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: #010064;
  color: white;
  padding: 7px 7px;
  overflow-x: hidden;
  font-size: 1em;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}