﻿@charset "UTF-8";

*, html { margin: 0; padding: 0; -webkit-font-smoothing: antialiased; font-size: 100%;}

body { color: #555; font-family: 'Open Sans', Arial, sans-serif; font-weight: 400; font-size: 100%; overflow: hidden; }
a { text-decoration: none !important;}
ul li { list-style: none;}

h1 { font-size: 120%; font-weight: 400; text-transform: uppercase;}

:focus { outline: none; border: 0;}
/*input { -webkit-appearance: none; -webkit-border-radius: 0; }*/

input {border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius:3px;}

/* COLORES ROLES */

.rolPCA {}
.rolOPS {background: #0090e9 !important;}
.rolSLO {background: #378d3b !important;}
.rolTCH {background: #dc2b00 !important;}

.rolOPS .configBtn, .rolSLO .configBtn, .rolTCH .configBtn {border-left: 1px solid #f1f1f1}

/* VERSION DESKTOP 1920px */

.mapaPiso { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; z-index: 0; background: #0FC;}


/* HEADER TOP */
.headerTop { position: absolute; top: 0; width: 100%; height: 5%; color: #fff; background: #445963; z-index: 3;}
.nombreCasino, .tituloSeccion { display: inline-table; vertical-align: middle; padding: 0.7%; width: 31%; text-transform: uppercase; height: 100%}
.tituloSeccion { text-align: center;}
.userProfile { width: 20%; height: 100%; position: absolute; right: 5%; top:0;}
.imgProfile { max-width: 10%; display: inline-table; vertical-align: middle; float: left; margin-right: 5%; margin-top: 0%; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;}
.imgProfile img { width: 100%; height: auto; max-height: 35px; display: block; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;}
.contenedorRol { width: 100%; display: inline-table; vertical-align: middle; margin-left: 2%; margin-top: 1%; margin-right: 10%; float: right;}
.nameProfile, .rolProfile { font-size: 90%; }
.rolProfile { font-weight: 700}
.flechaDropProfile { position: absolute; float: right; right: 2%; top: 20%;}
.configBtn { position: absolute; right: 0; top:0; width: 5%; height: 100%;  background: url(../iconos/configBtn.svg) no-repeat center center; background-size: contain; border-left: 1px solid #778f9b}
.configBtn.close { background: url(../iconos/cerrarBtnBlanco.svg) no-repeat center center; }
.configBtn a { display: block; width: 100%; height: 100%;}

/* MENU PRINCIPAL IZQUIERDA */
.menuPrincipal { position: absolute; left: 0; top: 6%; width: 7%; height: 94%; background: #36464e; z-index: 10; }
.menuPrincipal li { padding: 40% 0; border-bottom: 1px solid #778f9b; text-align: center; position: relative; float: left; clear: left; width: 100%;}
.menuPrincipal li a { width: 100%; height: 100%; position: absolute; display: block; top: 0; left: 0; color: #f1f1f1}
.menuPrincipal li span { width: 100%; text-transform: uppercase; letter-spacing: -0.5px; font-size: 90%; font-weight: 500;}

.menuPrincipal li:hover, .menuPrincipal li.activo { background: #ededed;}
.menuPrincipal li a:hover, .menuPrincipal li.activo a {color: #36464e;}

.imgIcon { width: 100%; max-width: 35%; height: 100%; max-height: 50%; margin: 0 auto; margin-top: 5%;}

.btnMisTareas .imgIcon { background: transparent url(../iconos/misTareas.svg) no-repeat 0px 0px; background-size: cover; }
.btnMisTareas:hover .imgIcon, .btnMisTareas.activo .imgIcon { background: transparent url(../iconos/misTareasOn.svg) no-repeat 0px 0px; background-size: cover;}

.btnDashboard .imgIcon { background: url(../iconos/dashBoard.svg) no-repeat 0px 0px; background-size: cover; }
.btnDashboard:hover .imgIcon, .btnDashboard.activo .imgIcon { background: url(../iconos/dashBoardOn.svg) no-repeat 0px 0px; background-size: cover; }

.btnPiso .imgIcon { background: url(../iconos/mapaPiso.svg) no-repeat 0px 0px; background-size: cover; }
.btnPiso:hover .imgIcon, .btnPiso.activo .imgIcon { background: url(../iconos/mapaPisoOn.svg) no-repeat 0px 0px; background-size: cover; }

.btnMaquinas .imgIcon { background: url(../iconos/maquinas.svg) no-repeat 0px 0px; background-size: cover; }
.btnMaquinas:hover .imgIcon, .btnMaquinas.activo .imgIcon { background: url(../iconos/maquinasOn.svg) no-repeat 0px 0px; background-size: cover; }

.btnJugadores .imgIcon { background: url(../iconos/jugadores.svg) no-repeat 0px 0px; background-size: cover; }
.btnJugadores:hover .imgIcon, .btnJugadores.activo .imgIcon { background: url(../iconos/jugadoresOn.svg) no-repeat 0px 0px; background-size: cover; }

.btnAlarmas .imgIcon { background: url(../iconos/alarmas.svg) no-repeat 0px 0px; background-size: cover; }
.btnAlarmas:hover .imgIcon, .btnAlarmas.activo .imgIcon { background: url(../iconos/alarmasOn.svg) no-repeat 0px 0px; background-size: cover; }

.btnCharts .imgIcon { background: url(../iconos/charts.svg) no-repeat 0px 0px; background-size: cover; }
.btnCharts:hover .imgIcon, .btnCharts.activo .imgIcon { background: url(../iconos/chartsOn.svg) no-repeat 0px 0px; background-size: cover; }


.btnMonitor .imgIcon { background: url(../iconos/monitor.svg) no-repeat 0px 0px; background-size: cover; }
.btnMonitor:hover .imgIcon, .btnMonitor.activo .imgIcon { background: url(../iconos/monitorOn.svg) no-repeat 0px 0px; background-size: cover; }

.badgeNotificacion { width: 20px; height: 20px; border-radius: 10px; margin: 0 auto; margin-top: -13%; font-size: 80%; font-weight: 900; letter-spacing: -1px; text-align: center; text-indent: -1px; padding-top: 2px;}

.badgeNotiAlarma { width: 20px; height: 20px; border-radius: 10px; position: absolute; left: 41%; font-size: 80%; font-weight: 900; letter-spacing: -1px; text-align: center; text-indent: -2px; padding-top: 2px; margin-top: 2%;}

.btn3DMode .imgIcon { background: url(../iconos/rotateIcon.svg) no-repeat 0px 0px; background-size: cover; }
.btn3DMode:hover .imgIcon, .btn3DMode.activo .imgIcon { background: url(../iconos/rotateIconOn.svg) no-repeat 0px 0px; background-size: cover; }

.btn3DMode .ModeMove3D { background: url(../iconos/moveIcon.svg) no-repeat 0px 0px !important; background-size: cover; }
.btn3DMode:hover .ModeMove3D, .btn3DMode.activo .ModeMove3D { background: url(../iconos/moveIconOn.svg) no-repeat 0px 0px !important; background-size: cover; }

.logoWin { position: absolute; bottom: 5%; width: 100%; text-align: center;}
.logoWin img { width: 50%; }

/* PANEL DE CONTROL - SUB MENU */
.subMenu { position: absolute; top: 6%; left: 7%; height: 94%; width: 15%; z-index: 5;}
.panelControl {position: absolute; width: 100%; height: 100%; background: #fff; color: #555; border-left: 1px solid #ccc;}
.btnSlide { position:absolute; top: 0; right: -20.5%; width: 20%; height: 50px; text-indent:-9999px; background:#778f9b url('../iconos/slideBack.svg') no-repeat center center; background-size: 70%; }

.btnSlide a { display: block; width: 100%; height: 100%;}
.btnSlide.slideShow { background: #778f9b url(../iconos/slideShow.svg) no-repeat center center; background-size: 75%;}


.panelControl li { width: 100%; padding: 3% 0%; border-bottom: 1px solid #ccc; float: left;}
.panelControl li:last-child { border-bottom: none;}
.wrapControl { width: 95%; margin: 0 auto;}
.panelControl h1 { font-size: 100%; font-weight: 500; line-height: 16px; float: left; width: 90%; text-transform: uppercase; letter-spacing: -0.5px;}
.panelControl .tituloBreak { width: 60%; margin-top: 4%;}
.switch { float: right; margin-right: 3%;}

.tituloCentrado { text-align: center; margin-top: 5%;}
.tituloSoloControl { position: relative; float: left; width: 95%; left: 2.5%; margin-top: 3%; margin-bottom: 5%;}
.leyendaControl { font-size: 65%; color: #777; width: 100%; float: left; line-height: 12px; margin-top: 3%; font-weight:500; letter-spacing: -0.5px;}


.badgeNotiAlarmaBig { width: 40px; height: 40px; border-radius: 20px; font-size: 20px; font-weight: 500; letter-spacing: -2px; text-align: center; text-indent: -3px; margin: 0 auto; line-height: 40px;}

.slideLeft { left: -8.05%; }
.slideRight { left: 7%; }

/*========================================*/

/* COLORES ESCALA VALORES LEYENDAS ACORDEON*/

.circuloValor { width: 20px; height: 20px; border-radius: 50%; float: left; position: relative; top: 0px; left: 2%;}

.valorAzul { background: #3071F2}
.valorCeleste { background: #99D9F2}
.valorNaranja { background: #F2A30F}
.valorRojo { background: #9E2422}
.valorLila { background: #AB1CA3}
.valorVerde { background: #64D911}
.valorGris { background: #808080}
.valorAmarillo { background: #F2D90F}


/* OTRA ESCALA VALORES*/
.valorLima { background: #86D15A;}
.valorTurquesa { background: #77fce9;}
.valorNaranjin { background: #ffcc66;}
.valorRosa { background: #efc5f5;}
.valorFuscia { background: #EE14BE;}
.valorMusgo { background: #2fa69c;}
.valorGrisAzulado { background: #829dbb;}
.valorMarron { background: #7e4a00;}
.valorRojoIntenso { background: #ff0808}
.valorMarronClaro { background: #a78354;}
.valorGrisClaro { background: #cdcdcd}

/* COLORES ESCALA VALORES LEYENDAS SEVERIDAD TECNICAS*/

.severidadTec1 { background: #BF2C29; color: #fff;}

/* COLORES ESCALA VALORES LEYENDAS SEVERIDAD JUGADORES*/
.severidadJug1 {background: #f4c215}



/*========================================*/

/* ACORDEON */

.accordion { position: relative; float: left; width: 100%;}

.accordion li { padding: 3% 0%; }

.accordion li span{ float: left; width: 80%; text-indent: 5%;}

/* Aquí principalmente se "pisa" la librería de JQ UI del Acordeon. */

.ui-widget { font-family: inherit; font-size: initial; }
.ui-accordion .ui-accordion-icons { padding-left: 0.5em; }
.ui-state-active { border: none; background: #afbdc4 !important; font-weight: 400; color: #4d4d4d !important; }
.ui-state-default { border: none; background: #8fa3ad ; font-weight: 400; color: #fff; }
.ui-widget-content { border: none; background: none; color: inherit; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 0px !important; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 0px !important; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 0px !important; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 0px !important; }
.ui-accordion .ui-accordion-content { padding: 0em 0.2em; border-top: 0; overflow: auto; }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_fff_256x240.png); }
.ui-icon, .ui-widget-content .ui-icon { background-image: url(images/ui-icons_fff_256x240.png); }
.ui-accordion .ui-accordion-header .ui-accordion-header-icon { position: absolute; right: .5em !important; left: initial; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-header { display: block; cursor: pointer; position: relative; margin: 2px 0 0 0; padding: .5em .5em .5em .7em; min-height: 0; font-size: 100%; }
.ui-icon-triangle-1-e { background-position: -64px -16px; }
.ui-icon-triangle-1-s { background-position: -32px -16px; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; height:16px; width: 16px; }

.ui-widget-header { background: #36464e !important; border: none !important; color: #ffffff; font-weight: bold; }
.ui-dialog { background: #f1f1f1 !important;}
#dialog_layout_progress { min-height: 50px !important; height: auto !important;}

.ui-button { background: #778f9b !important; border: none !important; color: #fff !important;}
.ui-icon-closethick {background-image: url(../iconos/x.svg) !important; background-size: 90% !important; background-position: center center !important;}

/*========================================*/

/* MENU COMPARAR */

.menuComparar { position: absolute; right: -100%; float: right; width: 6%; height: 95%; top: 5%; background: #778f9b; z-index: 100; display: none;}
.menuComparar li { padding: 60% 0; border-bottom: 1px solid #fff; text-align: center; position: relative; float: left; clear: left; width: 100%;}
.menuComparar li a { width: 100%; height: 100%; position: absolute; display: block; top: 0; left: 0; color: #f1f1f1}
.menuComparar li span { width: 100%; text-transform: uppercase; letter-spacing: -0.5px; font-size: 13px;}

.menuComparar .imgIcon { width: 100%; max-width: 50%; height: 100%; max-height: 50%; margin: 0 auto; margin-top: 5%; }

.btnCompararTerminales .imgIcon {background: url(../iconos/maquinas.svg) no-repeat 0px 0px; background-size: cover;}
.btnAgregarTerminales .imgIcon {background: url(../iconos/maquinas.svg) no-repeat 0px 0px; background-size: cover;}
.btnDejarComparar .imgIcon { background: url(../iconos/dejarComparar.svg) no-repeat 0px 0px; background-size: cover;}

.btnAgregarTerminales { display: none;}

/*========================================*/

/* SLIDE COMPARAR */

.wrapContenidoComparar { position: absolute; width: 87%; height: 95%; top: 5%; float: right; right: -100%; z-index: 2; background: #fff; display: none;}
.comparacionTabla { position: relative; margin-top: 5%; width: 95%; left: 2.5%; font-weight: 500; height: 90%; overflow: auto;}

/*========================================*/

/* PANEL INFO DERECHA */

.slideDerecha { position: absolute; background: #fff; right: -100%; top: 6%; height: 94%; width: 15%; display: none; border-left: 2px solid #555; z-index:99;}
.cierraPanel {float: right; margin-right: 3%; width: 35px; height: 35px; margin-top: 2%; background: url(../iconos/cerrarBtn.svg) no-repeat center center; background-size: 130%; position: relative; z-index: 99;}
.cierraPanel a {display: block; width: 100%; height: 100%; text-indent: -9999px}

.panelslideLeft { right: 0%; display: block;}
.panelslideRight { right: -100%; display: none;}

/*  INFO MAQUINA */

.infoMaquina { position: absolute; width: 90%; height: 95%; top: -1%; margin: 5%;}
.infoMaquina li { border-bottom: 1px solid #555; padding: 5% 0%; width: 95%; float: left; margin: 1% 0%; text-align: center;}
/*.infoMaquina li:last-child { border-bottom: none;}*/
.infoMaquina li h1 { font-weight: 500; text-transform: uppercase; font-size: 75%;}
.infoMaquina li span { font-size: 150%;}
.datosTerminal { position: relative; float: left;}

.acordeonDerecha li span { float: initial; width: 100%;}

.insideAlarmas { width: 94%; height: 92%; position: absolute; margin: 3%; overflow: auto; margin-top: 5%; }

.insideTerminales {width: 94%; height: 90%; position: absolute; margin: 3%; overflow: auto; margin-top: 5%;}

.btnBuscarTerminal { width: 35px; float: right; height: 35px; background: #445963 url(../iconos/lupa.svg) no-repeat center center; background-size: 70%; margin-right: 1%; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; }
.btnBuscarTerminal a { width: 100%; height: 100%; display: block; text-indent: -9999px;}

.selectorAreaTerminal {width: 10%; float: right; margin-top: 1%; margin-right: 2%}
.selectorProveedorTerminales {width: 20%; float: right; margin-top: 1%;}

.btnCompararTerminales { background: url(../iconos/compararTerminales.svg) no-repeat center -2px; height: 40px; background-size: contain!important; display: block; cursor: pointer; text-indent: -9999px; }

.btnCompararTerminalesSel { background: url(../iconos/compararTerminalesSelect.svg) no-repeat center -2px; height: 40px; background-size: contain !important; display: block; cursor: pointer; text-indent: -9999px; }

.tablaTerminales .iconoDelete { margin-left: 20%;}

.tablaTerminales .EliminarAlarmaIcono { background-size: 45% !important;}
/*========================================*/

/* SLIDE CONFIGURACION */

.configuracionProfile { position: absolute; float: right; right: 0; top: 5%; width: 14.5%; background: #445963; color: #fff; border-top: 1px solid #ddd; display: none; z-index: 200;}

.wrapConfigProfile { width: 95%; margin: 0 auto;}
.wrapConfigProfile li { float: left; width: 100%; padding: 10% 0%; border-bottom: 1px solid #fff;}
.wrapConfigProfile li:last-child { border-bottom: none; text-align: center;}
.wrapConfigProfile h1 { font-size: 18px; font-weight: 700; letter-spacing: -0.5px; text-transform: uppercase; margin-top: -5%; width: 100%; margin-bottom: 2%;}

.planoWrap { width: 100%; float: left; margin: 5% 0% 5% 2%;}
.planoWrap h2 { width: 60%; float: left; font-weight: 500; line-height: 200%;}

.configLogOut a { background: url(../iconos/logOut.svg) no-repeat 40px center; background-size: contain; width: 100%; display: block; line-height: 30px; text-transform: uppercase; color: #f1f1f1; text-indent: 5%;}

#div_roles { width: 100%;}
#div_roles a { color: #f1f1f1; display: block;}
#div_roles div { width: 90%; text-align: center; height: 30px; line-height: 30px; float: left; margin-bottom: 2%; margin-top: 2%; margin-left: 5%;}

#div_roles #div_1 { background: #445963; border: 1px solid #fff;}
#div_roles #div_2 { background: #0090e9}
#div_roles #div_4 { background: #378d3b}
#div_roles #div_8 { background: #dc2b00}

.wrapConfigProfile input.cmn-toggle-round + label { background-color: #445963 !important;}

.btnTerminalComparar { position: relative; width: 100%; float: left; text-align: center; padding: 5% 0%; height: 40px; line-height: 40px}
.btnTerminalComparar a { display: block; cursor: pointer; color: #fff; text-transform: uppercase; font-size: 90%; font-weight: 500; background: #445963; }

.selCompararTerminal { position: relative; width: 100%; float: left; text-align: center; padding: 5% 0%; height: 40px; line-height: 40px}
.selCompararTerminal a {background: #8fa3ad url(../iconos/tildeRol.svg) no-repeat 3px 4px; background-size: 13%; display: block; cursor: pointer; color: #fff; text-transform: uppercase; font-size: 90%; font-weight: 500; }

/*========================================*/
/*COMPARTEN TERMINALES Y JUGADORES */

.jugadoresSearchBox, .terminalesSearchBox { float: right; width: 35%; margin-top: 0.5%; margin-right: 2%;}
.terminalesSearchBox { float: right; width: 30%;}

.srcJugadorPanel, .srcTerminalPanel { border: 1px solid #ccc; width: 75%; height: 30px; float: left; line-height: 30px; font-size: 12px; text-indent: 5px; margin-top: 1%;}

/* JUGADORES */


.btnBuscarJugador { width: 35px; float: right; height: 35px; background: #445963 url(../iconos/lupa.svg) no-repeat center center; background-size: 70%; margin-right: 1%; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;}
.btnBuscarJugador a { width: 100%; height: 100%; display: block; text-indent: -9999px;}

.wrapJugadores { position: absolute; width: 93%; height: 94%; top: 6%; float: right; right: -100%; z-index: 2; background: #fff; display: none;}
.insideJugadores { width: 94%; height: 92%; position: absolute; margin: 3%; overflow: auto; margin-top: 1%; }

.headerTablas { float: right; width: 65%; right: 3%; position: absolute; margin-top: 0.5%; z-index: 99999;}
.cierreLista { float: right; margin-right: 2%; width: 40px; height: 40px; margin-top: 0%; background: url(../iconos/cerrarBtn.svg) no-repeat center center; background-size: 125%;}
.cierreLista a { display: block; width: 100%; height: 100%; text-indent: -9999px}
.selectorNivelJugadores { width: 10%; float: right; margin-top: 1%; margin-right: 3%;}
.iraComparar { background: #445963; width: 25%; float: right; height: 32px; line-height: 32px; color: #f1f1f1; text-transform: uppercase; font-size: 80%; text-align: center; font-weight: 500; cursor: pointer; margin-right: 3%; margin-top: 1%; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}


.tablaJugadores { width: 100%; height: 90%; overflow: auto; font-weight:500; margin-top: 3%;}
.btnDetallesJugadores { display: block; background: url(../iconos/detalles.svg) no-repeat center center; text-indent: -9999px; width: 100%; height: 100%; cursor: pointer}
.btnLocalizarJugador { display: block; background: url(../iconos/localizar.svg) no-repeat center center; text-indent: -9999px; width: 100%; height: 100%; cursor: pointer}

/*.tablaJugadores .jtable-main-container { margin-top: 1%;}*/

.wrapJugadores .filtering { float: right; width: 95%; text-align: right; height: 40px; margin-top: 2%; margin-right: 0.3%;}
#WSICustomersAtRoom_LoadRecordsButton {width: 35px; height: 35px; background: #445963 url(../iconos/lupa.svg) no-repeat center center; background-size: 70%; display: inline-block; text-indent: -99999px; cursor: pointer;
border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; border: none;}
#WSICustomersAtRoom_ClearFilterButton {width: 35px; height: 35px; float: right; background: #778f9b url(../iconos/salirFiltro.svg) no-repeat center center; background-size: 90%; display: inline-block; text-indent: -99999px; cursor: pointer; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; border: none;}


#jtCustomersAtRoom { height: 90%; overflow: auto; width: 100%;}
.jtable-page-list span { padding: 0% 1%; cursor: pointer; background: #f1f1f1; box-shadow: 0px 1px 2px #a0a0a0; margin: 0.2%; display: inline-block; height: 30px; line-height: 30px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}
.jtable-page-list span:hover { color: #888; background: #f4f6f9; }
.jtable-page-number-active {color: #fff; background: #445963 !important; }

.jtable-page-number-last { display: block; text-indent: -99999px; background-image: url(../iconos/lastPage.svg) !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: 60% !important; width: 30px;}
.jtable-page-number-first { display: block; text-indent: -99999px; background-image: url(../iconos/firstPage.svg) !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: 60% !important; width: 30px;}
.jtable-page-number-previous { display: block; text-indent: -99999px; background-image: url(../iconos/backPage.svg) !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: 60% !important; width: 30px;}
.jtable-page-number-next { display: block; text-indent: -99999px; background-image: url(../iconos/nextPage.svg) !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: 60% !important; width: 30px;}

.jtable-title-text span { float: left; text-indent: 0.5%; margin-bottom: 1%; text-transform: uppercase; font-weight: 500;}

.jtable-bottom-panel { margin-top: 0.5%;}
.jtable-left-area { margin-bottom: 0.5%;}
.jtable-page-list { margin-right: 1%;}

.jtable-goto-page { padding: 0% 1%;}
.jtable-page-info { font-size: 90%; display: none;}

.infoJugador {position: absolute; width: 90%; margin: 5%; margin-top: 3%;}
.infoJugador .fotoJugador { width: 100%; text-align: center; margin-bottom: 5%; }
.fotoJugador .imgProfile { max-width: 30%; float: initial;}
.fotoJugador .imgProfile img { max-height: 60px;}
.fotoJugador, .nombreJugador { border-bottom: none !important;}

/*.infoJugador li h1 { font-weight: 500; text-transform: uppercase; font-size: 90%; display: inline-block;}
.infoJugador span { font-size: 90%; }*/

.infoJugador li { border-bottom: 1px solid #ddd; padding: 3% 0%;}
.nombreJugador h1 { font-size: 100% !important; text-align: center; width: 100% !important; margin-bottom: 5%;}

.acordeonDerecha li { padding: 3% 3% !important;}
.acordeonDerecha h4 { font-weight: 500;}

.btnCompararJugador {background: url(../iconos/compararJugador.svg) no-repeat center center; height: 40px; background-size: contain !important; display: block; cursor: pointer; text-indent: -9999px;}
.compararJugSel {background: url(../iconos/jugadorSelected.svg) no-repeat center center; height: 40px; background-size: contain !important; display: block; cursor: pointer; text-indent: -9999px;}

/*  CLICK EN MAPA INFO JUGADORES  */

.datosJugador { float: left; position: relative; width: 100%; margin-bottom: 5%;}

.photoContenedor { float: left; width: 100%; text-align: center;}
.photoPlayer { width: 60px; height: 60px; border: 2px solid #9e9e9e; background-color: #9e9e9e; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; position: relative; z-index: 99999;}

.infoJugador .nombreJugador { float: left; width: 100%; text-align: center; padding-bottom: 5%; padding-top: 5%; border-bottom: 1px solid #888 !important;}
.edadJugador, .nivelJugador { float: left; width: 40%; padding-bottom: 5%; padding-top: 5%; border-bottom: 1px solid #888 !important;}
.nivelJugador { width: 60%; }
.edadJugador h1, .nivelJugador h1, .generoJugador h1 { float: left; width: 50%; font-size: 80%; height: 20px; line-height: 20px; font-weight: 500; text-align: left;}
.generoJugador {float: left; width: 100%; text-align: center; padding-bottom: 5%; padding-top: 5%; border-bottom: 1px solid #888 !important;}
.generoJugador span { width: 50%; float: left; text-align: left;}

#popup_player_name { font-weight: 500;}

.datosJugador span { font-size: 80%; height: 20px; line-height: 20px;}

.datosSesion { float: left; width: 100%;}
.datosJugadas, .datosJugados, .datosGanado, .datosApuestaM, .datosNetWin { float: left; width: 100%; padding-bottom: 3%; padding-top: 3%; border-bottom: 1px solid #888;}
.datosPlayer { width: 45%; float: left; text-align: center; border-right: 1px solid #888; padding-right: 5%;}
.datosPlayer span { font-size: 170%; }
.datosPlayer h1 { font-size: 70%; font-weight: 600;}

.btnJugadorComparar { position: relative; width: 100%; float: left; text-align: center; padding: 5% 0%; height: 40px; line-height: 40px}
.btnJugadorComparar a { display: block; cursor: pointer; color: #fff; text-transform: uppercase; font-size: 90%; font-weight: 500; background: #445963; }

.selCompararJug a {background: #8fa3ad url(../iconos/tildeRol.svg) no-repeat 3px 4px; background-size: 13%;}


/*========================================*/

/*  FILTROS  */

.btnCreaFiltro { display: block; text-indent: -9999px;  width: 35px; float: right; height: 35px; background: #445963 url(../iconos/agregarFiltro.svg) no-repeat center center; background-size: 80%; margin-right: 1%; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; cursor: pointer}
.filtosTrash { background: #8fa3ad url(../iconos/salirFiltro.svg) no-repeat center center !important; }
.comparaControl .tituloCentrado { text-align: left !important}
.comparaControl h1 { width: 70% !important;}

/*.btnsCrearFiltro {width: 40%; float: right; margin-right: 0%; font-size: 90%; text-align: center; text-transform: uppercase; background: #778f9b; height: 40px; line-height: 40px; margin-top:5%;}
.btnsCrearFiltro a { color: #f1f1f1;}
*/

.btnsCrearFiltro { position: absolute; bottom: 2%; width: 100%;}

.childLegendSelected {
  background-color: #f0f8ff;
}


.dialogFrame {
  margin: auto;
  position: absolute;
  background-color: rgba(240,240,240,1);
  text-align: left;
  height: 95%;
  width: 20%;
  right: 0%;
  top: 5%;
}


.itemRangesList {
  /* padding: 5px; */
  width: 95%;
 border: none;
  margin-bottom: 5px;
  background-color:none !important;
  border-bottom: 1px dotted #888;
  padding: 2%;
  font-size:90%;
}

#div_selected_filter_list { width:90%; border:none; margin-left: 5%; margin-right: 0%; margin-top: -5%; }

#ul_selected_filter_list .children { text-indent: 3%;}

#div_selected_filter_list b { background: #8fa3ad; color: #fff; font-size: 95%; display: block; width: 100%; height: 30px; line-height: 30px; text-indent: 5px; font-weight: 500; margin-top: 3%;}

.btnGuardarFiltro { width: 50%; height: 40px; float: left; font-size: 90%; background: #36464e url(../iconos/checkMark.svg) no-repeat 5px center; text-align: center; text-transform:uppercase; line-height: 40px; margin-left: 3%; text-indent: 10%; color: #f1f1f1; }
.btnFiltrarFiltro{ width: 40%; float: right; margin-right: 3%; font-size: 90%; text-align: center; text-transform: uppercase; background: #778f9b; height: 40px; line-height: 40px; color: #f1f1f1 !important;}

.btnGuardarFiltro a, .btnFiltrarFiltro a { color: #f1f1f1 !important;  }


.wrapControl .btnGuardarFiltro { position: relative; float: right !important; margin-top: 2%;}

.BtnClose { background:  url(../iconos/cerrarBtn.svg) no-repeat 0px 2px; background-size: 95%; width: 40px !important; }

#div_dialog_content_2 h3, #div_dialog_content h3 { background: #f1f1f1 !important; font-size: 100%; color: #555; text-transform: uppercase; font-weight: 500; margin-top: 2%;}

.reproducirSonidoOpt, .habilitarFiltro { position: relative; float: left; width: 90%; margin: 5%; padding: 10% 0%; border-bottom: 1px solid #ccc; font-size: 90%; letter-spacing: -0.5px; font-weight: 500; color: #555;}

label#lbl_create_filter_type {
    width: 70%;
    float: left;
    position: relative;
}

#lbl_create_filter_error { font-size: 70%; font-weight: 500; letter-spacing: -0.2px; width: 100%; }

#div_dialog_content label { float: left; line-height: 2;}
#sel_legend_operator { border: none; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; margin: 5%; float: right; width: 90%;}

ul#ul_selected_filter_list { width: 95%;}


#color_list { position: absolute; bottom: 8%; width: 95%; margin: 5%;}

.selectorColor li { float: left; width: 50px; margin: 1%; display: block; height: 30px; cursor: pointer; list-style: none; border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px;}

.imgIcon.AlarmWarning { background: url(../iconos/alarms/monitor_warning.svg) no-repeat center center !important}

.nombreFiltro { width: 90%; margin: 5%; float: left; }
#txt_create_filter_name { margin-left: 0% !important; width: 100%; }


#div_selected_filter_list { max-height: 400px !important;}

.rowBotonesFiltros { position: absolute; width: 100%; bottom: 2%;}

.filtroEditable { background: url(../iconos/lapizEditBlack.svg) no-repeat right center; background-size: 7%;}

#dialog_slider_min_value, #dialog_separator, #dialog_slider_max_value { font-size: 110%; padding: 2%; background: #fff; margin: 5% 0%; cursor: pointer;}
#dialog_slider_min_value { margin-left: 5%;}
#dialog_separator { background: none;}

#dialog_slider_min_value, #dialog_slider_max_value { max-width: 38%; width: 100%; height: 40px;}

input#dialog_slider_min_value, input#dialog_slider_max_value {
    min-width: 60px; max-width: 35%; width: 100%; float: left; margin-top: 6%; height: 40px;
}


/*========================================*/

/*  LEYENDAS  */


.dialogLegendDetail { width: 15%; max-height: 600px; min-height: 200px; position: absolute; right: 0%; bottom: 0%; overflow: auto; padding: 0.5%; z-index: 2; }
.dialogLegendDetail .circuloValor { width: 15px; height: 15px; margin-top: 5px;}


.dialogLegendDetail h1 { font-size: 90%; /*background: url(../iconos/tildeRol.svg) no-repeat left 5px center; background-size: 10%;*/ text-indent: 30px; margin-bottom: 1%;}

.tituloLeyenda { float: left; width: 100%; border-bottom: 1px solid #ccc; font-size: 100%; background: none !important; color: #fff; font-size: 100% !important;}
/*========================================*/

/*  DASHBOARD  */

.dashBoardBtn li { padding: 5% 0; height: 30px; position: relative; }


.wrapDashboard { width: 93%; float: right; right:0; position: absolute; height: 95%; top: 5%; overflow: auto; background: #1D2226; z-index: 2;}
.dashboard { display: inline-block; position: relative; margin: 1%; min-height: 300px;}
.col30 { width: 30%;}
.col50 { width: 46%;}
.col100 { width: 96%;}

/*========================================*/

/*  MIS TAREAS  */

.wrapMisTareas { width: 93%; float: right; right:0; position: absolute; height: 95%; top: 5%; overflow: auto; background: #fff; z-index: 2;}
.wrapMisTareas .userProfile { right: initial; left: 10%; position: relative; width: 80%; top: 5%; height: 17%;}
.wrapMisTareas .contenedorRol { width: 80%; margin-left: initial; margin-top: initial; margin-right: initial; float: left;}
.wrapMisTareas .imgProfile { max-width: 10%; margin-right: initial;}
.wrapMisTareas .imgProfile img { max-height: 80px; width: 80%;}

.wrapMisTareas .nameProfile, .wrapMisTareas .rolProfile { font-size: 150%; }

.wrapPanel { position: relative; float: left; width: 80%; left: 10%;}

.wrapMisAlarmas, .wrapTareasTabla { position: relative; float: left; width: 100%; margin-bottom: 2%;}
.misAlarmasHeader h1, .misTareasHeader h1 { font-size: 200%; text-indent: 6%; width: 25%; height: 40px; font-weight: 300; float: left; position: relative; margin-top: -0.5%;}
.misAlarmasHeader h1 {background: url(../iconos/alarmasOn.svg) no-repeat 5px -5px; background-size: 14%; height: 50px; }
.misTareasHeader h1 {background: url(../iconos/tareasOn.svg) no-repeat 5px -5px; background-size: 17%;}

.btnTodasAlarmas, .btnTodasTareas { width: 40px; height: 40px; float: right; position: relative; color: #fff; display:block; text-indent: -9999px; right: 0.5%; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; background: #778f9b url(../iconos/arrowDown.svg) no-repeat 10px 12px; background-size: 50%; }
/*.btnTodasAlarmas {background: #778f9b url(../iconos/alarmas.svg) no-repeat left 5% center; background-size: 20%; }
.btnTodasTareas { background: #778f9b url(../iconos/tareas.svg) no-repeat left 5% center; background-size: 20%; }*/

.btnTodasAlarmasShow, .btnTodasTareasShow {background: #445963 url(../iconos/arrowUp.svg) no-repeat 10px 10px !important; background-size: 50% !important;}

.accionesTareas, .accionesAlarmas { position: relative; float: right; width: 8%; margin-top: -1%;}
.accionesTareas li, .accionesAlarmas li { display: inline-block; padding: 0%; padding-left: 5%; padding-top: 10%;}


.filtrarTareas, .filtrarAlarmas { width: 40px; height: 40px; float: left; position: relative; color: #fff; display:block; text-indent: -9999px; right: 0.5%; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; background: #778f9b url(../iconos/monitor.svg) no-repeat 8px 7px; background-size: 60%;  touch-action: none;}

.filtrarTareasClose {background: #445963 url(../iconos/x.svg) no-repeat 11px center !important; background-size: 45% !important;}

.tablaAlarmas { width: 100%; float: left; top: 1%;}
.tablaTareas { width: 100%; float: left; position: relative;}
.leyendaTablas { position: relative; float: left; width: 100%; font-size: 90%;}
.leyendaTablas li { float: left; margin: 1%; min-width: 20%;}
.leyendaTablas li span { width: 100%; margin-left: 5%; font-size: 90%;}
.circuloAlarma { width: 30px; height: 30px; border-radius: 50%; margin: 0 auto; -moz-border-radius: 50%; -webkit-border-radius: 50%; cursor: pointer}



/* COLORES ESCALA VALORES LEYENDAS SEVERIDAD ALARMAS*/
.severidad3 {background: #9E2422;}
.severidad2 {background: #F2D90F;}
.severidad1 {background: #3071F2;}

.circuloAlarma.severidad3 {background: #9E2422 url(../iconos/plusSymbol.svg) no-repeat center center; background-size: 120%;}
.circuloAlarma.severidad2 {background: #F2D90F url(../iconos/plusSymbol.svg) no-repeat center center; background-size: 120%;}
.circuloAlarma.severidad1 {background: #3071F2 url(../iconos/plusSymbol.svg) no-repeat center center; background-size: 120%;}

.circuloAlarma.circuloAlarmaOn.severidad3 {background: #9E2422 url(../iconos/minusSymbol.svg) no-repeat center center; background-size: 120%;}
.circuloAlarma.circuloAlarmaOn.severidad2 {background: #F2D90F url(../iconos/minusSymbol.svg) no-repeat center center; background-size: 120%;}
.circuloAlarma.circuloAlarmaOn.severidad1 {background: #3071F2 url(../iconos/minusSymbol.svg) no-repeat center center; background-size: 120%;}



td.AlarmaObservacion { text-align: left; vertical-align: top; padding: 1%; width: 85%; font-size: 110%;}

.EliminarAlarmaIcono { background: url(../iconos/cerrarBtn.svg) no-repeat center center; text-indent: -9999px; height: 50px; width: 100%; background-size: 60%; display: block; cursor: pointer;}

.AdjuntoIcono {background: url(../iconos/attachment.svg) no-repeat center center; text-indent: -9999px; height: 40px; width: 100%; max-width:100px; background-size: 60%; display: block; cursor: pointer;}
.AdjuntoIconoOn {background: url(../iconos/attachment-minus.svg) no-repeat center center !important; background-size: 60% !important;}

.btnLocalizarAlarma { display: inline-block; background: url(../iconos/localizar.svg) no-repeat center center; text-indent: -9999px; height: 40px; width: 40px; background-size: 150%;}
.btnDerivarAlarma, .btnAccionarAlarma, .btnEstadoTarea{ width: 35%; padding: 3% 3%; color: #fff; text-transform: uppercase; margin-left: 3%; background: #36464e; font-weight: 600; display: inline-block; font-size: 85%; }
.btnAccionarAlarma { background: #778f9b}
.btnEstadoTarea { width: 70%; background: #36464e; font-size: 80%; padding: 3% 3%; }
.btnEnviarMensaje {background: url(../iconos/message.svg) no-repeat center center; text-indent: -9999px; width: 40px; height:40px; max-width:100px; background-size: 60%; display: block; cursor: pointer; float:right; clear:none;}
.btnInfoTareas { display: inline-block; background: url(../iconos/info.svg) no-repeat center center; text-indent: -9999px; height: 40px; width: 70px; background-size: 100%;}

.alarmaDerivada { display: block; background: url(../iconos/derivado.svg) no-repeat left 10% center;}

.statusAlarma { width: 65%; margin: 0 auto; padding: 6% 1%; text-transform:uppercase; font-weight: 600; font-size: 90%; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
.alarmaPendiente { color: #fff; background: #9E2422 }
.alarmaCurso { color: #fff; background: #0187d0 }
.alarmaResuelta { color: #fff; background: #378d3b;}
.alarmaValidada {background: #778f9b; color: #fff;}
.alarmaEscalada { color: #333; background: #F2D90F;}


.btnAlarmaPendiente {color: #fff; background: #9E2422; width: 90%; padding: 10%; }

.tablaHide, .tareasHide { display: none;}
.tablaShow { }

.infoPanel { position: absolute; width: 85%; height: 90%; top: 5%; margin: 5%; overflow-x: hidden; overflow-y: auto; display: none;}
.infoPanel h3 { text-transform: uppercase; font-size: 75%;}

.panelDerivar { width: 90% !important;}

.txtComentarioAlarma { font-size: 90%; width: 100%; margin-top: 5%;}

.panelAccionar, .panelDerivar { }

.panelEnviarMensaje { padding-bottom: 10px;}

.send-message { }

.comentarioAlarma { border: 1px solid #888; position: relative; width: 98%; left: 2.5%; font-size: 12px; min-height: 150px; resize: none;}

.derivarRol input[type="radio"] + label, .estadoAlarmas input[type="radio"] + label, .severidadAlarma input[type="radio"] + label {
  color: #555;
  float: left;
  width: 90%;
  margin-left: 2.5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid #888;
}


.severidadAlarma { position: relative; float: left; margin: 2.5%; margin-top: 5%;}

 input[type="radio"]:checked + label span.inputSeveridad1 {
  background-color: #9E2422 !important;
}

 input[type="radio"]:checked + label span.inputSeveridad2 {
  background-color: #F2D90F !important;
}

 input[type="radio"]:checked + label span.inputSeveridad3 {
  background-color: #3071F2 !important;
}

label.radioBtn {
    cursor: pointer;
}

.seleccionRol li { display: block; cursor: pointer;}

.comentarioAccion { float: left; margin-top: 5%; position: relative; width: 95%;}
.comentarioAccion h3 { font-size: 80%; left: 2.5%; position: relative; margin-bottom: 5%;}

.btn100Derecha { position: relative; float: left; margin-top: 5%; width: 95%; left: 2.5%; background: #36464e; height: 40px;}
.btnAccionDerivar { display: block; width: 100%; line-height: 40px; color: #fff; text-align: center; text-transform: uppercase;}

.rolOculto { display: none;}

#acordeon { margin: 2.5%; margin-top: 5%;}
#acordeon li, .resultadoUsuarioRol li { border-bottom: 1px solid #999; width: 90%; float: left; list-style: none; font-size: 90%; background-color: #f9f9f9; clear: left;}

.rolSeleccionado, .userSeleccionado { background: #778f9b url(../iconos/tildeRol.svg) no-repeat left 5px center !important; background-size: 10% !important; color: #fff;}


.resultadoUsuarioRol { margin: 2.5%; float: left; width: 100%; position: relative;}
.resultadoUsuarioRol li { text-indent: 15%; padding-bottom: 2%; line-height: 25px;}


.buscarUsuario { float: left; width: 100%; margin-top: 5%;}
.buscarOculto { display: none;}


.bodyChild {
    position: relative;
    float: left;
    width: 100%;
    margin-top: -40px;
	background: #f9f9f9;
}

.imgBodyChild {
    float: left;
    position: relative;
    width: 120px;
    margin: 1%;
}

.observationChild {
    position: relative;
    float: left;
    margin: 1%;
    width: 80%;
    text-align: left;
}

.observationChild h1 { font-size: 150%; font-weight: 600;}
.observationChild p { width: 100%; margin-top: 1%; font-size: 120%;}


.AdjuntoImagen { cursor: pointer; width: 80px; height: 80px; padding: 2%; margin-bottom: 2%; border:1px solid #aaa;}

th.AlarmaImagen { width: 15%; text-indent: -9999px;}

td.AlarmaImagen { float: left; position:relative; margin-top: -25px; margin-left: 80px;}
.AlarmaImagen img {cursor: pointer; width: 80px; height: 80px; padding: 2%; margin-bottom: 2%; border: 1px solid #aaa}


.photoZoom{
        /* Aumentamos la anchura y altura durante 2 segundos */
        transition: width 0.5s, height 0.5s, transform 0.5s;
        -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
        -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
        -o-transition: width 0.5s, height 0.5s,-o-transform 0.5s;
        /* border-radius: 10%;
        border: 2px solid #9e9e9e;
        background-color: #9e9e9e;*/
		
		width: auto !important;
    height: 80% !important;
    position: fixed;
    top: 10%;
    left: 0;
    z-index: 100000;
    margin: 0 auto;
    max-width: 700px;
    right: 0;
    bottom: 0;
	padding:1% !important;
	border: 5px solid #36464e;
	background: #f9f9f9;
	
	-webkit-box-shadow: 2px 7px 33px 13px rgba(0,0,0,0.49);
	-moz-box-shadow: 2px 7px 33px 13px rgba(0,0,0,0.49);
	box-shadow: 2px 7px 33px 13px rgba(0,0,0,0.49);
	
    }
 
.photoPlayer:hover{
        /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
        /*transform : scale(3);
        -moz-transform : scale(3);      
        -webkit-transform : scale(3);   
        -o-transform : scale(3); */       
}

.selectorNivelAlarma, .selectorNivelTareas {
    float: right;
    position: relative;
    width: 38%;
	height: 40px;
	margin-top: 0.2%;
	opacity: 0;
	-webkit-opacity:0;
	-moz-opacity:0;
	transition:all 0.3s ease;
}



.selectorNivelTareasShow, .selectorNivelAlarmaShow { opacity: 1; -webkit-opacity: 1; -moz- opacity: 1;}

.selectNivelAlarma, .selectNivelTareas { max-width: 120px; width: 100%; float: left; margin-right: 5%; margin-top:0.5%;}


.selectorNivelAlarma {
    width: 14%;
}

.selectNivelAlarma { margin-top: 1.5%;}

.labelNivelAlarma, .labelNivelTareas {
    display: inline-block;
    margin: 10px;
    height: 40px;
    line-height: 10px;
    vertical-align: middle;
	float: left;
	}

.btnBuscar {
    width: 40px;
    float: left;
    position: relative;
    height: 40px;
    background: #778f9b url(../iconos/lupa.svg) no-repeat center center;
    background-size: 65% !important;
    margin-left: 2%;
	margin-top: -0.5%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	cursor: pointer;
}

.btnBuscar a{ display: block; text-indent: -99999px;}

.tableFilters {
    float: left;
}

.iconoDelete { display: block; text-indent: -9999px; background: url(../iconos/salirFiltro.svg) no-repeat center center; width: 40px; height: 40px; }

.misTareasHeader { position: relative; float: left; width: 100%; margin-bottom: 1%;}

/*========================================*/

/*  ALARMAS  */

.buttonFilter { height: 40px; width: 90%; margin-left: 5%; margin-top: 2.5%; border-color: initial; text-transform: uppercase; background-image: url(../iconos/iconoFiltrar.svg); background-repeat: no-repeat; background-color: #445963; background-position: 20% center; background-size: 15%; }

.terminalAlarmsMode .headerTablas { width: 50% !important;}
.terminalAlarmsMode .terminalesSearchBox { width: 40% !important;}

.selectorCategoriaAlarmas { width: 20%; float: left; margin-top: 1%;}
.selectorSubcategoriaAlarmas { float: left; margin-top: 1%;}
.selectSubcategoriaAlarmas { max-width: 130px;}
/*========================================*/

/*  MONITOR  */

.alarmBlink {
    background-color: #eaeaea !important;
}

.tituloFiltro {
    width: 70% !important;
}

#div_legend_container_80001 { border-bottom: 1px solid #ccc; margin-bottom: 5%; padding-bottom: 5%;}
#sub_menu_40 .comparaControl h1 { width: 80% !important; } 

.alarmaEnFiltroOn {
    background: url(../iconos/avisoAlarmaMonitor.svg) no-repeat center center !important;
    background-size: 120% !important; 
    width: 20px;
    height: 20px;
    float: left;
    display: block;
}


.btnEdicionFiltros {
    float: right;
    background: #445963 url(../iconos/lapizEdit.svg) no-repeat center center;
	background-size: 40%;
    width: 35px;
    height: 35px;
	border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
}

.btnEdicionFiltrosOff {
    background: #445963 url(../iconos/x.svg) no-repeat center center !important; background-size: 40% !important;

}

a.imgAlarmaMonitor {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.btnAlarmaMonitor {
    float: right;
    background: #445963 url(../iconos/alarmaMonitorOn.svg) no-repeat center center;
	background-size: 100%;
    width: 35px;
    height: 35px;
	border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
}

.btnAlarmaMonitorOff {background: #778f9b url(../iconos/alarmaMonitorOff.svg) no-repeat center center; background-size: 100%;}

.altavozMonitor {
    float: right;
    position: absolute;
    right: 2%;
    width: 10%;
    opacity: 0.2;
	background: url(../iconos/monitorSpeakerOff.svg) no-repeat center center; 
	background-size: 100%;
	height: 25px;
	margin-top: -1%;
}

.btnFiltrosPanelIzq { position: relative; float: right; width: 100%; margin-top: 2%; margin-right: 1%;}
 
.iconoAlarmaFiltro {background: url(../iconos/avisoAlarmaMonitor.svg) no-repeat center center !important; background-size: cover !important;  }

.monitorFiltro { position: relative; float: left; width: 100%; margin-bottom: 5%;}
.monitorFiltro h1 { width: 100%; float: left; clear: left; color: #fff; font-size: 80%; font-weight: 500; text-indent: 30px; margin: 1% 0%; }

.monitorFiltro .tituloLeyenda { margin-top: -19px; padding-bottom: 2%; text-indent: 30px !important}

.monitorFiltro .tituloCategoria { font-weight: 600; color: #fff; font-size: 90%; text-indent: 20px; }
 
/*========================================*/

/*LOGIN*/

.bodyLogin {background: #36464e;}

.wrapLogin { position: absolute; top: 0; left: 0; bottom: 0; right: 0; max-height: 450px; max-width: 350px; width: 100%; height: 100%; margin: auto; border: 1px solid #999; background: #f9f9f9;}
.wrapLogin h1{ width: 90%; height: 30px; margin: 5%; text-transform: uppercase; font-weight: 400; color: #555; text-align: center;}
.logoCasino { width: 90%; margin: 5%; text-align: center;}
.logoCasino img { width: auto; height: 100%;}

.usuarioLogin, .passwordLogin { width: 90%; height: 40px; border: 1px solid #999; margin: 5%; text-indent: 5%; line-height: 40px; font-size: 90%; color: #555; background-color: #fff !important; }
.btnLogin a { width: 90%; height: 40px; display: block; margin: 5%; line-height: 40px; font-size: 120%; text-align: center; color: #fff; background: #36464e; text-transform: uppercase;}
.btnLogin a:hover { background: #778f9b}

.inputsLogin span { display: none;}

/*========================================*/


/* SCROLLBARS*/
body {

scrollbar-face-color: #555555;
scrollbar-highlight-color: #666666;
scrollbar-shadow-color: #444444;
scrollbar-3dlight-color: #777777;
scrollbar-arrow-color: #cccccc;
scrollbar-track-color: #dddddd;
scrollbar-darkshadow-color: #333333;

}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #dddddd;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #dddddd;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555555;
}



/*========================================*/


/* ANIMACIÓN CHECKBOXES ESTILO iOS*/

.cmn-toggle { position: absolute; margin-left: -9999px; visibility: hidden; }
.cmn-toggle + label { display: block; position: relative; cursor: pointer; outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round + label { padding: 2px; width: 50px; height: 30px; background-color: #dddddd;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after { display: block; position: absolute; top: 1px; left: 1px; bottom: 1px; content: ""; }
input.cmn-toggle-round + label:before { right: 1px; background-color: #f1f1f1; 
	-webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 30px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before { background-color: #1F8AFF; }
input.cmn-toggle-round:checked + label:after { margin-left: 25px; }

/* RADIO BOTONES STYLE */

input[type="radio"] { display:none; }
input[type="radio"] + label { color: #fff; float: left; width: 45%; margin-left: 5%; }
input[type="radio"] + label span { display:inline-block; width:19px; height:19px; margin:-1px 4px 0 0; vertical-align:middle; cursor:pointer;
	-moz-border-radius:  50%;
	border-radius:  50%;
	-webkit-border-radius: 50%;
}

input[type="radio"] + label span { background-color:#ccc; }

input[type="radio"]:checked + label span{ background-color:#1F8AFF; }

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

/*========================================*/

/* TABLAS */
table, th, td { /* border: 1px solid #fff; */ border-spacing: 1px;}
table {  width: 100%; font-size: 90%;}
th { background-color: #36464e; color: #fff; text-transform: uppercase; font-weight: 500; font-size: 90%; height: 40px; padding-left: 1%; padding-right: 1%;}
td { text-align: center; font-size: 90%; height: 45px;}
tr { background: #ddd;}

/*tr:nth-child(even) { background-color: #eee; }*/

tr.selected { background: #8cdae0; color: #fff;}

.jtable-child-row table { border-collapse: collapse !important;}
.jtable-child-row th{ background-color: #ddd !important; color: #36464e; font-size: 120%;}
.AlarmaObservacion { text-align: left !important; text-indent: 5%;}

/*========================================*/

/* LEYENDA PORTRAIT" */

.leyendaPortrait { display: none; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #555; width: 100%; height: 100%; z-index: 10000; color: #fff;}

.leyendaWin { width: 500px; height: 100px; position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; text-align: center;}
.leyendaWin img { margin: 0 auto; height: auto;}
.leyendaWin span { float: left; width: 100%;}

/*========================================*/

/* ICONOS MAPA DE PISO */


.div_terminal .selected{ background-image: url(../iconos/terminalSelected.svg) !important; background-repeat: no-repeat;}
.div_jugadores { }

.mapaPiso ul {position: absolute; left: 40%; top: 30%; float: left; clear: left; margin-bottom: 5%; }
.mapaPiso ul .div_terminal { position: initial; }
/*----------------------*/

.jugadorVip { background: #f4bd1a url(../iconos/piso/jugadorVip.svg) no-repeat center center; background-size: cover;}
.jugadorJackPot { background: #558b3e url(../iconos/piso/jackPot.svg) no-repeat center center; background-size: cover;}
.jugadorHandPay { background: #43b3e6 url(../iconos/piso/handPay.svg) no-repeat center center; background-size: cover;}
.jugadorHighRoller { background: #f37c20 url(../iconos/piso/highRoller.svg) no-repeat center center; background-size: cover;}
.alarmaTerminal { background: #db3126 url(../iconos/piso/alarma.svg) no-repeat center center; background-size: cover;}

/*========================================*/

/* Slider */

#sldZoom { position: absolute; width: 10%; bottom: 2%; margin-left: 40%; background: #f1f1f1;}
.bordesRedondos {border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important; border-top-left-radius: 10px !important; border-top-right-radius: 10px !important;}

.ui-slider-horizontal .ui-slider-handle { top: -.5em; border: 2px solid #fff !important; }
.ui-slider-horizontal { height: .5em; }

/*========================================*/

/* CSS al "VIVO" */

#WSICustomersAtRoom_filter_player_name { border: 1px solid #ccc; height: 30px; line-height: 30px;}

select {
   	padding: 3px;
   	font-size: 14px;
   border-radius: 3px;
   border:1px solid #ccc;
   background: #f1f1f1;
   height: 32px; 
   line-height: 33px;
   color: #555;

}

option { background: #f1f1f1; border: none; outline: none !important;}


/*========================================*/




/* MEDIA QUERIES RESPONSIVO" */

@media only screen and (max-width: 1024px) and (max-height: 700px) {

body, .ui-accordion, .ui-accordion-header, .accordion li span { font-size: 95%;}

.headerTop { height: 7%;}
.menuPrincipal, .subMenu, .menuComparar, .wrapContenidoComparar, .wrapJugadores, .configuracionProfile, .slideDerecha, .wrapDashboard, .dialogFrame { top: 7%;}
.menuPrincipal, .subMenu, .menuComparar, wrapContenidoComparar, .wrapJugadores, .slideDerecha, .wrapDashboard, .dialogFrame { height: 93%;}

.wrapControl { margin-top: 3%;}
.menuPrincipal li { padding: 35% 0% !important;}
.panelControl li { padding: 2% 0%;}
.circuloValor { width: 15px; height: 15px;}
.comparacionTabla { height: 85%;}

.logoWin { bottom: 1%;}

.menuPrincipal li {
    padding: 40% 0% !important;
}

}

@media only screen and (max-height: 699px) {

.nombreCasino, .tituloSeccion { padding-top: 1.5% !important; }
.contenedorRol { margin-top: 2.5% !important;}

.infoMaquina li {
    padding: 2% 0% !important;
}

}

@media only screen and (max-height: 799px) {

.headerTop { height: 7% !important;}
.menuPrincipal, .subMenu, .menuComparar, .wrapContenidoComparar, .wrapJugadores, .configuracionProfile, .slideDerecha, .wrapDashboard, .dialogFrame { top: 7% !important;}
.menuPrincipal, .subMenu, .menuComparar, wrapContenidoComparar, .wrapJugadores, .slideDerecha, .wrapDashboard, .dialogFrame { height: 93% !important;}

td { height: 40px !important;}	

.nombreCasino, .tituloSeccion { padding-top: 1.5%; }
.contenedorRol { margin-top: 5%;}

#div_selected_filter_list { max-height: 350px !important;}


.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 1px 0 0 0;
    padding: 0.5em 0.5em 0.5em 0.7em;
    min-height: 0;
    font-size: 100%;
    height: 15px;
}

.ui-state-default { line-height: 1;}

.accordion li {
    padding: 1.5% 0%;
}

.logoWin { bottom: 0%;}

.btnJugadorComparar {
    padding: 2% 0%;
}
.planoWrap { margin: 3% 0% 3% 2%; }

.wrapConfigProfile li { padding: 5% 0%; }

}

@media only screen and (min-height: 800px) {

.headerTop { height: 5% !important;}
.menuPrincipal, .subMenu, .menuComparar, .wrapContenidoComparar, .wrapJugadores, .configuracionProfile, .slideDerecha, .wrapDashboard, .dialogFrame { top: 5% !important;}
.menuPrincipal, .subMenu, .menuComparar, wrapContenidoComparar, .wrapJugadores, .slideDerecha, .wrapDashboard, .dialogFrame { height: 95% !important;}

td { height: 45px !important;}	

#div_selected_filter_list { max-height: 430px !important;}

.datosJugadas, .datosJugados, .datosGanado, .datosApuestaM, .datosNetWin { padding-bottom: 8%; padding-top: 8%; }

.infoMaquina li { border-bottom: 1px solid #555; padding: 5% 0%; width: 95%; float: left; margin: 2% 0%; text-align: center;}


}


/* RESPONSIVO IPAD "LANDSCAPE" */


@media only screen and (max-width: 1024px){
	
td { height: 40px !important;}	

/* HEADER TOP */
.contenedorRol { margin-top: 2%;}
.headerTop { height: 6%;}
.userProfile { width: 25%; top: 0%;}
.imgProfile { max-width: 15%; margin-right: 2%; margin-top: 1%;}
.imgProfile img { max-height: 35px;}

.nombreCasino, .tituloSeccion { padding-top: 1.2%;}

.configuracionProfile { top:6%; width: 20%;}

/* MENU PRINCIPAL IZQUIERDA */
.wrapDashboard { width: 90%; float: right; right:0; position: absolute; height: 95%; top: 5%; overflow: auto; background: #1D2226;}

.menuPrincipal { width: 10%; top: 6%; height: 94%; }
.menuPrincipal li { padding: 40% 0;}
.menuPrincipal li span { font-size: 80%;}
.imgIcon { max-width: 40%; max-height: 65%; }
.badgeNotificacion { margin-top: -20%; }
.logoWin { bottom: 4%;}


/* PANEL DE CONTROL - SUB MENU */
.subMenu {  width:22%; height: 94%; top: 6%;}
.panelControl li { padding: 3% 0%; }
.accordion li { padding: 2% 0%;}
.circuloValor { top: -1%;}
.slideLeft { left: -12.5%; }
.slideRight { left: 10%; }

.wrapDashboard { width: 90%; top:6%;}

/* PISO */
.menuComparar { width: 9%; height: 94%; top: 6%; }
.menuComparar li span { font-size: 12px; line-height: 12px; float: left;}
.comparacionTabla { width: 90%; left: 5%; top: 7%;}

/* JUGADORES */

.wrapJugadores { top: 6%; height: 94%; width: 90%;}
.insideJugadores { width: 95%; height: 94%; position: absolute; margin: 3%; margin-top: 4%; overflow: auto; }
.jugadoresSearchBox { float: right; width: 45%; margin-right: 5%;}
.cierreLista { margin-right: 1% !important;  }
.tablaJugadores { width: 100%; height: 98%; margin-top: 1%; }
.tablaJugadores .jtable-main-container { margin-top: 1%;}

.btnCompararJugador { background-size: 35% !important; }
.compararJugSel { background-size: 35% !important; }

.infoJugador li { padding: 2% 0%;}
.fotoJugador .imgProfile { max-width: 25%; margin-bottom: 0%;}
/*.infoJugador li h1, .infoJugador span { font-size: 75%;}*/
.acordeonDerecha li { padding: 1% 2% !important; text-indent: 0%;}
.acordeonDerecha h4 { font-weight: 500; font-size: 80%}
.acordeonDerecha span { font-size: 80%;}

/* ALARMAS */
.badgeNotiAlarmaBig { margin-top: -5%;}
.insideAlarmas { width: 95%; height: 94%; position: absolute; margin: 3%; margin-top: 6%; overflow: auto; }


th { padding: 0.5%; font-size: 80%;}

/* SLIDE DERECHA */

.slideDerecha { top: 6%; height: 94%; width: 25%; }

/* MIS TAREAS */

/*.btnTodasAlarmas, .btnTodasTareas { width:15%; float: right; padding: 1.5% 1%; text-align: center; color: #fff; text-decoration: none; text-indent: 2%; text-transform: uppercase; font-size: 80%; font-weight: 500; margin-top: 8%; right: 0; }
.btnTodasAlarmas {background: #778f9b url(../iconos/alarmas.svg) no-repeat left 5% center; background-size: 20%; }
.btnTodasTareas { background: #778f9b url(../iconos/tareas.svg) no-repeat left 5% center; background-size: 20%; }*/

.wrapPanel { position: relative; float: left; width: 90%; left: 5%;}

.wrapMisAlarmas, .wrapTareasTabla { position: relative; float: left; width: 100%; margin-bottom: 2%;}
.misAlarmasHeader h1 {
    background: url(../iconos/alarmasOn.svg) no-repeat 5px -3px;
    background-size: 18% !important;
}

.misTareasHeader h1 {
    background: url(../iconos/tareasOn.svg) no-repeat 0px -5px;
    background-size: 25%;
}

.selectorNivelAlarma {
    width: 24%;
}

.alarmaDerivada { font-size: 85%; text-indent: 5%; background: url(../iconos/derivado.svg) no-repeat left 5% center;}
.statusAlarma { width: 70%; padding: 6% 10%; font-size: 90%; }

/*.alarmaResuelta { text-indent: 8%;}*/

.accionesTareas, .accionesAlarmas {
    position: relative;
    float: right;
    width: 12%;
    margin-top: -1.2%;
}

.selectorNivelTareas { width: 60%; }

.leyendaTablas li { min-width: 15%;}
.leyendaTablas .circuloValor { margin-top: 3px;}

}

@media only screen and (min-width: 1025px) and (max-width: 1190px){
.headerTablas { width: 65%;}
}

@media only screen and (min-width: 1025px) and (max-width: 1366px){

.wrapDashboard { width: 90%; float: right; right:0; position: absolute; height: 94%; top: 5%; overflow: auto; background: #1D2226;}

.headerTop { height: 6%;}
.userProfile { width: 20%; top: -5%;} 
.imgProfile { max-width: 15%; width: 100%;}
.nombreCasino, .tituloSeccion { /*padding-top: 1.5%;*/}


.menuPrincipal, .subMenu, .menuComparar, .wrapContenidoComparar, .wrapJugadores, .configuracionProfile, .slideDerecha, .wrapDashboard, .dialogFrame { top: 6%;}


.menuPrincipal { width: 9% !important; }
.menuPrincipal li { padding: 35% 0 !important;}
.imgIcon { max-width: 35px; max-height: 40px; }

.subMenu { width: 20%;  height: 94%;}

.btnSlide { right: -26%; width: 25%;}
.slideLeft { left: -11.5%; }
.slideRight { left: 9%; }

.menuComparar { width: 8%;}
.wrapContenidoComparar { width: 84%; height: 94%;}
.comparacionTabla { width: 92%; left: 3%;}

.wrapJugadores { height: 94%; width: 91%; }
/*.tablaJugadores .jtable-main-container { margin-top: 5%;}*/

.slideDerecha { width: 20%; }
/*.infoJugador li h1, .infoJugador span { font-size: 80%;}*/

.configuracionProfile { width: 20%;}

.infoMaquina li { padding: 4% 0%;}
.infoMaquina li h1, .infoMaquina span { font-size: 90%;}

.accionesTareas, .accionesAlarmas { width: 12%; }

.wrapPanel { position: relative; float: left; width: 90%; left: 5%;}

.insideJugadores { width: 94%; height: 100%; position: absolute; margin: 3%; overflow: auto; margin-top: 2%; }

.insideAlarmas { width: 94%; height: 100%; position: absolute; margin: 3%; overflow: auto; margin-top: 5%; }


.wrapJugadores .filtering {
    float: right;
    width: 50%;
    text-align: right;
    height: 40px;
    margin-top: 0.5%;
    margin-right: 5%;
}

#jtCustomersAtRoom {
    height: 90%;
    overflow: auto;
    width: 100%;
    /* margin-top: 2%; */
    position: absolute;
    /* float: left; */
    top: 8%;
}


.btnSlide.slideShow {
    background-size: 70%;
}

.wrapDashboard, .wrapMisTareas { width: 91%; }

.wrapMisAlarmas, .wrapTareasTabla { position: relative; float: left; width: 100%; margin-bottom: 2%;}
.misAlarmasHeader h1 {
    background: url(../iconos/alarmasOn.svg) no-repeat 5px -1px;
    background-size: 15%;
}

.misTareasHeader h1 {
    background: url(../iconos/tareasOn.svg) no-repeat 0px -10px;
    background-size: 25%;
}



.selectorNivelTareas {
    float: right;
    position: relative;
    width: 58%;
	height: 40px;
	margin-top: 0.5%;
}

.selectorNivelAlarma { width: 21%; margin-top: 0.2%;}

.alarmaDerivada { font-size: 85%; text-indent: 5%; background: url(../iconos/derivado.svg) no-repeat left 5% center;}
.statusAlarma { min-width: 60px; padding: 6% 10%; font-size: 90%;}


.dialogFrame { height: 95%; }



}

@media only screen and (min-width: 1280px) and (max-width: 1366px){

.misAlarmasHeader h1 {
    background: url(../iconos/alarmasOn.svg) no-repeat 10px 0px;
    background-size: 14%;
    height: 50px;
}

}


@media only screen and (min-width: 1366px) and (max-width: 1366px){
.misAlarmasHeader h1 {
    background: url(../iconos/alarmasOn.svg) no-repeat 5px -3px;
    background-size: 14%;
}

}

@media only screen and (max-width: 1366px) {


}


@media only screen and (min-width: 1367px) and (max-width: 1600px){



.subMenu { width: 18%;}
.slideLeft { left: -11.5%; }

.slideDerecha { width: 20%; }

.wrapJugadores { width: 95%;}

.accionesTareas, .accionesAlarmas {
    position: relative;
    float: right;
    width: 10%;
    margin-top: -1%;
}

.selectorNivelTareas { width: 45%; }

.wrapPanel { position: relative; float: left; width: 90%; left: 5%;}

.wrapMisAlarmas, .wrapTareasTabla { position: relative; float: left; width: 100%; margin-bottom: 2%;}
.misTareasHeader h1 {
    background-size: 20%;
}

.misAlarmasHeader h1 {
    background-size: 14%;
}

.alarmaDerivada { font-size: 95%; text-indent: 0%; background: url(../iconos/derivado.svg) no-repeat left 5% center;}
.statusAlarma { width: 50%; padding: 6% 10%; font-size: 90%;}

.selectorNivelAlarma {
    width: 16%;
}

.headerTablas { width: 50%;}

}

@media only screen and (min-width: 1601px){
	.headerTablas { width: 45%;}
	.selectorProveedorTerminales, .selectorAreaTerminal { margin-top: 0.8%;}

	.tablaTerminales .EliminarAlarmaIcono { background-size: 30% !important; }

}

/** Mensajeria **/
.manager-message { background-color: #445963; padding: 10px; color:white; margin-left:20px}
.runner-message { background-color: #1F8AFF; padding: 10px; color:white; margin-right:20px}
.manager-message-arrow { margin-bottom: 10px; background-color: #445963;}
.runner-message-arrow { margin-bottom: 10px; background-color: #1F8AFF }
.message-owner { font-size:10px; font-style:italic;}
.btnSendMessage {background: url(../iconos/ic_message_white_18dp.png) no-repeat center center; text-indent: -9999px; width: 35px; height:31px; max-width:100px; background-size: 60%; display: block; cursor: pointer; float:inherit; clear:none;margin-left: 14%;}
.btnSendMessageDerecha { position: relative; float: left; margin-top: 1%; margin-left: 4%; background: #36464e; float:right; width:20%; }
.btnSendMessage a:hover{color: #36464e;}

