﻿
/* --------------------------------- */

.ui-dialog-titlebar
{
  background-color: DarkBlue;
  color: White;
  text-align: center;
	width: 100%;
	padding: 5px 5px 5px 5px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.no-close .ui-dialog-title {
	font-size: 140%;
	padding: 5 5 5 5;
}
.no-close 
{
  background-color: LightGray;
}

.ui-widget-overlay   
{   
    background-color: #000000;   
    left: 0;   
    opacity: 0.5;   
    position: absolute;   
    z-index: 998;
    top: 0;
    height: 100%;
    width: 100%;   
}   

.ui-dialog   
{   
    background-color: #FFFFFF;   
    position: absolute;   
    overflow: hidden;   
    z-index: 999;
    padding: 5 5 5 5;
} 

.progress .ui-widget-overlay   
{   
    background-color: #000000;   
    left: 0;   
    opacity: 0.5;   
    position: absolute;   
    z-index: 1000;
    top: 0;
    height: 100%;
    width: 100%;   
}   

.progress .ui-dialog   
{   
    background-color: #FFFFFF;   
    position: absolute;   
    overflow: hidden;   
    z-index: 1001;
    padding: 5 5 5 5;
} 

.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; margin: 0; padding: 0; }
.selectable li { margin: 2px; padding: 0.2em; font-size: 0.8em; height: 21px; text-align: right;}

.editor_tabs { height: 250px; }
.editor_tab_content { height: 250px; overflow-x: hidden; overflow-y: scroll; }

.editor_bind_item { font-size: 1em; width:100%; }
.editor_bind_select_list {  }

.terminal_movable {
  width: 19px;
  height: 19px;
  border: 1px solid black;
  border-bottom-style: dotted;
  background-color: red;
  float: left;
}

.beacons_movable {
  width: 19px;
  height: 19px;
  border: 1px dotted cyan;
  background-color: blue;
  float: left;
}

#tools_panel {
  width: 230px;
}

#MousePos_Pos {
  color: white;
  font-size: 0.9em;
  margin: 5px 0;
}

#MousePos_X,#MousePos_Y,#MousePos_LOC_X, #MousePos_LOC_Y {
  margin: 5px 5px;
}

#canvasBackPic{
    position:absolute;
    z-index:-1;
}
#canvasGrid{
    position:absolute;
    z-index:1;
}

