﻿<!DOCTYPE html>
<html class="@ViewBag.CursorClass">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="expires" content="-1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>@ViewBag.Title</title>

  <!-- Common JS Functions -->
  @Scripts.Render("~/Scripts/Common.js")

  <!-- Styles -->
  @Styles.Render("~/Content/css")

  <script>

    function RedirectPreviousAction() {
      RedirectAction('', '', 35);
    }

    /// <summary>
    /// Interaction with LCDInTouch
    /// </summary>
    function RedirectAction(ControllerName, ViewName, RequestType) {
      var _action = ControllerName + "|" + ViewName;

      if (RequestType == null) {
        RequestType = 34;
      }

      // FunctionCode 34 = REDIRECT_ACTION
      window.location.href = "@ViewBag.WebHost" + "?FunctionCode=" + RequestType + "&Data=" + _action;

    } // RedirectAction
  </script>

</head>

<body class="body @ViewBag.AccountLevel" oncontextmenu="return false;" onselectstart='return false;' ondragstart="return false;">
  <!-- Date formatted -->
  <input type="hidden" id="LanguageHidden" value="@ViewBag.Language" />

  <!-- Body -->
  @RenderBody()

  <!-- Scripts -->
  @Scripts.Render("~/bundles/jquery")

  <!-- Sections -->
  @RenderSection("scripts", required: false)
</body>
</html>