﻿@model  LCDInTouch.Web.Models.InTouchOptionalScreenModel

<div class="left-short-slash" style="float:left;width:0;">
</div>
<div class="center text-center" style="width:625px;">
  <div class="center-third-top" style="width:600px;">
    <p class="question-text twenty-to-top" style="@Model.Question.DescriptionStyle">
      @Html.Raw(@Model.Question.Description)
    </p>
  </div>
  <div class="center-third-center ten-to-top" style="width:600px;">
    <p>@Model.Description.FirstLine</p>
    <p>@Model.Description.SecondLine</p>
    <p>@Model.Description.ThirdLine</p>
  </div>
  <div class="center-third-under twenty-to-top" style="width:600px;">
    @if (Model.ButtonCancelVisible == 1)
    {
      <div class="button-size">
        <input class="btn btn-default No-button" type="button" value="@Model.CancelButton.Text" onclick="@Model.CancelButton.InteractWithHostParams" style="margin-left:60px;">
      </div>
      if (Model.AcceptButton.InteractWithHostParams == "")
      {
        <div class="button-size" id="btn_ok_1">
          <input class="btn btn-default Yes-button" type="button" value="@Model.AcceptButton.Text" onclick="@Model.AcceptButton.RedirectAction" style="margin-left:60px;">
        </div>
      }
      else
      {
        <div class="button-size">
          <input class="btn btn-default No-button" type="button" value="@Model.AcceptButton.Text" onclick="@Model.AcceptButton.InteractWithHostParams" style="margin-left:60px;">
        </div>
      }
    }
    else
    {
      <div id="btn_ok_2">
        <input class="btn btn-default Default-button" type="button" value="@Model.AcceptButton.Text" onclick="@Model.AcceptButton.RedirectAction" style="margin-left:60px;">
      </div>
    }
  </div>
</div>

