﻿
<div class="error-center" style="margin-top: 50px; margin-left: -20px;">

  <p class="text-center Cliente fifty-to-top">@ViewBag.MessageTitle</p>
  <p class="text-center CustomerLevel">@ViewBag.MainDescription</p>
  <p class="text-center">@ViewBag.Description</p>

</div>
