﻿@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  <link href="~/Plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

  <section class="content">
    <div class="col-md-2">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
        </div>
        <form role="form">
          <div class="box-body">
            <div class="form-group">
              <span>Code viewer</span>
              <input type="text" class="form-control" id="txtCodeViewer" placeholder="Enter code viewer">
            </div>
          </div>
          <div class="box-footer">
            <button type="button" id="btnSubmit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <script src="~/js/jquery-3.2.1.min.js"></script>
  <script src="~/Plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="~/js/Input/Index.js"></script>

</body>
</html>