<tr>
  <td colspan="3">
    <p align="center">
      <b>@STR_VOUCHER_CASH_BANK_TITLE</b>
    </p>
  </td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="70%">@STR_VOUCHER_CASH_BANK_VOUCHERS</td>
  <td class="middle"></td>
  <td class="right" align="right" width="30%">@VOUCHER_CASH_BANK_VOUCHERS</td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="70%">@STR_VOUCHER_CASHBANK_DELIVERED_VOUCHERS</td>
  <td class="middle"></td>
  <td class="right" align="right" width="30%">@VOUCHER_CASHBANK_DELIVERED_VOUCHERS</td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="57%">@STR_VOUCHER_CASH_BANK_CARD_WITHDRAW</td>
  <td class="middle"></td>
  <td class="right" align="right" width="43%">@VOUCHER_CASH_BANK_CARD_WITHDRAW</td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="57%">@STR_VOUCHER_CASH_BANK_CREDIT_CARD</td>
  <td class="middle"></td>
  <td class="right" align="right" width="43%">@VOUCHER_CASH_BANK_CREDIT_CARD</td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="57%">@STR_VOUCHER_CASH_BANK_DEBIT_CARD</td>
  <td class="middle"></td>
  <td class="right" align="right" width="43%">@VOUCHER_CASH_BANK_DEBIT_CARD</td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="57%">@STR_VOUCHER_CASH_BANK_WITHDRAWS</td>
  <td class="middle"></td>
  <td class="right" align="right" width="43%">@VOUCHER_CASH_BANK_WITHDRAWS</td>
</tr>
<tr>
<tr valign=top>
  <td class="left" align="left" width="57%">@STR_VOUCHER_CASH_BANK_CASH_IN</td>
  <td class="middle"></td>
  <td class="right" align="right" width="43%">@VOUCHER_CASH_BANK_CASH_IN</td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="57%">@STR_VOUCHER_GAME_PROFIT</td>
  <td class="middle"></td>
  <td class="right" align="right" width="43%">@VOUCHER_GAME_PROFIT</td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="57%">@STR_VOUCHER_WITHDRAWAL_BANK_CARD</td>
  <td class="middle"></td>
  <td class="right" align="right" width="43%">@VOUCHER_WITHDRAWAL_BANK_CARD</td>
</tr>
<tr valign=top>
  <td colspan="3">
    <hr class="hidden" noshade size="2">
  </td>
</tr>
<tr valign=top>
  <td class="left border" align="left" width="57%"><b>@STR_VOUCHER_CASH_BANK_BALANCE</b></td>
  <td class="right border" align="right" width="43%" colspan="2"><b><span class="bold">@VOUCHER_CASH_BANK_BALANCE</span></b></td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="57%"><span style="font-size: 90%; margin-left:10px">@STR_VOUCHER_CASH_BANK_CARD_DEPOSIT</span></td>
  <td class="middle"></td>
  <td class="right" align="right" width="43%"><span style="font-size: 90%">@VOUCHER_CASH_BANK_CARD_DEPOSIT</span></td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="57%"><span style="font-size: 90%; margin-left:10px">@STR_VOUCHER_CASH_BANK_COMMISSION</span></td>
  <td class="middle"></td>
  <td class="right" align="right" width="43%"><span style="font-size: 90%">@VOUCHER_CASH_BANK_COMMISSION</span></td>
</tr>
<tr class="hidden" valign=top style="padding-top:15px;">
  <td class="left" align="left" width="40%">@STR_VOUCHER_CURRENCY_CASH_BANK_COLLECTED</td>
  <td class="middle"></td>
  <td class="right" align="right" width="60%">@VOUCHER_CURRENCY_CASH_BANK_COLLECTED</td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="40%">@STR_VOUCHER_CURRENCY_CASH_BANK_COLL_SHORT</td>
  <td class="middle"></td>
  <td class="right" align="right" width="60%">@VOUCHER_CURRENCY_CASH_BANK_COLL_SHORT</td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="40%">@STR_VOUCHER_CURRENCY_CASH_BANK_COLL_OVER</td>
  <td class="middle"></td>
  <td class="right" align="right" width="60%">@VOUCHER_CURRENCY_CASH_BANK_COLL_OVER</td>
</tr>
<tr>
  <td colspan="3" style="height:15px;"></td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="70%"><span style="font-size: 90%; margin-left:10px">@STR_VOUCHER_CASH_BANK_DELIVERED_VOUCHERS</span></td>
  <td class="middle"></td>
  <td class="right" align="right" width="30%"><span style="font-size: 90%">@VOUCHER_CASH_BANK_DELIVERED_VOUCHERS</span></td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="70%"><span style="font-size: 90%; margin-left:10px">@STR_VOUCHER_CASH_BANK_NO_DELIVERED_VOUCHERS</span></td>
  <td class="middle"></td>
  <td class="right" align="right" width="30%"><span style="font-size: 90%">@VOUCHER_CASH_BANK_NO_DELIVERED_VOUCHERS</span></td>
</tr>
<tr>
  <td colspan="3" style="height:15px;"></td>
</tr>  