﻿<table border="0" align="left" cellpadding="0" cellspacing="0" width="100%">
   <tr>
    <td>
      <center><b>@VOUCHER_DESCRIPTION_CURRENCY</b></center>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td width='100%' colspan=2><hr noshade size="2"></td>
        </tr>
        <tr>
          <td align='left' width='50%'>@STR_FRM_CONTAINER_EVENTS_DATAGRID_HEADER_DESCRIPTION</td>
          <td align='right' width='50%'>@STR_VOUCHER_CASH_DESK_CLOSE_MOV_SUMMARY_AMOUNTS</td>
        </tr>
        <tr>
          <td width='100%' colspan=2><hr noshade size="2"></td>
        </tr>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">        
        <tr>
          <td align='left' width='50%'>@STR_VOUCHER_CASHDESK_CLOSE_DIFFERENCE_EXPECTED</td>
          <td align='right' width='50%'>@VOUCHER_CASHDESK_CLOSE_DIFFERENCE_EXPECTED</td>
        </tr>
        <tr>
          <td align='left' width='50%'>@STR_VOUCHER_CASH_DESK_CLOSE_COLLECTED</td>
          <td align='right' width='50%'>@VOUCHER_CASH_DESK_CLOSE_COLLECTED</td>
        </tr>
        <tr>
          <td width='100%' colspan=2><hr noshade size="2"></td>
        </tr>
        <tr>
          <td align="left" width="50%"><b>@STR_VOUCHER_DIFFERENCE:</b></td>
          <td align="right" width="50%"><b>@VOUCHER_DIFFERENCE</b></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

