  <tr>
    <td colspan="3">
      <p align="center">
      <b>@STR_VOUCHER_CURRENCY_CASH_TITLE</b>
	    </p>
	  </td>
	</tr>
	<tr valign=top>
  <td class="left" align="left" width="57%">@STR_VOUCHER_CURRENCY_CASH_DEPOSIT</td>
        <td class="middle"></td> 
		<td class="right" align="right" width="43%">@VOUCHER_CURRENCY_CASH_DEPOSIT</td>
	</tr>
	<tr valign=top>
  <td class="left" align="left" width="57%">@STR_VOUCHER_CURRENCY_CASH_WITHDRAW</td>
        <td class="middle"></td> 
		<td class="right" align="right" width="43%">@VOUCHER_CURRENCY_CASH_WITHDRAW</td>
	</tr>
<tr valign=top style="@STR_VISIBILITY">
  <td class="left" align="left" width="57%">@STR_UC_BANK_MOVEMENTS_SUMMARY_CHIPS_CASH_IN</td>
        <td class="middle"></td> 
		<td class="right" align="right" width="43%">@VOUCHER_SUMMARY_CHIPS_CASH_IN</td>
	</tr>
<tr valign=top style="@STR_VISIBILITY">
  <td class="left" align="left" width="57%">@STR_UC_BANK_MOVEMENTS_SUMMARY_CHIPS_CASH_OUT</td>
        <td class="middle"></td> 
		<td class="right" align="right" width="43%">@VOUCHER_CHIPS_CASH_OUT</td>
	</tr>
	<tr valign=top>
  <td class="left" align="left" width="57%">@STR_VOUCHER_GAME_PROFIT</td>
        <td class="middle"></td> 
		<td class="right" align="right" width="43%">@VOUCHER_GAME_PROFIT</td>
	</tr>
<tr valign=top style="@STR_VISIBILITY">
  <td class="left" align="left" width="57%">@STR_VOUCHER_CURRENCY_CONCEPTS_IN</td>
        <td class="middle"></td> 
		<td class="right" align="right" width="43%">@VOUCHER_CURRENCY_CONCEPTS_IN</td>
	</tr>
<tr valign=top style="@STR_VISIBILITY">
  <td class="left" align="left" width="57%">@STR_VOUCHER_CURRENCY_CONCEPTS_OUT</td>
        <td class="middle"></td> 
		<td class="right" align="right" width="43%">@VOUCHER_CURRENCY_CONCEPTS_OUT</td>
	</tr>
<tr valign=top style="@STR_VISIBILITY">
    <td class="left" align="left" width="57%">@STR_VOUCHER_CURRENCY_ENTRANCES_IN</td>
    <td class="middle"></td>
    <td class="right" align="right" width="43%">@VOUCHER_CURRENCY_ENTRANCES_IN</td>
  </tr>
<tr valign=top style="@STR_VISIBILITY">
  <td class="left" align="left" width="57%">@STR_VOUCHER_CURRENCY_EXCHANGE_CASH_IN</td>
        <td class="middle"></td> 
    <td class="right" align="right" width="43%">@VOUCHER_CURRENCY_EXCHANGE_CASH_IN</td>
  </tr>
  <tr valign=top>
    <td class="left" align="left" width="57%">@STR_VOUCHER_CURRENCY_EXCHANGE_CASH_OUT</td>
    <td class="middle"></td> 
    <td class="right" align="right" width="43%">@VOUCHER_CURRENCY_EXCHANGE_CASH_OUT</td>
  </tr>
	<tr valign=top>
    <td class="left" align="left" width="57%">@STR_VOUCHER_CURRENCY_CASH_CASH_IN</td>
    <td class="middle"></td>
		<td class="right" align="right" width="43%">@VOUCHER_CURRENCY_CASH_CASH_IN</td>
</tr>
<tr valign=top style="@STR_VISIBILITY">
  <td class="left" align="left" width="57%"><span style="@STR_FONT_SIZE margin-left:10px">@STR_VOUCHER_CURRENCY_CASH_AMOUNT</span></td>
        <td class="middle"></td> 
		<td class="right" align="right" width="43%"><span style="@STR_FONT_SIZE">@VOUCHER_CURRENCY_CASH_AMOUNT</span></td>
	</tr>
  @VOUCHER_CURRENCY_CASH_CARD_DEPOSIT
<tr valign=top style="@STR_VISIBILITY">
  <td class="left" align="left" width="57%"><span style="font-size: 90%; margin-left:10px">@STR_VOUCHER_CURRENCY_CASH_COMMISSION</span></td>
        <td class="middle"></td> 
		<td class="right" align="right" width="43%"><span style="font-size: 90%">@VOUCHER_CURRENCY_CASH_COMMISSION</span></td>
	</tr>
<tr valign=top>
    <td colspan="3">
      <hr class="hidden" noshade size="2">
    </td>
  </tr>
	<tr valign=top>
  <td class="left border" align="left" width="57%"><b>@STR_VOUCHER_CURRENCY_CASH_BALANCE</b></td>
        <td class="right border" align="right" width="43%" colspan="2"><b><span class="bold">@VOUCHER_CURRENCY_CASH_BALANCE</span></b></td>
	</tr>
<tr valign=top>
  <td class="left" align="left" width="40%">@STR_VOUCHER_CURRENCY_CASH_COLLECTED</td>
  <td class="middle"></td>
  <td class="right" align="right" width="43%">@VOUCHER_CURRENCY_CASH_COLLECTED</td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="40%">@STR_VOUCHER_CURRENCY_CASH_COLL_CASHIER_SHORT</td>
  <td class="middle"></td>
  <td class="right" align="right" width="60%">@VOUCHER_CURRENCY_CASH_COLL_CASHIER_SHORT</td>
</tr>
<tr valign=top>
  <td class="left" align="left" width="40%">@STR_VOUCHER_CURRENCY_CASH_COLL_CASHIER_OVER</td>
  <td class="middle"></td>
  <td class="right" align="right" width="60%">@VOUCHER_CURRENCY_CASH_COLL_CASHIER_OVER</td>
</tr>
	<tr>
  <td colspan="3" style="height:15px;"></td>
	</tr>