  <tr>
    <td colspan="2">
      <p align="center">
		    <B>@STR_VOUCHER_CASH_BALANCE_TITLE</B> 
	    </p>
	  </td>
	</tr>

	<tr valign=top>
		<td class="left">@STR_VOUCHER_CASH_SUMMARY_TITLE</td>
		<td class="right"></td>
	</tr>

	<tr valign=top>
		<td class="sub-left">@STR_VOUCHER_CASH_SUMMARY_CASH</td>
		<td class="right">@VOUCHER_CASH_SUMMARY_CASH</td>
	</tr>
	
  @VOUCHER_CASH_SUMMARY_CURRENCIES
  
  @VOUCHER_CASH_SUMMARY_BANK_CARD
  
  @VOUCHER_CASH_SUMMARY_CHECK
  
  @VOUCHER_CASH_SUMMARY_CHIPS_RE

  @VOUCHER_CASH_SUMMARY_CHIPS_NR

  @VOUCHER_CASH_SUMMARY_CHIPS_COLOR

  @VOUCHER_CASH_SUMMARY_TOTAL
  
  <tr>
		<td class="separator" colspan="2">&#32;</td>
	</tr>