﻿<table border="0" align="left" cellpadding="0" cellspacing="0" width="270">
  <tr>
    <td>
      <center><b>@VOUCHER_DESCRIPTION_CURRENCY</b></center>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        @VOUCHER_DESCRIPTION_CHIPS
        <tr><td><br /></td></tr>
        @VOUCHER_DENOMINATION_CHIPS
        <tr>
          <td colspan="4">
            <hr noshade size="4">
          </td>
        </tr>
        <tr>
          <td align="left" colspan="2"><b>@STR_VOUCHER_CASH_CHIPS_TOTAL:</b></td>
          <td align="right" colspan="2"><b>@VOUCHER_CASH_CHIPS_TOTAL</b></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
