﻿@using resources = LCDInTouch.Web.resources.nls_resource

@{
  ViewBag.Title = "Transferring";
}

<div id="div_valid" class="body">
  <div class="row">
    <div class="left-short">

    </div>
    <div class="center text-center">
      <div class="loading-center">
        <p class="Cliente  ten-to-top">@resources.trs_transferring</p>
        <img src="~/images/gif/loading.gif" style="height: 48px; width: 48px;"/>
      </div>
    </div>
    <div class="right-short">
      <div style="margin-top:160px;">
        <img src="~/images/Icons/logo.png" class="img-responsive black-logo-small">
        <p id="DateFormatted" class="text-bottom two-lines-date text-center" style="margin-left:0;width:100%;"></p>
      </div>
    </div>
  </div>
</div>