﻿body, HTML {
  line-height: 1;
  background-image: url('./../img/WSI_998_BACK_09.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

#divContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#divJackpots {
  overflow: hidden;
  flex: 1;
}

#divAlerts {
  height: 100px;
  padding: 15px;
}

#divTitile {
  height: 125px;
  text-align: center;
  font-size: 125px;
  font-family: fantasy;
  color: #ffff00;
  -webkit-text-stroke: 5px #151414;
}

.amount {
  text-align: right;
  background-image: url('./../img/WSI_998_PANEL_01.png');
  background-repeat: repeat-y;
  background-size: 100% 100%;
}

.messages {
  background-image: url('./../img/WSI_998_MESSAGE_BAR_02.png');
  height: 70px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
  bottom: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.jackpotName {
  font-size: 80px;
  text-align: center;
  color: white;
  padding-bottom: 5px;
  font-weight: bold;
  -webkit-text-stroke: 3px #000000;
}

.simbolMoney {
  font-size: 80px;
  vertical-align: middle;
  color: #eee0d3;
}

.alert-box {
  padding: 15px;
  margin: 50px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  float: right;
  width: 100%;
  text-align: center;
  font-size: 50px;
  position: relative;
  color: yellow;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 22px;
}

#divJackpot {
  width: 800px;
  height: 600px;
  display: none;
}

  #divJackpot > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 200px;
    max-width: 100%;
    max-height: 100%;
  }

.jackpot {
  padding-top: 20px;
  height: 33%;
}

.font-100 {
  font-size: 80px;
}

.width-100 {
  width: 100%;  
}

.height-100{
  height:100%;
}

.overflow-hidden{
  overflow:hidden;
}
