﻿@using resources = LCDInTouch.Web.resources.nls_resource
@{
  ViewBag.Title = "RewardsDrawMenu";
}

@model IEnumerable<WSI.Common.InTouch.InTouchListItem>

<div class="row">
  <div class="left-short" style="background-color: #1C0F00;">
    <div class="short-middle">
      <img src="~/images/icons/48x48/Televisa.png" class="img-responsive" onclick="RedirectAction('DataAccount', 'DataAccount02');" />
      <div onclick="RedirectPreviousAction();" style="margin-left: 25px;">
        <img src="~/images/icons/48x48/Left-Arrow.png" style="padding-top: 10px;" />
      </div>
    </div>
    <div class="short-middle-under help-icon-points">
      <img src="~/images/icons/48x48/help.png" class="img-responsive" />
    </div>
  </div>
  <div class="left-short-slash">
    <div class="vertical-text-ms vertical-text reward-vertical-text-ms" style="margin-left:-1px;font-size:29px;">@resources.pdm_playrewards_title</div>
  </div>
  <div class="center text-center" style="width: 600px;">
    @foreach (var item in Model)
    {
      <div class="text-center reward-item-list">
        <input class="big-large-button btn  @ViewBag.AccountLevel" value="@item.PromotionName" onclick="@String.Format(@ViewBag.redirect, @item.PromoGameId)" type="button" style="height:80px;background-color: #1C0F00;margin-top:10px;">
        <p style="margin-top: -26px;">@item.PromotionDate</p>
      </div>
    }
    @if (ViewBag.OneItem)
    {
      <span class="center-third-middle reward-one-item-list">
      </span>
    }
    <div class="center-third-under twenty-to-top" style="text-align: center;">
      <div style="@ViewBag.width;height: 10px;float:left;"></div>
      <div style="margin:20px 20px;display:inline;">
        @for (var i = 0; i < ViewBag.TotalPages; i++)
        {
          if (i == ViewBag.PageIndex - 1)
          {
            <img src="~/images/icons/48x48/CircledCheck.png" class="img-responsive reward-navigation-button-selected" />
          }
          else
          {
            <a href="@Url.Action("PlayRewardMenu", "PlayReward", new { page = i })">
              <img src="~/images/icons/48x48/CircleShape.png" class="reward-navigation-button" />
            </a>
          }
        }
      </div>
    </div>
  </div>

  <div class="right-short">
    <div class="logo-bottom">
      <img src="~/images/Icons/logo.png" class="img-responsive black-logo-small">
      <p id="DateFormatted" class="text-bottom two-lines-date text-center" style="margin-left:-10px;"></p>
    </div>
  </div>
</div>