﻿@using resources = LCDInTouch.Web.resources.nls_resource
@model  LCDInTouch.Web.Models.GameModel
@{
  ViewBag.Title = "PlayRewardStart";
}

@*@Html.Raw(ViewBag.DelayRefresh)*@

<div class="row game-body">
  <div class="left-short">
    <div class="vertical-text-ms vertical-text" style="margin-left:17px;margin-top:30px;font-size:36px;">
      @resources.gam_playreward
    </div>
  </div>

  <div class="center text-center">
    <div class="fifty-to-top left-large">
      <div class="draw">
        <p align="center" class="draw">
          <div class="div_item_draw" onclick="InteractWithHost('31|4|1');">
            <img class="item draw" id="item1" src="~/images/lcdgameimg/briefcase.png" />
          </div>
          <div class="div_item_draw" onclick="InteractWithHost('31|4|2');">
            <img class="item draw" id="item2" src="~/images/lcdgameimg/briefcase.png" />
          </div>
          <div class="div_item_draw" onclick="InteractWithHost('31|4|3');">
            <img class="item draw" id="item3" src="~/images/lcdgameimg/briefcase.png" />
          </div>
        </p>

        <!-- Draw -->
        <p class="drawPrompt">@ViewBag.SelectOption</p>
        <span class="drawPromptBalance">@resources.gam_balance @Model.Balance.ToString("#,##0.00")</span>
        <span class="drawPromptBet">@resources.gam_participation_cost @Model.BetAmount.ToString("#,##0.00")</span>

      </div>
    </div>
  </div>
</div>