﻿@using resources = LCDInTouch.Web.resources.nls_resource

@{
  ViewBag.Title = "PlayRewardResult";
}

@Html.Raw(ViewBag.DelayRefresh)

<div class="row game-body" onclick="InteractWithHost('32|6');">
  <div class="left-short">
    <div class="vertical-text-ms vertical-text" style="margin-left:17px;margin-top:30px;font-size:36px;">
      @resources.gam_playreward
    </div>
  </div>

  <div class="center text-center">

    <div class="fifty-to-top left-large">
      <div class="div_item_draw">
        @if (ViewBag.item1 == 1)
        {
          <img id="item1" src="~/images/lcdgameimg/briefcase_win.png" />
        }
        else
        {
          <img id="item1" src="~/images/lcdgameimg/briefcase.png" />
        }
      </div>
      <div class="div_item_draw">
        @if (ViewBag.item2 == 1)
        {
          <img id="item2" src="~/images/lcdgameimg/briefcase_win.png" />
        }
        else
        {
          <img id="item2" src="~/images/lcdgameimg/briefcase.png" />
        }
      </div>
      <div class="div_item_draw">
        @if (ViewBag.item3 == 1)
        {
          <img id="item3" src="~/images/lcdgameimg/briefcase_win.png" />
        }
        else
        {
          <img id="item3" src="~/images/lcdgameimg/briefcase.png" />
        }
      </div>
    </div>

    <div class="left-large">
      <!-- Draw Win -->
      <p align="center" class="drawResult" style="margin-left:0;width:100%">@ViewBag.DrawResultText</p>
      <!-- Balance -->
      <p align="center" class="drawResult center-third-under" style="margin-left:0;margin-top: -10px;width:100%">@ViewBag.DrawBalance</p>
    </div>
  </div>
</div>
