﻿@using resources = LCDInTouch.Web.resources.nls_resource
@{
  ViewBag.Title = "PlayPointsMenu";
}

@model IEnumerable<WSI.Common.InTouch.InTouchListItem>
<div class="row">
  <div class="left-short" style="background-color: #1C0F00;">
    <div class="short-middle">
      <img src="~/images/icons/48x48/Televisa.png" class="img-responsive" onclick="RedirectAction('DataAccount', 'DataAccount02');" />
      <div onclick="RedirectPreviousAction();" style="margin-left: 25px;">
        <img src="~/images/icons/48x48/Left-Arrow.png" style="padding-top: 10px;" />
      </div>
    </div>
    <div class="short-middle-under help-icon-points">
      <img src="~/images/icons/48x48/help.png" class="img-responsive" />
    </div>
  </div>
  <div class="left-short-slash">
    <div class="vertical-text vertical-text-ms" style="margin-left: -1px;margin-top:60px;">@resources.pdm_playpoint_title</div>
  </div>
  <div class="center text-center" style="width: 570px;margin-left:30px;">
    <div class="ten-to-top" style="float:left;margin-left:auto;margin-right:auto;height:20px;width:100%">
      <p>@resources.pdm_playpoint: @ViewBag.AccountPoints</p>
    </div>
    @foreach (var item in Model)
    {
      <div class="text-center" style="float:left;margin-left:0;">
        <input class="standard-button btn  @ViewBag.AccountLevel" value="@item.PrizeValue @resources.pdm_playpoint" @item.EnableButton onclick="@String.Format(@ViewBag.redirect, @item.PromoGameId)" type="button" style="background-color: #1C0F00;margin-top:10px;font-size:18px;">
        <p style="margin-top: -45px;">@item.CreditsValue @ViewBag.Currency</p>
      </div>
    }
    @if (ViewBag.OneItem)
    {
      <span class="center-third-middle reward-one-item-list" style="margin-top:-10px;">
      </span>
    }
    <div class="center-third-under twenty-to-top" style="text-align:center;">
      <div style="@ViewBag.width;height: 10px;float: left;"></div>
      <div style="margin:20px 20px;display:inline;">
        @for (var i = 0; i < ViewBag.TotalPages; i++)
        {
          if (i == ViewBag.PageIndex - 1)
          {
            <img src="~/images/icons/48x48/CircledCheck.png" class="img-responsive reward-navigation-button-selected" />
          }
          else
          {
            <a href="@Url.Action("PlayPointMenu", "PlayPoint", new { page = i })">
              <img src="~/images/icons/48x48/CircleShape.png" class="reward-navigation-button" />
            </a>
          }
        }
      </div>
    </div>
  </div>

  <div class="right-short">
    <div class="logo-bottom">
      <img src="~/images/Icons/logo.png" class="img-responsive black-logo-small">
      <p id="DateFormatted" class="text-bottom two-lines-date text-center" style="margin-left:-10px;"></p>
    </div>
  </div>
</div>