﻿@using resources = LCDInTouch.Web.resources.nls_resource
@{
    ViewBag.Title = "DataAccountMenu";
}

<div class="row">

  <div class="left-short left-short-backcolor">

    <div class="short-third-top thirdty-margin-left ten-to-top left-icon">
      <img src="~/images/icons/48x48/Left-Arrow.png" class="img-responsive" onclick="RedirectPreviousAction();" />
    </div>

    <div class="short-third-middle"></div>

    <div class="thirdty-margin-left ten-to-top question-icon help-icon">
      <img src="~/images/icons/48x48/help.png" class="img-responsive" />
    </div>

  </div>

  <div class="left-short-slash">
  </div>
  <div class="right-large">
    <div class="right-large-split">
      <button class="btn big-image-button" onclick="RedirectAction('DataAccount', 'DataAccount01');" type="submit">
        <div class="big-image-button-container">
          <img src="~/images/icons/48x48/User Profile 1-WF.png" class="img-responsive" />
        </div>
        <div class="big-image-button-text">@resources.dam_account</div>
      </button>
      <button class="btn big-image-button" onclick="RedirectAction('TransferCredit', 'TransferCredit');" @ViewBag.hasCreditInAccount type="submit">
        <div class=" big-image-button-container">
          <img src="~/images/icons/48x48/Import-02-WF.png" class="img-responsive" />
        </div>
        <div class="big-image-button-text">@resources.dam_transfer_credit</div>
      </button>

    </div>                                                                                                                          
    <div class="right-large-split">
      <button class="btn big-image-button  @ViewBag.AccountLevel" onclick="RedirectAction('PlayDraw', 'PlayDrawMenu');" type="submit" @ViewBag.hasPlayDraw style="background-color: #1C0F00;">
        <div class="big-image-button-container">
          <img src="~/images/icons/48x48/CardsClover.png" class="img-responsive" />
        </div>
        <div class="big-image-button-text">@resources.dam_draw_play @ViewBag.DrawNumber</div>
      </button>
      <button class="btn big-image-button  @ViewBag.AccountLevel" onclick="" type="submit" disabled style="background-color: #1C0F00;">
        <div class="big-image-button-container">
          <img src="~/images/icons/48x48/Gift-WF.png" class="img-responsive" />
        </div>
        <div class="big-image-button-text">@resources.dam_gifts</div>
      </button>
    </div>
  </div>

</div>

