﻿@using resources = LCDInTouch.Web.resources.nls_resource
@model  LCDInTouch.Web.Models.InTouchAccount

@{
  ViewBag.Title = "DataAccountStatus";
}

<div class="row">
  <div class="left-short left-short-backcolor">

    <div class="short-third-top short-third-top-left">
      <div class="fifteen-margin-left ten-to-top fiveteen-margin-left">
        <img src="@ViewBag.LevelIcon" class=" img-responsive margin-auto" alt="@Model.Level.LevelName">
      </div>
    </div>
    <div class="short-third-middle short-third-middle-left twenty-margin-left">
      <div onclick="RedirectAction('DataAccount', 'DataAccountMenu');">
        <img id="img_no_juegos" class="img-responsive game-account" src="~/images/icons/48x48/Televisa.png"/>
      </div>
    </div>
    <div class="short-third-under short-third-under-left">

    </div>

  </div>

  <div class="left-short-slash">
    <div class="vertical-text-ms vertical-text data-account-slash-status">
      @resources.da_AccountState
    </div>
  </div>

  <div class="center text-center center-account-status">
    <div class="center-third-top one-hundred-fivety-left">
      <p class="Cliente cliente-status">@Model.ShortName</p>

    </div>
    <div class="center-third-center one-hundred-eighty-left">
      <div class="money-balance-account-status">
        <p class="Title">@resources.tc_available_credit</p>
        <p class="Info align-right">@Model.MoneyBalance.ToString("#,##0")</p>
      </div>
    </div>
    <div class="center-third-under">
      <button class="btn middle-image-button" onclick="InteractWithHost('22')" type="submit">
        <div class=" big-image-button-container">
          <img src="~/images/icons/48x48/Import-02-WF.png" class="img-responsive Transfer-button-image" />
        </div>
        <div class="standard-image-button-text Transfer-label">@resources.dam_transfer_credit</div>
      </button>
    </div>
  </div>

  <div class="right-short">
    <div class="short-third-under">
      <div class="logo-bottom">
        <img src="~/images/icons/logo.png" class="img-responsive black-logo-small dataccountlogo">
        <p id="date" class="text-bottom two-lines-date text-center text-logo"></p>
      </div>
    </div>
  </div>

</div>

@Scripts.Render("~/Scripts/jquery-1.12.4.min.js")
@Scripts.Render("~/Scripts/DataAccount/DataAccount.js")