﻿@using resources = LCDInTouch.Web.resources.nls_resource
@model  LCDInTouch.Web.Models.InTouchAccount

@{
  ViewBag.Title = "DataAccount";
}

@Html.Raw(@ViewBag.ActionJS)

<div class="row">
  <div class="left-short left-short-backcolor">

    <div class="short-third-top short-third-top-left">
      <div class="twenty-margin-left ten-to-top">
        <img src="@ViewBag.LevelIcon" class="img-responsive" alt="@Model.Level.LevelName">
      </div>
    </div>
    <div class="short-third-middle short-third-middle-left">
      <img src="~/images/icons/48x48/Money-Credit-Card.png" class="img-responsive" style="display:none;">
      <p style="display:none;">@resources.da2_recarga</p>
    </div>
    <div class="short-third-under short-third-under-left">
      <img id="img_juegos" class="img-responsive game-account" src="~/images/gif/pendingGames.gif" style="display: none;" onclick="@ViewBag.redirect" />
      <img id="img_no_juegos" class="img-responsive game-account" src="~/images/icons/48x48/CardsClover.png" />
      <p>@resources.da2_juegos</p>
    </div>
    </div>
  <div class="left-short-slash data-Account-2-Slash">
  </div>
  <div class="center center-account-2">
    <div class="center-third-top">
      <p class="Cliente cliente-account-2">@Model.ShortName</p>
    </div>
    <div class="center-third-center">

      <div class="@ViewBag.ShowMultiplier">

        <div class="data-account2-points">
          <p class="Title">@ViewBag.PointsForLevelText</p>
          <p class="Info align-right">@Model.ExchangePointsInView.ToString()</p>
        </div>

        <div class="data-account2-multiplier" style="@ViewBag.MultiplierVisibility">
          <p class="Title">@resources.da2_multiplicador</p>
          <p class="Info align-right">x @Model.Multiplier.ToString()</p>
        </div>

      </div>

    </div>
    <div class="center-third-under">

    </div>
  </div>
  <div class="right-short">
    <div class="short-third-top">
      @if (ViewBag.Flag == 0)
      {
        <div onclick="InteractWithHost('21|9');">
          <img src="~/images/flags/flag_MXN.png" class="margin-left-flag" />
        </div>
      }
      else
      {
        <div onclick="InteractWithHost('21|10');">
          <img src="~/images/flags/flag_USD.png" class="margin-left-flag" />
        </div>
      }

    </div>
    <div class="short-third-middle">
      <div onclick="RedirectAction('DataAccount', 'DataAccountMenu');">
        <img src="~/images/Icons/92x92/Menu92x92.png" class="img-responsive ten-from-top">
      </div>
    </div>
    <div class="short-third-under">
      <img src="~/images/icons/logo.png" class="img-responsive black-logo-small ten-from-top">
    </div>
  </div>
</div>

@Scripts.Render("~/Scripts/jquery-1.12.4.min.js")
@Scripts.Render("~/Scripts/DataAccount/DataAccount.js")