﻿@using resources = LCDInTouch.Web.resources.nls_resource
@model  LCDInTouch.Web.Models.InTouchAccount

@{
  ViewBag.Title = "DataAccount";
}

@Html.Raw(ViewBag.DelayRefresh)

<div class="row" onclick="RedirectToAction('DataAccount', 'DataAccount02');">
  <div class="left-short">
    <div class="twenty-margin-left ten-to-top">
      <img src="@ViewBag.LevelIcon" class="img-responsive margin-auto" alt="@Model.Level.LevelName">
    </div>
  </div>

  <div class="center">
    <div class="center-third-top">
      <p class="Cliente ten-to-top">@Model.ShortName
    </div>
    <div class="center-third-middle two-hundred-fourty fifty-from-top">
      <p class="Title TitleUnderline Two-hundred-fourty">@resources.da_redeem_credit</p>      
      <p class="Info two-hundred-fourty">@Model.TotalBalance.ToString()</p>
    </div>
    @if (ViewBag.PointsVisibility)
    {
      <div class="center-third-under">
        <div class="one-hundred-half fifteen-margin-right">
          <p class="Title">@ViewBag.PointsText</p>
          <p id="points_val" class="Info">@Model.LevelPointsInView.ToString()</p>
        </div>
        <div class="two-hundred  fifteen-margin-right">
          <p class="Title">@ViewBag.PointsForLevelText</p>
          <p class="Info"> @Model.ExchangePointsInView.ToString()</p>
        </div>
        <div class="two-hundred fifteen-margin-right">
          <p class="Title TitleUnderline">@resources.da_next_level</p>
          <p class="Info">@Model.NextLevel.PointsToReach.ToString()</p>
        </div>
      </div>
    }
  </div>

  <div class="right-short">
    <div class="short-third-top">
      @if (ViewBag.Flag == 0)
      {
        <div class="margin-left-flag" onclick="InteractWithHost('21|9');">
          <img src="~/images/flags/flag_MXN.png" />
        </div>
      }
      else
      {
        <div class="margin-left-flag" onclick="InteractWithHost('21|10');">
          <img src="~/images/flags/flag_USD.png" />
        </div>
      }

    </div>
    <div class="short-third-middle">
      @*<div onclick="RedirectAction('DataAccount', 'DataAccount02');">
          <img src="~/images/Icons/92x92/Menu92x92.png" class="img-responsive" style="margin-top:-10px;">
        </div>*@
    </div>
    <div class="short-third-under">
      <img src="~/images/icons/logo.png" class="img-responsive black-logo-small ten-from-top">
    </div>
  </div>
</div>
