﻿@using resources = LCDInTouch.Web.resources.nls_resource

@{
  ViewBag.Title = "DataAccount01";
}

<div class="row">
  <div class="left-short left-short-backcolor">

    <div class="short-middle">
      <div class="fifteen-margin-left ten-to-top">
        <img src="@ViewBag.LevelIcon" class=" img-responsive margin-auto" alt="@Model.Level.LevelName">
      </div>
      <div onclick="RedirectAction('DataAccount', 'DataAccount02');" class="twenty-five-margin-left" style="margin-top:5px;">
        <img src="~/images/icons/48x48/Televisa.png" />
      </div>
      
    </div>
    <div class="short-middle-under">
      <div onclick="RedirectPreviousAction();" class="twenty-five-margin-left">
        <img src="~/images/icons/48x48/Left-Arrow.png" class="left-image" />
      </div>
      <img src="~/images/icons/48x48/help.png" class="help-image" />
    </div>
  </div>

  <div class="left-short-slash">
    <div class="vertical-text vertical-text-ms align-lateral-data">@resources.da_AccountState</div>
  </div>

  <div class="center width-DataAccount-Center">
    <div class="center-third-top sixty-five-height">
      <p class="Cliente ten-to-top thirdty-five-margin-left">@Model.ShortName</p>
    </div>
    <div class="center-third-middle">
      <div class="two-hundred fifteen-margin-right seventy-height-margin-left">
        <p class="Title">@ViewBag.PointsText</p>
        <p id="points_val" class="Info">@Model.LevelPointsInView.ToString()</p>
      </div>
      <div class="two-hundred fifteen-margin-right seventy-height">
        <p class="Title">@ViewBag.PointsForLevelText</p>
        <p class="Info"> @Model.ExchangePointsInView.ToString()</p>
      </div>
    </div>
    @if (ViewBag.ShowProgressBar)
    {
      <div class="center-third-under">
        <div class="two-hundred fifteen-margin-right one-hundred-eighty-left">
          <p class="Title">@resources.da_next_level</p>
          <p class="Info">@Model.NextLevel.PointsToReach.ToString()</p>
        </div>
        <div class="fifteen-margin-right seventy-height-margin">
        </div>
        <div class="progress">
          <span class="progress-text-left three-from-top">@Model.Level.LevelName</span>
          <div class="progress-bar" role="progressbar" aria-valuenow="@ViewBag.PercentageIncrease" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.PercentageIncrease%;">
            <span class="sr-only">80%</span>
          </div>
          <div class="progress-text-right three-from-top ten-margin-left">@Model.NextLevel.LevelName</div>
        </div>
      </div>
    }
  </div>

  <div class="right-short">
    <div class="short-third-top">
      <div onclick="RedirectAction('Pin', 'ChangePin');">
        <img src="~/images/Icons/48x48/boxes.png" class="img-responsive boxes-image">
        <p class="label-pin-1">@resources.da1_change_pin</p>
        <p class="label-pin-2">Pin</p>
      </div>
    </div>
    <div class="short-third-middle">
    </div>
    <div class="short-third-under">
      <img src="~/images/icons/logo.png" class="img-responsive black-logo-small logo-margin-top">
    </div>
  </div>
</div>

@Scripts.Render("~/Scripts/jquery-1.12.4.min.js")
@Scripts.Render("~/Scripts/DataAccount/DataAccount.js")
