﻿/* DataAccount Menu*/
.big-image-button{
  border-color: gold; 
  margin-left: 15px;
  margin-top:40px;
  width:95%;
  height: 70px;
  background-color: #1C0F00;
  color: white;

}

.middle-image-button{
  border-color: gold; 
  margin-left: 15px;
  margin-top:20px;
  width:40%;
  height: 40px;
  background-color: #1C0F00;
  color: white;
}

/* PlayDrawMenu */

.big-image-button-disabled, .big-image-button-disabled:hover{
  margin-left: 15px;
  margin-top:40px;
  width:95%;
  height: 70px;
  color: white;
  cursor: default;
  background-color: #1C0F00;
  opacity: 0.1;
  border-color: #cccccc;
}

.big-image-button:hover {
  background-color: #1C0F00;
  color:white;
}

.big-image-button-container{
  width: 50px;
  margin-top: 5px;
}

.big-image-button-text {
  float: right;
  height: 70px;
  margin-top: -48px;
  font-size: 30px;
}

.standart-image-button-text {
  float: right;
  height: 40px;
  margin-top: -18px;
  font-size: 19px;
}


/* Points Menu*/
.big-large-button {
  border-color: gold;
  background-color: #1C0F00; 
  color: white;
  margin-left: 25px;
  width:100%;
  height: 50px;
  font-size:24px;
  font-weight: bold;
  opacity:0.85;
}

.big-large-button:hover {
  background-color: #1C0F00; 
  color:white;
}

.big-large-button-disabled {
  margin-left: 25px;
  width:100%;
  height: 50px;
  font-size:24px;
  font-weight: bold;
  color: white;
  cursor: default;
  background-color: #1C0F00;
  opacity: 0.6;
  border-color: gold;
}

.big-large-button-disabled:hover{
 cursor: default;
  background-color: #1C0F00;
  opacity: 0.6;
  border-color: gold;
  color: white;
}


/* DataAccount2 */

.standard-button {
  border-color: gold;
  background-color: #1C0F00; 
  color: white;
  margin-left: 25px;
  width:240px;
  margin-bottom: 20px;
  height: 60px;
  font-size:15px;
  font-weight: bold;
  opacity:0.85;
  padding: 0 0 50px 0;
}


/* PinAuthentication */
.small-button {
  margin-left: 5px;
  width:60px;
  height: 50px;
  font-size:24px;
  margin-bottom:10px;
  background-color: #1C0F00;
  opacity: 0.8;
  border-color: #1C0F00;
  color: white;

}

.small-button-erase {
  border-color: gold!important; 
  background-color: #1C0F00!important;
  width:60px;
  height: 40px;
  font-size:24px;
  margin-bottom:10px;
  padding: 0;
  color: white;
}

.small-button-ok {
  border-color: gold!important; 
  background-color: #1C0F00!important;
  width:60px;
  height: 110px;
  font-size:24px;
  margin-bottom:10px;
  padding: 0;
  margin-top:10px;
  color: white;
}



.big-small-button-disabled {
  background-color: lightgray; 
  margin-left: 5px;
  width:50px;
  height: 50px;
  font-size:24px;
  font-weight: bold;
  color: gray;
}


/*Validate & Transfer*/

.reward-navigation-button{
  opacity:0.8;
  height: 48px;
  width: 48px;
  float: left;
  text-align: center;
  background-color: transparent;
  font-size:18px;
  font:bold;
  /*margin-top:9px;*/
  margin-left:20px;
}


.reward-navigation-button-selected{
  margin-left:15px;
  float:left;
}

 /*Tansfer Credit*/
 
.transfer-credit-no-button {
  border-color: gold!important; 
  background-color: #1C0F00!important;
  width: 120px;
  height:50px;
  float:left;
  color:white;
}

.transfer-credit-left-align-button {
  width:250px;
  float:left;
}

.transfer-credit-right-align-button {
  width:250px;
  float:right;
}
 
.transfer-credit-yes-button {
  border-color: gold!important; 
  background-color: #1C0F00!important;
  width: 120px;
  height:50px;
  float:right;
  color:white;

}

.transfer-credit-buttons-frame-center {
  width:500px;
  height:50px;
  margin-left:auto;
  margin-right:auto;
}

/* YES NO PARTIAL VIEW*/

.Yes-button
{
  border-color: gold!important; 
  background-color: #1C0F00!important;
  margin-left:25px!important;
  width: 90px!important;
  color: white!important;
}

.No-button
{
  border-color: gold!important; 
  background-color: #1C0F00!important;
  margin-left: 50px!important;
  width: 90px!important;
  color: white!important;
}

.Default-button
{
  border-color: gold!important; 
  background-color: #1C0F00!important;
  margin-left: 25px!important;
  width: 90px!important;
  color: white!important;
}

.button-size
{
  width: 300px;
  float:left;

}