﻿body {
}


/* General*/
.text-logo
{
  width:85px;
  margin-left:-5px;
}


/* DataAccoun01*/
.align-lateral-data{
  margin-left: -1px!important;
  margin-top:40px!important;
  font-size:28px!important;
}
.width-DataAccount-Center{
  width: 620px!important;
}
.sixty-five-height{
  height: 65px!important;
}
.seventy-height-margin-left{
  height:70px; 
  margin-left:70px;
}
.seventy-height{
  height: 70px;
}
.seventy-height-margin{
  height:70px!important;
  width:175px!important;
}

.twenty-margin{
  margin-top:20px;
  margin-left:20px;
}

.dataccountlogo{
  margin-top:-10px;
}
.help 
{
  padding-top: 10px!important;
  margin-top:0!important;
  margin-left:20px!important;
}

/*DataAccount02*/
.margin-auto
{
  margin:auto!important;
}
.margin-left-flag
{
  margin-left:20px!important;
}

.left-image{
  padding-top: 10px!important;
}

.help-image{
  padding-top: 10px!important;
  margin-top:0!important;
}
.boxes-image{
  margin-top:20px!important;
  margin-left:20px!important;
}
.label-pin-1
{
  color:white!important;
  text-align:center!important;
  float:left!important;
  margin-left:19px!important;
}
.label-pin-2
{
  color:white!important;
  text-align:center!important;
  float:left!important;
  margin-left:31px!important;
  margin-top:-10px!important;
}
.logo-margin-top
{
  margin-top:-10px;
}

.game-account
{
  width:48px!important;
  height:48px!important;
  margin-top:5px!important;
}
.data-Account-2-Slash
{
  float:left!important;
  width:0!important;
  background-color:#1C0F00!important;
}
.center-account-2
{
  width:627px!important;
}
.cliente-account-2
{
  float:left!important;
  margin-top:10px!important;
  width:400px!important;
  margin-left:25px!important;
}
.align-right
{
  text-align:right;
}

/*DataAccountStatus*/
.data-account-slash-status
{
  margin-left:-5px!important;
  margin-top:15px!important;
  font-size:32px!important;
}

.center-account-status
{
  width: 620px!important;
}

.cliente-status
{
  float:left!important;
  margin-top:20px!important;
  width:400px!important;
  margin-left:50px!important;

}

.money-balance-account-status
{
  width:200px!important;
  float:left!important;
}

.Transfer-button-image
{
  height:26px!important;
  width:26px!important;
  margin-top:-5px!important;
}

.Transfer-label
{
  margin-top:-27px;
}

/* DataAccount Menu*/

.left-icon
{
  margin-left:25px!important;
}
.help-icon
{
  margin-left:25px!important;
  margin-top:5px!important;
}