﻿
.drawPromptBalance{
  float:left;
  margin-left: 50px;
   font-weight: bold;
}

.drawPromptBet{
  float:right;
  margin-right: 50px;
   font-weight: bold;
}

.drawPrompt{
   text-align:center;
   font-weight: bold;
   font-size: 20px;
}
.div_item_draw{
  float:left;
  display:block;
  text-align:center;
  width:33.3%
}

.drawResult{
   text-align:center;
   font-weight: bold;
}
.help-icon-draw
{
  margin-left:25px!important;
  margin-top:58px!important;
}

.help-icon-points{
  margin-left:0px!important;
  margin-top:-7px!important;
}