﻿.AccountLevel1 {
  background-color:#A86018;
  /*color:#E59E58;*/
   color:white;
}

.AccountLevel2 {
  background-color:#CF9200;
  /*color:#FFC842;*/
   color:white;
}

.AccountLevel3 {
  background-color:#C8C5C5;
  /*color:#726F6F;*/
  color:white;
}

.AccountLevel4 {
  background-color:#C7C3C3;
  color:#F3F1F1;
}
.AccountLevel5 {
  background-color:#28A428;
  /*color:#72D272;*/
   color:white;
}
.AccountLevel6{
  background-color:#C00000;
  /*color:#FF6464;*/
   color:white;
}
