﻿
/*From top*/
.ten-from-top {
  margin-top: -10px;
}

.fifty-from-top {
  margin-top: -15px;
}

.three-from-top {
  margin-top: -3px;
}
/*To top*/
.ten-to-top {
  margin-top: 10px;
}

.twenty-to-top {
  margin-top: 20px;
}

.fifty-to-top {
  margin-top: 50px;
}

.ten-padding-top {
  padding-top: 10px!important;
}


/*Margin left*/
.ten-margin-left{
  margin-left:10px;
}
.fiveteen-margin-left
{
  margin-left:15px!important;
}
.twenty-margin-left
{
  margin-left:20px!important;
}
.fifteen-margin-left {
  margin-left: 15px;
}

.twenty-five-margin-left {
  margin-left: 25px;
}

.thirdty-margin-left {
  margin-left: 30px;
}

.thirdty-five-margin-left {
  margin-left: 35px!important;
}

.fourty-five-margin-left {
  margin-left: 45px!important;
}

.fivety-five-margin-left {
  margin-left: 55px!important;
}

.one-hundred-fivety-left
{
  margin-left:150px!important;
}

.one-hundred-eighty-left {
  margin-left: 180px!important;
}

/*Margin-right*/
.fifteen-margin-right {
  margin-right: 15px;
}

/*auto*/
.margin-auto{
  margin: auto;
}