﻿
.Cliente {
  font-family: Helvetica;
  font-size: 25px;
  font-weight: bold;
}

.Title {
  font-family: Helvetica;
  font-size: 18px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 95%;
  margin-bottom:0;
}

.TitleUnderline {
  width: 95%;
}

.Info {
  font-family: Helvetica;
  font-size: 38px;
  font-weight: bold;
}

.CustomerLevel {
  font-family: Helvetica;
  font-size: 17px;
  font-weight: bold;
  margin-top: -5px;
}

.littleText {
  font-family: Helvetica;
  font-size: 12px;
}

.underImage {
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
}



.question-text {
  font-family: Helvetica;
  font-size: 25px;
}

/*Align text to center.*/
.text-xs-center {
  text-align: center;
}


.font-bold{
    font-weight: bold;
}
/*.col-xs-6 {
 border: solid 1px;
}*/

.padding-top-quarter {
  padding-top: 25px;
}

.padding-top-half {
  padding-top: 50px;
}

.vertical-text {
  font-weight: bold;
  margin-top: 100px;
  font-size: 34px;
  font-family: Helvetica;
  position:relative;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); /* Safari/Chrome */
  -moz-transform: rotate(-90deg); /* Firefox */
  -o-transform: rotate(-90deg); /* Opera */
  -ms-transform: rotate(-90deg); /* IE 9 */
  margin-left:-65px;
}

.vertical-text-small {
  font-size: 28px;
}

.vertical-line-ms {
  position: relative;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); /* Safari/Chrome */
  -moz-transform: rotate(-90deg); /* Firefox */
  -o-transform: rotate(-90deg); /* Opera */
  -ms-transform: rotate(-90deg); /* IE 9 */
  left: 0px;
  top: 0px;
  width: 5px;
  height: 256px;
  background-color: #7092BE;
}

.vertical-text-ms {
  font-weight: bold;
  margin-top: 0px;
  font-size: 34px;
  font-family: Helvetica;
  position:relative;
  filter: progid:DXImageTransform.Microsoft.Matrix(
         M11=6.123233995736766e-17,
         M12=1,
         M21=-1,
         M22=6.123233995736766e-17,
         SizingMethod='auto expand');
  position: absolute;
  z-index: 10;
  margin-left:-690px;
}

.vertical-line {
  position: absolute;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); /* Safari/Chrome */
  -moz-transform: rotate(-90deg); /* Firefox */
  -o-transform: rotate(-90deg); /* Opera */
  -ms-transform: rotate(-90deg); /* IE 9 */
  left: 0px;
  top: 0px;
  width: 256px;
  height: 5px;
  background-color: #7092BE;
}

.flag{
  height:50%;
  padding-top:10px;
}

.tech-menu-button
{
  width: 100%; 
  height:50%;
}

.product {
  width: 96px;
  height: 96px;
  background-color: palegreen;
  float: left;
  margin-right: 80px;
}

.product-price {
  width: 107px;
  height: 25px;
  background-color: peru;
  float: left;
  margin-top: 10px;
  text-align: center;
}

.button-selection {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 80px;
  margin-top: 40px;
}

.button-selection-first {
  margin-left: 80px;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 80px;
  margin-top: 40px;
}

.button-menu {
  width: 225px;
  border-color: grey !important;
  background-color: white;
}

.button-menu-large {
  width: 325px;
  height: 75px;
  border-color: grey !important;
  background-color: white;
}

.high-values {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

.border-gray {
  border: 1px solid rgba(150, 150, 150, .5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  height: 50px;
  text-align: center;
  margin-left: -20px;
  margin-top: 10px;
  opacity: 50%;
}

/* progress bar */
.progress {
  padding: 4px;
  border-radius: 6px;
  background-color:white;
  width: 320px;
  margin-bottom:0; 
  margin-top:-5px;
  margin-left:155px;
}

.progress-bar {
  position: relative;
  height: 20px;
  border-radius: 4px;
  background-color: #D9C37C;
  opacity: 0.5;
  float: left;
  margin-top:-2px;
  height:130%;
}

.progress > .progress-text-left {
  position: absolute;
  left: 155px;
  font-weight: 800;
  float: left;
}

.progress > .progress-text-right {
  position: absolute;
  left: 565px;
  font-weight: 800;
  float: left;
  margin-top:-3px;
  margin-left:10px;
}

.left-short-slash {
  /*border-right: solid 3px #7092BE;*/
  border-right: solid 3px #1C0F00;
  height: 256px;
  float:left;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.row {
  margin: 0;
}

.black-logo-big{
  width:160px;
  height: 145px;
  padding-top:10px;
}

.black-logo-small{
  width:80px;
}

.version-label
{
  font-size :9px;
  float:left;
  height:10px;
  margin-top:-20px;
  /*margin-left:-70px;*/
}

.HideCursor {
  cursor: url('../images/trasnsparent.cur') !important;
  user-select: none;
}