.body {
  width: 800px;
  height: 256px;
  /*border: solid 0.5px;
    background: darkorange ;
    opacity: 0.4;*/
  right: 0;
  background-image: url('../images/background.png');
  
}

.game-body{
  width: 800px;
  height: 256px;
  /*border: solid 0.5px;
    background: darkorange ;
    opacity: 0.4;*/
  right: 0;
  background-image: url('../images/lcdgameimg/Fondo_Diamante.png');
  
}


/* Screen Dimensions */
.full {
  height: 256px;
  width: 800px;
  /*background: yellow ;
    opacity: 0.4;
    border: solid 0.5px;*/
}

.center {
  height: 256px;
  width: 630px;
  float: left;
}

.center-normal {
  height: 256px;
  width: 620px;
  float: left;
}

.center-without-right-panel {
  height: 256px;
  width: 715px;
  float: left;
}

.left-short {
  height: 256px;
  width: 85px;
  /*background: green ;
    opacity: 0.4;
    border: solid 0.5px;*/
  float: left;
  
}

.left-short-backcolor {
  background-color: #1C0F00;
}
.short-middle-under {
  height: 128px;
  width: 85px;
  /*background: blue ;
    opacity: 0.4;*/
  float: left;
}


  .short-middle-under > img {
    margin-left: 25px;
    margin-top: 75px;
  }

.short-middle {
  height: 128px;
  width: 85px;
  /*background: brown ;
    opacity: 0.4;*/
  float: left;
}

  .short-middle > img {
    margin-left: 25px;
    /*margin-top: 10px;*/
    padding-top:10px;
  }


.short-third-under {
  height: 85px;
  width: 85px;
  /*background: blue ;
    opacity: 0.4;*/
  float: left;
  /*margin-top: 10px;*/
}

.short-third-under-left > img, p {
  margin-left: 25px;
  /*margin-top: 10px;*/
}

.short-third-under-right > img, p {
  margin-left: 25px;
  /*margin-top: 10px;*/
}

.short-third-middle-left >  p {
  margin-left: 20px;
  /*margin-top: 10px;*/
}

.short-third-top-left > p {
  margin-left: 20px;
  /*margin-top: 10px;*/
}



.short-third-middle {
  height: 86px;
  width: 85px;
  /*background: brown ;
    opacity: 0.4;*/
  float: left;
  /*margin-top: 10px;*/
}

.short-third-middle-left > img, p {
  margin-left: 25px;
  /*margin-top: 10px;*/
}


.short-third-top {
  height: 85px;
  width: 85px;
  /*background: yellow ;
    opacity: 0.4;*/
  float: left;
  /*margin-top: 10px;*/
}

.short-third-top-left > img, p {
  margin-left: 25px;
  margin-top: 0px;
}

.short-third-top-right > img, p {
  margin-left: 25px;
  margin-top: 0px;
}


.center-third-under {
  height: 34px;
  width: 600px;
  /*background: blue ;
    opacity: 0.4;*/
  float: left;
}

.center-third-center {
  height: 86px;
  width: 600px;
  /*background: brown ;
    opacity: 0.4;*/
  float: left;
}

.center-third-top {
  height: 85px;
  width: 600px;
  /*background: brown ;
    opacity: 0.4;*/
  float: left;
}

.center-two-top{
  height: 128px;
  width: 600px;
  /*background: brown ;
    opacity: 0.4;*/
  float: left;
}

.center-two-under{
   height: 128px;
  width: 600px;
  /*background: brown ;
    opacity: 0.4;*/
  float: left;
}


.right-large {
  height: 256px;
  width: 700px;
  /*background: green ;
    opacity: 0.4;
    border: solid 0.5px;*/
  float: left;
}

.right-large-split{
  height:100%;
  width: 350px;
  float:left
}

.right-short {
  height: 256px;
  width: 85px;
  /*background: red ;
    opacity: 0.4;
    border: solid 0.5px;*/
  float: left;
}


.error-left {
  width: 150px;
  float: left;
  margin-left: 50px;
  margin-top: 50px;
}

.error-center {
  width: 532px;
  float: left;
}

.two-hundred-height{
  height: 200px;
}

/* Align Objects*/

.text-center {
  text-align: center;
}

.logo-bottom {
  top: 150px;
  position: absolute;
  bottom: 0;
}

.two-lines-date {
  width: 100px;
}




.text-bottom {
  font-size: 11px;
}
/* link style */

.BlockReasons{
  margin-left:-85px;
  width:800px;
  height:40px;
  float:left;
  background-color: yellow;
  color:red;
    text-align:center;
  vertical-align:middle;
  padding-top:5px;
  font-weight: bold;
  font-size: 16px;
  position: fixed;
  top: 220px;
}

.BlockReasonsDescription{
  margin-top:3px;
  width:100%;
}

.Info{
  font-size:22px;
  font-weight: bold;
  text-align:right;
}

a:link {
  text-decoration: none;
  color: #000000;
}
/* Link no visitado*/
a:visited {
  text-decoration: none;
  color: #000000;
}
/*Link visitado*/
a:active {
  text-decoration: none;
  color: #000000;
}
/*Link activo*/
a:hover {
  text-decoration: none;
  color: #000000;
}
/*Mouse sobre el link*/



.question-icon{
  width:65px;
  height:65px;
  float:left;
  padding-top:10px;
}


/* DataAccount2 */
.data-account2-info-with-multiplier {
  width: 475px;
  height: 86px;
  margin: 0 auto;
}

.data-account2-info {
  width: 200px;
  height: 86px;
  margin: 0 auto;
}

.data-account2-points {
  width:221px;
  float:left;
  margin-top:20px;
}

.data-account2-multiplier {
  width:200px;
  float:left;
  margin-left:50px;
  margin-top:20px;
}



.img-responsive-disabled {
  opacity:0.4;
}


/*Validate & Transfer*/
.loading-center {
  width: 100%;
  height: 80px;
  top: 50%;
  margin-top: -40px;
  position: relative;
}


.reward-vertical-text-ms{
  margin-top:25px;
  margin-left:10px;
  font-size:24px;
}

.reward-item-list{
  width: 400px;
  margin-left:auto;
  margin-right:auto;
}

.reward-one-item-list{
  width: 400px;
  height:85px;
  float:left;
}


 /*Tansfer Credit*/
.transfer-credit-message {
  width:410px;
  height:60px;
  margin-top:120px;
  margin-left:auto;
  margin-right:auto;
}

.transfer-credit-message-text-style {
  font-family:Arial, Helvetica, sans-serif;
  font-size:25px;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 30px;
}
