﻿
.left-large {
  width: 715px;
}

.fifty-width {
  width: 50px;
  float: left;
}

.one-hundred {
  width: 100px;
  float: left;
}

.one-hundred-half {
  width: 150px;
  float: left;
}

.two-hundred {
  width: 200px;
  float: left;
}

.two-hundred-ten {
  width: 210px;
  float: left;
}

.two-hundred-twenty {
  width: 220px;
  float: left;
}

.two-hundred-thidrty {
  width: 230px;
  float: left;
}

.two-hundred-fourty {
  width: 240px;
  float: left;
}

.two-hundred-fivety {
  width: 250px;
  float: left;
}


.three-hundred {
  width: 300px;
}

.five-hundred-eighty {
  width: 580px;
  float: left;
}

.six-hundred {
  width: 600px;
  float: left;
}

.two-hundred-half {
  width: 250px;
  float: left;
}