﻿@using resources = LCDInTouch.Web.resources.nls_resource;

@{
  ViewBag.Title = "Thank you";
}

@Html.Raw(ViewBag.DelayRefresh)


<div id="div_welcome" class="row">
  <div class="error-left">
  </div>
  <div class="error-center">
    <img src="~/images/icons/Logo2.png" class="black-logo-big" style="margin-left:125px;">
    <p id="DateFormatted" style="text-align: center;margin-left:-105px;"></p>
    <p class="Cliente" style="text-align: center;margin-left:-112px;">@resources.lo_agradecimiento</p>
  </div>

</div>
