﻿@{
  ViewBag.Title = "Show";
}

@Html.Raw(ViewBag.DelayRefresh)

<div id="div_welcome" class="row">
  <div class="error-left">
    <img src="~/images/icons/Warning.png" style="margin-top:30px;" />
  </div>

  @Html.Partial("Message")

  <div class="right-short">
    <div class="logo-bottom" style="margin-top: 10px;">
      <img src="~/images/Icons/logo.png" class="img-responsive black-logo-small">
      <p id="DateFormatted" class="text-bottom two-lines-date text-center" style="width:85px;margin-left:-5px;"></p>
    </div>
  </div>
</div>

