﻿@charset "utf-8";

html {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

.clr {
  clear: both;
  font-size: 0;
  overflow: hidden;
  height: 0;
}

.fondo {
  background-color: #2d383e;
}

.fondoContraste {
  background-color: #232C30;
}

.txt_fore_color {
  color: white;
  fill: white;
}

.txt_fore_color_dark {
  color: black;
}

.txt_fore_color_yellow {
  color: #EEC30A;
  fill: #EEC30A;
  font-weight: bold;
}

.txt_fore_color_orange {
  color: #e6b54a;
}

.txt_fore_color_orange_dark {
  color: #db9600;
}

.txt_fore_color_green {
  color: #0EFE66;
}

.txt_fore_color_gray {
  color: #a7a7a7;
}

.fondo_vip {
  background-color: darkgoldenrod;
}

/*LISTAS*/
.listrect {
  position: relative;
  left: -1px;
  top: -1px;
  height: 272px;
  z-index: 0;
  width: 100%;
  border: 1px solid #a7a7a7;
}

.listrect_news {
  position: relative;
  left: -1px;
  top: -1px;
  height: 120px;
  z-index: 0;
  width: 100%;
  border: 1px solid #a7a7a7;
}

.listrectasks {
  position: relative;
  left: -1px;
  top: -1px;
  height: 350px;
  z-index: 0;
  width: 100%;
  border: 1px solid #a7a7a7;
}

.listrect_task_last7 {
  position: relative;
  left: -1px;
  top: -1px;
  height: 150px;
  z-index: 0;
  width: 100%;
  border: 1px solid #a7a7a7;
}

.listrect_clock {
  position: relative;
  left: -1px;
  top: -1px;
  height: 70px;
  z-index: 0;
  width: 100%;
  border: 1px solid #a7a7a7;
}

.listdash {
  position: relative;
  left: -1px;
  top: 40px;
  height: 4px;
  z-index: 1;
  width: 100%;
  border-top: 1px dashed #a7a7a7;
}

.listtittle {
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  left: 15px;
  top: 8px;
  height: 36px;
  z-index: 2;
  /*width: 90%;*/
  font: 16px Calibri;
  text-transform: uppercase;
}

.title-wrap {
  width: 90%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  display:block;
}

.listtittle-donut {
  font-size: 16px;
  font-family: Calibri;
}

.first-column {
  padding-left: 10px;
  width: 48%;
  height: 100%;
  position: relative;
  float: left;
}

.second-column {
  padding-left: 5px;
  width: 20%;
  height: 100%;
  position: relative;
  float: right;
}

.third-column {
  padding-left: 5px;
  width: 25%;
  height: 100%;
  position: relative;
  float: right;
}

.first-row {
  width: 100%;
  height: 37%;
  position: relative;
}

.second-row {
  width: 100%;
  height: 25%;
}

.third-row {
  width: 100%;
  height: 37%;
}

.two-columns-first-column {
  height: 100%;
  position: relative;
  float: left;
  width: 78%;
  padding-left: 2%;
}

.two-columns-second-column {
  height: 100%;
  position: relative;
  float: left;
  width: 20%;
}

.two-columns-first-row {
  position: relative;
  width: 100%;
  height: 50%;
}

.two-columns-second-row {
  width: 100%;
  height: 50%;
}



/*ITEMS LISTAS*/

.itemwrap {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.item {
  position: relative;
  left: -1px;
  /* top: 30px;*/
  height: 60px;
  z-index: 3;
  width: 100%;
  border: 1px solid #a7a7a7;
  margin-bottom: 5px;
}

.itemtracerect {
  height: 100%;
  width: 100%;
  background-image: url("../img/itemtraceico.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #60757f;
}

.itemrectp {
  height: 100%;
  background-color: #36464e;
}

itemrectt-runners {
  float: left;
  height: 100%;
  background-color: #36464e;
}

.itemrectt {
  position: relative;
  height: 100%;
  background-color: #36464e;
}

.itemrectg {
  position: relative;
  left: 0px;
  top: 0px;
  height: 50px;
  z-index: 4;
  width: 100%;
  background-color: #36464e;
}

.itemnameleft {
  font: 90% Calibri;
}

.itemmachineleft {
  font: 75% Calibri;
  font-weight: bold;
  color: #0187d0;
  position: absolute;
  bottom: 0;
}

.itemmachineright {
  position: absolute;
  left: 50%;
  top: 20px;
  z-index: 6;
  font: 60% Calibri;
  font-weight: bold;
  color: #0187d0;
}

.itemnameright {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 6;
  font: 100% Calibri;
  font-weight: bold;
  max-width: 55%;
  text-align: right;
}

.itemnameright2 {
  position: absolute;
  top: 15px;
  z-index: 6;
  font: 70% Calibri;
}

.itemamountleft {
  position: absolute;
  left: 10px;
  top: 30px;
  z-index: 7;
  font: 16px Calibri;
  font-weight: bold;
}

.itemamountright {
  position: absolute;
  right: 15px;
  top: 30px;
  z-index: 7;
  font: 16px Calibri;
  font-weight: bold;
}

.itemamountrightbottom {
  font: 95% Calibri;
  font-weight: bold;
  text-align: right;
}


.itemamountrightrow1 {
  font: 75% Calibri;
  font-weight: bold;
  right: 15%;
  position: absolute;
  top: 15px;
  width: 30%;
  text-align: right;
  padding-right: 8%;
}

.itemamountrightrow2 {
  font: 75% Calibri;
  font-weight: bold;
  right: 15%;
  position: absolute;
  bottom: 5px;
  width: 30%;
  text-align: right;
  padding-right: 8%;
}

.itemgiftdesc {
  position: absolute;
  left: 10px;
  top: 30px;
  z-index: 7;
  font: 12px Calibri;
  font-weight: bold;
}

.itemlevel {
  font: 70% Calibri;
  font-weight: bold;
  color: #EFE21B;
  position: absolute;
  bottom: 0;
}

.itemlevelcenter {
  position: absolute;
  left: 20%;
  top: 34px;
  z-index: 8;
  font: 12px Calibri;
  color: #0187d0;
  font-weight: bold;
}

.itemlevelvip {
  position: absolute;
  right: 10px;
  top: 25px;
  z-index: 8;
  font: 16px Calibri;
  color: yellow;
  font-weight: bold;
}

.itemlevelvip2 {
  position: absolute;
  right: 87%;
  top: 32px;
  z-index: 8;
  font: 16px Calibri;
  color: yellow;
  font-weight: bold;
}

.itemgiftunit {
  position: absolute;
  right: 10px;
  top: 25px;
  z-index: 8;
  font: 20px Calibri;
  color: yellow;
  font-weight: bold;
}

.itemaverage {
  position: absolute;
  margin-left: 1%;
  top: 5px;
  z-index: 9;
  font: 15px Calibri;
  color: #FF8000;
  font-weight: bold;
}

.itemicoaverage {
  position: absolute;
  left: 15px;
  top: 25px;
  z-index: 10;
  width: 21px;
  height: 18px;
  background-image: url("/design/img/Ico_Up.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icoaveragedown {
  background-image: url("/design/img/Ico_Down.png") !important;
}

.itemocupationrect {
  position: absolute;
  right: 0.5px;
  top: 0px;
  height: 50px;
  z-index: 11;
  width: 10px;
  background-color: green;
}


/* ITEMS */

/* OCCUPANCY */
.datehour {
  position: absolute;
  right: 15px;
  top: 90%;
  height: 18px;
  z-index: 10;
  font: 1.1em Calibri;
}

.METRIC {
  position: absolute;
  top: 62%;
  height: 31px;
  z-index: 11;
  font: 11px Calibri;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.TDA {
  left: 32.5%;
}

.SLW {
  left: 24.5%;
}

.MTD {
  left: 17%;
}

.YTD {
  left: 9.5%;
}


.METRIC_VALUE {
  position: absolute;
  top: 62%;
  height: 31px;
  z-index: 11;
  font: 11px Calibri;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.TDA_VALUE {
  left: 66%;
}

.SLW_VALUE {
  left: 73.5%;
}

.MTD_VALUE {
  left: 81.5%;
}

.YTD_VALUE {
  left: 89%;
}

.icometer {
  position: absolute;
  right: 5px;
  top: 3%;
  height: 28px;
  z-index: 12;
  width: 31px;
}

/* TIPO BOLSA */
.news_today {
  position: absolute;
  left: 25px;
  top: 55px;
  z-index: 3;
  font: 14px Calibri;
}


.news_today_value {
  position: absolute;
  right: 25px;
  top: 55px;
  z-index: 3;
  font: 14px Calibri;
}

.news_ico_up {
  position: absolute;
  left: 31px;
  top: 85px;
  height: 18px;
  z-index: 1;
  width: 21px;
  background-image: url("/design/img/Ico_Up.png") !important;
}

.news_ico_down {
  position: absolute;
  left: 31px;
  top: 85px;
  height: 18px;
  z-index: 1;
  width: 21px;
  background-image: url("/design/img/Ico_Down.png") !important;
}

.news_percent {
  position: absolute;
  right: 20px;
  top: 85px;
  z-index: 1;
  font: 20px Calibri;
  font-weight: bold;
}

.news_percent_big {
  position: absolute;
  right: 20px;
  /*top: 85px;*/
  bottom: 10px;
  z-index: 1;
  font: 35px Calibri;
  font-weight: bold;
}


.news_percent_medium {
  /* position: absolute;*/
  float: left;
  width: 50%;
  right: 10px;
  /*top: 85px;*/
  bottom: 5px;
  z-index: 1;
  font: 16px Calibri;
  font-weight: bold;
}

.metersDiv {
  overflow: auto;
  overflow-x: hidden;
  padding: 3px;
}

.labelWidget {
  /*padding-left: 1px;*/
  width: 49.3%;
  /*padding: 3px 3px 3px 3px;*/
  text-align: right;
  right: 10px;
  /*top: 85px;*/
  bottom: 5px;
  z-index: 1;
  font: 27px Calibri;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

.labelWidgetGreen {
  background-color: #029b33;
  color: #d9ffe2;
}

.labelWidgetGray {
  background-color: #577580;
  color: #dba038;
}

.labelWidgetRed {
  background-color: #B40404;
  color: #d9ffe2;
}

.labelWidgetLeft {
  float: left;
}

.labelWidgetSeparator {
  width: 1.2%;
  float: left;
}

.labelWidgetRight {
  float: left;
  margin-left: 0px;
}

.labelWidgetDescription {
  float: left;
  width: 50%;
  right: 10px;
  /*top: 85px;*/
  bottom: 5px;
  z-index: 1;
  font: 16px Calibri;
  font-weight: normal;
}

.labelWidgetTitle {
  float: left;
  width: 100%;
  right: 10px;
  bottom: 5px;
  z-index: 1;
  font: 27px Calibri;
}

.labelWidgetText {
  padding-right: 10px;
}

.white-letters {
  color: white;
  font-family: Calibri;
}

.metersTitleDiv {
  text-align: center;
}

.netwinDiv {
  width: 92%;
  top: 56px;
  position: absolute;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.coinInDiv {
  position: absolute;
  width: 92%;
  top: 163px;
  margin-left: 3.5%;
  margin-right: 3.5%;
}
/* TIPO BOLSA */

/* TASKS */


.lbl_value_task {
  font: 14px Calibri;
  font-weight: bold;
}

.l_task {
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  left: 5%;
  font: 14px Calibri;
}

.l_task_list li {
  display: inline-table;
  position: relative;
  width: 32%;
}

.lbl_task_technical {
  top: 55px;
}

.lbl_task_players {
  top: 105px;
}

.lbl_task_site {
  top: 155px;
}


.task_bars {
  height: 25px;
  width: 90%;
  border-radius: 4px !important;
}

.task_bar_technical {
  top: 75px;
}

.task_bar_players {
  top: 125px;
}

.task_bar_site {
  top: 175px;
}

.task_bar_pending {
  background-color: #0187d0 !important;
}

.task_bar_assigned {
  background-color: #9E2422 !important;
}

.task_bar_solved {
  background-color: #378d3b !important;
}

.task_bar_lbl_value {
  position: relative;
  top: 3px;
  left: 3px;
  font: 11px Calibri;
  font-weight: bold;
}


.legend_task {
  height: 38px;
  width: 38px;
  border-radius: 20px;
}

.legend_task_pending {
  top: 210px;
  background-color: #0187d0;
}

.legend_task_solved {
  top: 300px;
  background-color: #378d3b;
}

.legend_task_assigned {
  top: 255px;
  background-color: #9E2422;
}

.legend_lbl_task {
  position: relative;
  top: -10px;
  left: 40px;
  font: 14px Calibri;
  margin: 0 auto;
  width:210%;
}

.legend_lbl_value_task {
  position: relative;
  top: 30%;
  /* left: 6px;*/
  font: 14px Calibri;
  font-weight: bold;
  text-align: center;
}

.task-bottom-info {
  top: 190px;
  position: relative;
  left: 5%;
}

/* LAST WEEK */

.task_last_7_char_bg {
  position: absolute;
  left: 15px;
  top: 68px;
  height: 56px;
  z-index: 2;
  width: 20px;
  /*background-color:white;*/
}

.task_last_7_value {
  position: relative;
  left: 15px;
  top: -17px;
  height: 6px;
  z-index: 1;
  font-weight: bold;
  font: 11px Calibri;
}

.task_last_7_char_bar_value {
  background-color: greenyellow !important;
}

.task_last_7_day {
  position: relative;
  left: 16px;
  top: 75px;
  width: 196px;
  font: 12px Calibri;
  font-weight: bold;
  z-index: 3;
}

.task_last_7_max_lbl {
  position: absolute;
  right: 10px;
  top: 50px;
  font: 12px Calibri;
  font-weight: bold;
  text-align: right;
}

.task_last_7_max_day_lbl {
  position: relative;
  right: 0px;
  top: 5px;
  font: 11px Calibri;
  font-weight: bold;
  text-align: right;
}

.task_last_7_max_hour_lbl {
  position: relative;
  right: 0px;
  top: 10px;
  font: 11px Calibri;
  text-align: right;
}

.task_last_7_max_value {
  position: relative;
  right: 0px;
  top: 15px;
  font: 20px Calibri;
  font-weight: bold;
  text-align: right;
}


/* TASKS */



/* CLOCK */


.clock_day {
  position: absolute;
  right: 15px;
  top: 7px;
  font: 22px Calibri;
}

.clock_hour {
  position: absolute;
  right: 15px;
  bottom: 7px;
  font: 26px Calibri;
  font-weight: bold;
}


/* ************************************************************** */

.WidgetDraggablePart {
  width: 100%;
  min-height: 45px;
}

.WidgetStaticPart {
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  -ms-overflow-style: none;
  -moz-appearance: none !important;
}

  .WidgetStaticPart::-webkit-scrollbar {
    width: 0 !important;
    height: 21px;
  }

.WidgetListBase {
  height: 100%;
  position: relative;
}

.svg_container {
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  left: 0px;
  top: 50px;
  height: 80%;
  width: 100%;
}

  .svg_container > svg {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    /*background-color: navy;*/
  }

.gauge_background_container {
  fill: #818181;
  stroke: #a7a7a7;
  stroke-width: 1;
}

/* WidgetAmphitheater Bar label */

.amphitheater_label {
  font-weight: bold;
}

/* WidgetColumns Item  */

.column7Item {
  float: left;
  border: none !important;
  width: 10%;
}

/*  COMPARATION */

.comparation_right_bottom_value {
  position: absolute;
  right: 15px;
  top: 225px;
  z-index: 1;
  font: 30px Calibri;
  font-weight: bold;
}

.comparation_left_bottom_txt {
  position: absolute;
  right: 15px;
  top: 255px;
  z-index: 1;
  font: 12px Calibri;
}

.comparation_left_bottom_value {
  position: absolute;
  left: 15px;
  top: 225px;
  z-index: 1;
  font: 30px Calibri;
  font-weight: bold;
}

.comparation_right_top_txt {
  position: absolute;
  left: 15px;
  top: 255px;
  z-index: 1;
  font: 12px Calibri;
}

.comparation_char1_bg {
  position: absolute;
  left: 15px;
  top: 60px;
  height: 150px;
  z-index: 2;
  width: 150px;
  background-color: #60757f;
  border-radius: 50%;
  border: 1px solid #a7a7a7;
}

.comparation_char2_bg {
  position: absolute;
  left: 180px;
  top: 60px;
  height: 150px;
  z-index: 2;
  width: 150px;
  background-color: olive;
  border-radius: 50%;
  border: 1px solid #a7a7a7;
}

.comparation_char1_value {
  position: relative;
  text-align: center;
  top: 40px;
  z-index: 1;
  font: 50px Calibri;
  font-weight: bold;
}

.comparation_char1_txt {
  position: relative;
  text-align: center;
  top: 40px;
  z-index: 1;
  font: 13px Calibri;
  font-weight: bold;
}

.comparation_char2_value {
  position: relative;
  text-align: center;
  top: 40px;
  z-index: 1;
  font: 50px Calibri;
  font-weight: bold;
}

.comparation_char2_txt {
  position: relative;
  text-align: center;
  top: 40px;
  z-index: 1;
  font: 13px Calibri;
  font-weight: bold;
}
/*  COMPARATION */

/* HORIZONTAL PROGRESS */

.bar_progress {
  top: 65px;
}

.bar_progress_rest {
  background-color: White;
}

/* ROUND INDICATOR */
.svg_container_rnd {
  position: absolute;
  left: 0px;
  top: 50px;
  height: 50%;
  width: 100%;
}

  .svg_container_rnd > svg {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
  }

/* */
.widget_label_class {
  font-size: 1em !important;
  font-weight: bold;
  fill: white !important;
}

/* RMS - TEST */
.player_info_chart_labels {
  font-size: 0.7em !important;
  font-weight: bold;
  fill: darkgray !important;
}

#widgetComparation1 {
  height: 100%;
  width: 100%;
}

.comparation_chart_div {
  height: 70%;
  width: 100%;
  position: absolute;
  margin-top: 8%;
}

.container_comparation {
  height: 70%;
  width: 100%;
}

@media only screen and (min-width:1025px) and (max-width:1366px) {

  #widgetComparation1 {
    height: 100%;
    width: 100%;
  }

  .container_comparation {
    height: 50%;
    width: 100%;
    position: absolute;
    margin-top: 8%;
  }

  .comparation_char1_bg {
    position: static;
    margin-top: 15%;
    height: 90%;
    width: 47%;
    float: left;
    margin-left: 2%;
  }

  .comparation_char2_bg {
    position: static;
    margin-top: 15%;
    width: 47%;
    float: right;
    margin-right: 2%;
    height: 90%;
  }

  .listtittle {
    margin-left: 2%;
    position: absolute;
    width: 100%;
    left: 0;
  }

  .comparation_char1_value {
    top: 20%;
  }

  .comparation_char1_txt {
    top: 20%;
  }

  .comparation_char2_value {
    top: 20%;
  }

  .comparation_char2_txt {
    top: 20%;
  }
}

.itemlevelhr {
  position: absolute;
  right: 10px;
  top: 25px;
  z-index: 8;
  font: 16px Calibri;
  color: yellow;
  font-weight: bold;
}

.itemlevelhr2_1 {
  position: absolute;
  right: 65%;
  top: 25px;
  z-index: 8;
  font: 16px Calibri;
  color: white;
  font-weight: bold;
  /*text-shadow: 0 0 3px black;*/
}

.itemlevelhr2_2 {
  position: absolute;
  right: 0%;
  top: 25px;
  z-index: 8;
  font: 16px Calibri;
  color: white;
  font-weight: bold;
  width: 60%;
  /*text-shadow: 0 0 3px black;*/
}

.itemlevelhr3_1 {
  position: absolute;
  right: 65%;
  top: 45px;
  z-index: 8;
  font: 16px Calibri;
  color: white;
  font-weight: bold;
  /*text-shadow: 0 0 3px black;*/
}

.itemlevelhr3_2 {
  position: absolute;
  right: 0%;
  top: 45px;
  z-index: 8;
  font: 16px Calibri;
  color: white;
  font-weight: bold;
  width: 60%;
  /*text-shadow: 0 0 3px black;*/
}

.itemrecttHR {
  position: relative;
  left: 0px;
  top: 0px;
  height: 65px;
  z-index: 4;
  width: 80%;
  background-color: #36464e;
}

/*ITEMS LISTAS*/
.itemHR {
  position: relative;
  left: 80%;
  /* top: 30px;*/
  height: 65px;
  z-index: 3;
  width: 100%;
  border: 1px solid #a7a7a7;
  margin-bottom: 5px;
}

.itemtracerectHR {
  height: 100%;
  width: 100%;
  background-image: url("../img/itemtraceico.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #60757f;
}

.itemnameright2HR {
  font: 80% Calibri;
  font-weight: bold;
}

.itemtracerectBirthD {
  width: 100%;
  height: 100%;
  background-image: url("../img/itemtraceico.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #60757f;
}

.birth_day_container {
  position: relative;
  left: -1px;
  /* top: 30px;*/
  height: 60px;
  z-index: 3;
  width: 100%;
  border: 1px solid #a7a7a7;
  margin-bottom: 5px;
  background-color: #36464e;
}

.birthd_user_name {
  position: absolute;
  left: 25%;
  top: 7px;
  z-index: 6;
  font: 80% Calibri;
  font-weight: bold;
  max-width: 57%;
}

.birthd_isvip {
  position: absolute;
  left: 25%;
  top: 55%;
  z-index: 6;
  font: 120% Calibri;
  font-weight: bold;
  color: yellow;
}

.birthd_user_lvl {
  position: absolute;
  left: 35%;
  bottom: 0px;
  z-index: 6;
  font: 100% Calibri;
  font-weight: bold;
  color: orange;
}

.birthd_machine {
  position: absolute;
  left: 50%;
  bottom: 3px;
  z-index: 6;
  font: 80% Calibri;
  font-weight: bold;
  color: dodgerblue;
  max-width: 30%;
}

.birthd_container_age {
  background-color: darkorange;
  width: 60%;
  height: 100%;
  font: 150% Calibri;
  font-weight: bold;
  color: white;
  text-align: center;
  vertical-align: middle;
  float: right;
}

.birthd_user_ages {
  width: 100%;
  height: 100%;
  font: 120% Calibri;
  font-weight: bold;
  color: white;
  text-align: center;
  top: 20%;
  position: relative;
}

.item_birth_day {
  position: relative;
}


.itemtracerectMaxLvlPlayer {
  width: 100%;
  height: 100%;
  background-image: url("../img/itemtraceico.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #60757f;
}

.mlp_container {
  position: relative;
  left: -1px;
  /* top: 30px;*/
  height: 60px;
  z-index: 3;
  width: 100%;
  border: 1px solid #a7a7a7;
  margin-bottom: 5px;
  background-color: #36464e;
}

.mlp_user_name {
  position: absolute;
  left: 1%;
  top: 2px;
  z-index: 6;
  font: 100% Calibri;
  font-weight: bold;
  max-width: 50%;
}

.mlp_machine {
  position: absolute;
  left: 1%;
  bottom: 8%;
  z-index: 6;
  font: 80% Calibri;
  font-weight: bold;
  color: dodgerblue;
}

.mlp_coin_in {
  font: 90% Calibri;
  font-weight: bold;
  color: #DB9600;
  text-align: right;
}

.mlp_bet_avg {
  font: 90% Calibri;
  font-weight: bold;
  color: #E6B54A;
  text-align: right;
}

.item_mlp {
  position: relative;
}

.mlp_coin_in_label {
  color: white;
  right: 40%;
  width: 11%;
  position: absolute;
  top: 2px;
  font-size: 90%;
  text-align: right;
}

.mlp_bet_avg_label {
  color: white;
  right: 40%;
  width: 11%;
  position: absolute;
  bottom: 3px;
  font-size: 90%;
  text-align: right;
}

.pagination-bar {
  position: absolute;
  bottom: 3px;
  height: 11%;
  width: 100%;
  text-align:center;
}

.pagination-indicator {
    color:white;
    display: inline-block;
    position: relative;
    top: 8px;
    font: 75% Calibri;
}

.pagination-button-left {
  width: 7%;
  float: left;
  height: 100%;
  position: relative;
  color: #fff;
  display: block;
  text-indent: -9999px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: url(../iconos/arrowDown.svg) no-repeat 9px 10px;
  background-size: 50%;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.pagination-button-right {
  width: 7%;
  float: right;
  height: 100%;
  position: relative;
  color: #fff;
  display: block;
  text-indent: -9999px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: url(../iconos/arrowUp.svg) no-repeat 9px 8px;
  background-size: 50%;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.pagination-button-left:active,
.pagination-button-right:active {
   background-color:#a7a7a7;
}

.conversation-error {
   height: 70%;
    overflow-y: hidden;
    /* margin-bottom: 2.5%; */
    margin-top: 15%;
    background-color: rgba(56, 72, 79, 0.90);
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 0;
    z-index: 5;
}

.display-table {
  display:table;
}

.display-table-cell {
  display:table-cell;
}

.vertical-top {
  vertical-align: top;
}
.vertical-bottom{
  vertical-align:bottom;
}

@media only screen and (max-width: 1700px) and (max-height: 900px) {
  .legend_lbl_task {
    top: -10px;
    left: 33px;
    width: 253%;
    font: 13px Calibri;
  }

  .legend_task {
    height: 30px;
    width: 30px;
  }

 .legend_lbl_value_task {
    top:25%;
  }
}

@media only screen and (max-width: 1500px) and (max-height: 631px) {
  .itemnameleft, .itemnameright2, .itemnameright, .pagination-indicator {
    font: 70% Calibri;
  }

  .itemamountleft, .itemlevelcenter {
    font-size: 10px;
  }

  .labelWidget {
    font: 20px Calibri;
  }
}

@media only screen and (max-width: 1506px) and (max-height: 730px) {
  .pagination-button-left {
    width: 12%;
  }

  .pagination-button-right {
    width: 12%;
  }

  .labelWidget {
    font: 20px Calibri;
  }

  .first-column {
    width: 46%;
  }

  .first-column-birthday {
    width: 50%;
  }
  .third-column-birthday {
    width: 17%;
  }
  .itemnameleft, .itemnameright2, .itemnameright, .itemmachineleft ,.pagination-indicator{
    font: 72% Calibri;
  }

  .itemroleitem {
    font: 90% Calibri;
  }

  .itemlevel {
    font: 65% Calibri;
  }

  .itemamountrightbottom {
    font: 75% Calibri;
    width: 100%;
    text-align: right;
    padding-right: 6%;
  }

  .birth_day_container {
    position: relative;
    left: -1px;
    /* top: 30px;*/
    height: 60px;
    z-index: 3;
    width: 100%;
    border: 1px solid #a7a7a7;
    margin-bottom: 5px;
    background-color: #36464e;
  }

  .birthd_user_name {
    position: absolute;
    left: 21%;
    top: 3px;
    z-index: 6;
    font: 100% Calibri;
    font-weight: bold;
    max-width: 65%;
  }

  .birthd_isvip {
    position: absolute;
    left: 21%;
    top: 51%;
    z-index: 6;
    font: 110% Calibri;
    font-weight: bold;
    color: yellow;
  }

  .birthd_user_lvl {
    position: absolute;
    left: 35%;
    bottom: 0px;
    top: 56%;
    z-index: 6;
    font: 90% Calibri;
    font-weight: bold;
    color: orange;
  }

  .birthd_machine {
    position: absolute;
    left: 55%;
    bottom: 3px;
    top: 62%;
    z-index: 6;
    font: 60% Calibri;
    font-weight: bold;
    color: dodgerblue;
    max-width: 30%;
  }

  .birthd_container_age {
    background-color: darkorange;
    width: 100%;
    float: right;
    height: 100%;
    font: 120% Calibri;
    font-weight: bold;
    color: white;
    text-align: center;
    vertical-align: middle;
  }

  .birthd_user_ages {
    width: 100%;
    height: 100%;
    font: 120% Calibri;
    font-weight: bold;
    color: white;
    text-align: center;
    top: 25%;
    position: relative;
  }

  .item_birth_day {
    position: relative;
  }


  .mlp_user_name {
    position: absolute;
    left: 21%;
    top: 2px;
    z-index: 6;
    font: 100% Calibri;
    font-weight: bold;
    max-width: 47%;
  }

  .mlp_machine {
    position: absolute;
    left: 21%;
    bottom: 8%;
    z-index: 6;
    font: 60% Calibri;
    font-weight: bold;
    color: dodgerblue;
  }

  .mlp_coin_in {
    font: 75% Calibri;
    font-weight: bold;
  }

  .mlp_bet_avg {
    font: 75% Calibri;
    font-weight: bold;
  }

  .item_mlp {
    position: relative;
  }

  .mlp_coin_in_label {
    color: white;
    right: 25%;
    width: 11%;
    position: absolute;
    top: 3px;
    font-size: 60%;
    text-align: right;
  }

  .mlp_bet_avg_label {
    color: white;
    right: 25%;
    width: 11%;
    position: absolute;
    bottom: 3px;
    font-size: 60%;
    text-align: right;
  }

  .legend_task {
    height: 20px;
    width: 20px;
  }

  .legend_lbl_task {
    top: -13px;
    left: 23px;
    font: 11px Calibri;
    width:300%;
  }

  .legend_lbl_value_task {
    top: 6%;
    font: 14px Calibri;
  }

  .l_task_list li {
    width: 31%;
  }

  .task-bottom-info {
    top: 210px;
  }
}
