﻿
/* titulo charts */

.tittleCharts {
  font-weight: 500;
  font-size: 80%;
  color: #BBB;
}



/*  Charts comparativas */
#tblComparativa {
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  font-size: 75%;
}

  #tblComparativa td, th {
  }

  #tblComparativa th {
    background-color: blue;
    text-align: center;
    height: 10px;
    background-color: #BBB;
  }


  #tblComparativa td {
    background-color: blue;
    border-top: none;
    text-align: center;
    height: 10px;
    background-color: #FFF;
  }




    #tblComparativa td:first-child {
      border-left: none;
    }

/* LOADING */
#sp_loading_step {
  font-size: 10pt;
  color: white;
  width: 100%;
  margin: auto;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

/*#div_loader {
  position: absolute;
  margin: auto;
  max-width: 350px;
  width: 100%;
  max-height: 350px;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}*/


/* Ribbon */
.body_viewer {
  padding-top: 151px;
  background-color: #333333;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#ribbon {
  font-family: "Segoe UI", Verdana, Tahoma, Helvetica, sans-serif;
  cursor: default;
  font-size: 8pt;
  padding-top: 10px;
  background-color: #eaedf1;
  border-bottom: 1px solid #8b9097;
  -webkit-box-shadow: #8b9097 0px 1px 3px;
  -moz-box-shadow: #8b9097 0px 1px 3px;
  box-shadow: #8b9097 0px 1px 3px;
  overflow: hidden;
  behavior: url(/PIE.htc);
  z-index: 25;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 135px;
}

  #ribbon.backstage {
    height: auto;
    bottom: 0;
  }

  #ribbon .ribbon-window-title {
    text-align: center;
    color: #000;
    padding: 2px;
    font-size: 10pt;
    display: block;
  }

  #ribbon #ribbon-tab-header-strip {
    margin: 5px 0 0 10px;
    white-space: nowrap;
  }

  #ribbon .ribbon-tab-header {
    display: inline;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 8pt;
    color: #444;
    border-bottom: 1px solid #b6babf;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    z-index: 40;
  }

  #ribbon.backstage .ribbon-tab-header {
    border-bottom: 1px solid #1f48a1;
  }

  #ribbon .ribbon-tab-header:hover {
    background: #f1f3f4;
    border: 1px solid #b6babf;
    margin: -1px 4px;
    cursor: pointer;
  }

  #ribbon.backstage .ribbon-tab-header {
    border-bottom: 1px solid #1f48a1;
  }

  #ribbon .ribbon-tab-header.sel, #ribbon .ribbon-tab-header.sel:hover {
    background: #fff;
    margin: -1px 4px;
    border: 1px solid #b6babf;
    border-bottom: 1px solid #fff;
    cursor: default;
    z-index: 45;
  }

  #ribbon .ribbon-tab-header.file {
    padding: 5px 20px;
    background: #2860b3;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4488e5), to(#2860b3));
    background: -moz-linear-gradient(#4488e5, #2860b3);
    -pie-background: linear-gradient(#4488e5, #2860b3);
    border: 1px solid #1f48a1;
    margin: -1px 4px;
    border-bottom: 1px solid #4488e5;
    cursor: default;
    color: #fff;
  }


    #ribbon .ribbon-tab-header.file:hover {
      background: #3870c3;
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5498f5), to(#3870c3));
      background: -moz-linear-gradient(#5498f5, #3870c3);
      -pie-background: linear-gradient(#5498f5, #3870c3);
      border: 1px solid #1f48a1;
      cursor: pointer;
      border-bottom: 1px solid #4488e5;
      z-index: 55;
      position: relative;
    }

    #ribbon .ribbon-tab-header.file.sel {
      background: #4488e5;
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2860b3), to(#4488e5));
      background: -moz-linear-gradient(#2860b3, #4488e5);
      -pie-background: linear-gradient(#2860b3, #4488e5);
      border: 1px solid #1f48a1;
      cursor: pointer;
      border-bottom: 1px solid #4488e5;
      z-index: 55;
      position: relative;
    }

  #ribbon .ribbon-tab {
    height: 80px;
    padding: 5px;
    margin-top: 5px;
    border-top: 1px solid #b6babf;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
    background: -moz-linear-gradient(#ffffff, #eaedf1);
    overflow: hidden;
    min-width: 500px;
    behavior: url(/PIE.htc);
    z-index: 30;
    -pie-watch-ancestors: 2;
  }

    #ribbon .ribbon-tab.file {
      padding: 0;
      margin-top: 5px;
      border-top: 1px solid #1f48a1;
      background-color: #4488e5;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#4488e5, endColorstr=#ffffff);
      background-image: -moz-linear-gradient(left, #4488e5 15%, #ffffff 100%);
      background-image: -webkit-linear-gradient(left, #4488e5 15%, #ffffff 100%);
      background-image: -ms-linear-gradient(left, #4488e5 15%, #ffffff 100%);
      background-image: linear-gradient(left, #4488e5 15%, #ffffff 100%);
      background-image: -o-linear-gradient(left, #4488e5 15%, #ffffff 100%);
      background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(15%,#4488e5), color-stop(100%,#ffffff));
      overflow: hidden;
      min-width: 500px;
      z-index: 30;
    }

  #ribbon .ribbon-backstage {
    display: none;
    overflow: scroll;
  }


  #ribbon.backstage .ribbon-backstage {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: #FFF;
  }

  #ribbon .section-title {
    color: #5B626C;
    text-align: center;
    clear: left;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #ribbon .ribbon-section {
    float: left;
    position: relative;
    height: 82px;
  }

.tabs-section {
  float: left;
  position: relative;
  height: 62px;
  /*text-align: center;*/
}

.tabs-section-sep {
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #fff;
  margin: 0 5px;
  height: 55px;
  position: relative;
  width: 0;
  float: left;
}

.tabs-content-min {
  height: 80px;
}


.tabs-content-max {
  height: 2500px;
}

.tabs-section-title {
  color: #5B626C;
  text-align: center;
  clear: left;
  display: block;
  /*position: absolute;*/
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}

#ribbon .ribbon-section-sep {
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #fff;
  margin: 0 5px;
  height: 75px;
  position: relative;
  width: 0;
  float: left;
}

UNUSED#ribbon .ribbon-button .ribbon-icon.ribbon-hot, UNUSED#ribbon .ribbon-button .ribbon-icon.ribbon-disabled {
  display: none;
}

#ribbon .ribbon-button:hover .ribbon-icon.ribbon-normal {
  display: none;
}

#ribbon .ribbon-button-large:hover .ribbon-icon.ribbon-hot {
  display: block;
}

#ribbon .ribbon-button-small:hover .ribbon-icon.ribbon-hot {
  display: inline;
}

#ribbon .ribbon-button:hover, UNUSED#ribbon .ribbon-button.sel {
  border: 1px solid #F1C43F;
  background: #fdeeb3;
  cursor: pointer;
}

UNUSED#ribbon .ribbon-button.disabled .ribbon-icon, #ribbon .ribbon-button.disabled:hover .ribbon-icon {
  display: none;
}

#ribbon .ribbon-button.disabled:hover {
  border: 1px solid transparent;
  background: transparent;
  cursor: default;
}


/* Charts */


/* --------------------- Box styles for reports ------------------ */

.box-big {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  width: 80%;
  height: 450px;
  vertical-align: middle;
  text-align: center;
}

.box-16 {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  width: 16.22%;
  height: 225px;
  vertical-align: middle;
  text-align: center;
}

.box-20 {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  width: 20%;
  height: 205px;
  vertical-align: middle;
  text-align: center;
}

.box-26 {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  width: 26.42%;
  height: 205px;
  vertical-align: middle;
  text-align: center;
}

.box-40 {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  height: 205px;
  width: 41.6%;
  vertical-align: middle;
  text-align: center;
}

.box-40-tall {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  height: 230px;
  width: 41.6%;
  vertical-align: middle;
  text-align: center;
}

.box-40-2 {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  height: 422px;
  width: 41.6%;
  vertical-align: middle;
  text-align: center;
}

.box-60 {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  width: 60%;
  height: 205px;
  vertical-align: middle;
  text-align: center;
}

.box-80 {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  width: 84%;
  height: 205px;
  vertical-align: middle;
  text-align: center;
}

/* --------------------------------------------------------------- */


.box-set {
  background: #eaeaed;
}

.box {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  height: 270px;
  width: 40%;
}

.boxMenu {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  background: #3870c3;
  width: 15%;
}

.box2 {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  width: 60%;
  height: 250px;
}

.box3 {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  width: 20%;
  height: 250px;
}

.box4 {
  float: left;
  margin: 0.3%;
  border: 1px solid #a1a1a1;
  width: 26%;
  height: 250px;
}

.Top10Best2 {
  width: 150px;
  height: 175px;
}


/* older: style.css */

.div_heatmapArea {
  width: 2020px;
  height: 1080px;
  position: relative;
}

.div_runnersmapArea {
  width: 2020px;
  height: 1080px;
  position: relative;
}

#divSldZoom {
  display: inline;
  right: 0px;
  top: 185px;
  width: 30%;
  z-index: -1;
  position: relative;
  float: right;
}

#sldZoom {
  width: 100%;
}

.ico_zoom {
  width: 25px;
  height: 25px;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.icoClose {
  background-image: url("../images/close_button_3-512.png");
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-repeat: no-repeat;
  border-radius: 5px 5px 5px 5px;
}

.icoDollar {
  background-image: url("../images/dollar.png");
  width: 32px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.icoLocalize {
  background-image: url("../iconos/localizar.svg");
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-repeat: no-repeat;
  border-radius: 2px 2px 2px 2px;
  background-position: center;
  width: 100%;
}

.icoSnapshot {
  background-image: url("../iconos/detalles.svg");
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-repeat: no-repeat;
  border-radius: 2px 2px 2px 2px;
  background-position: center;
  width: 100%;
}

.icoSnapshot_undo {
  background-image: url("../images/snapshot_remove.png");
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-repeat: no-repeat;
  border-radius: 2px 2px 2px 2px;
  background-position: center;
  width: 100%;
}

.icoInformation {
  background-image: url("../images/information.png");
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-repeat: no-repeat;
  border-radius: 2px 2px 2px 2px;
}

.divCloseMonitor {
  display: none;
  cursor: pointer;
  background-color: #eaedf1;
  text-align: center;
  width: 100px;
  height: 30px;
  position: fixed;
  left: 100px;
  right: 0px;
  border: 1px solid;
  border-radius: 0px 0px 5px 5px;
  font-family: 'Segoe UI', Verdana, Tahoma, Helvetica, sans-serif;
  font-size: 8pt;
}

 #caption {
  font-family: Verdana;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  cursor: move;
}

/*  SCROLL BARS */
/* ie */
body {
  background: #404040;
  scrollbar-face-color: #2d383e;
  scrollbar-highlight-color: #a7a7a7;
  scrollbar-shadow-color: #a7a7a7;
  scrollbar-3dlight-color: #a7a7a7;
  scrollbar-arrow-color: #a7a7a7;
  scrollbar-track-color: #2d383e;
  scrollbar-darkshadow-color: #a7a7a7;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Chrome */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-button {
  background-color: #2d383e;
}

::-webkit-scrollbar-track {
  background-color: #2d383e;
}

::-webkit-scrollbar-track-piece {
  background-color: #2d383e;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #2d383e;
  border: 1px solid #a7a7a7;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #2d383e;
}

}

::-webkit-resizer {
  background-color: #a7a7a7;
}
/*  SCROLL BARS */

a, UNUSED.title {
  color: #B24926;
}

#content a:hover {
  color: #333;
}

@media all and (max-width: 600px) {
  #banner-secondary p.intro, #banner-secondary .download-box {
    float: none;
    width: auto;
  }

  #banner-secondary .download-box {
    overflow: auto;
  }
}

@media only screen and (max-width: 480px) {
  #content .dev-links {
    width: 55%;
    margin: -15px -29px .5em 1em;
    overflow: hidden;
  }
}








.heatmapArea_class {
  position: absolute;
  background-size: 100%;
}


.gridlines {
  display: none;
  position: absolute;
  background-color: Gray;
  z-index: -1;
}

.netwin_positive, .colorPositive {
  color: Green;
}

.netwin_negative, .colorNegative {
  color: Red;
}

.tr_customer_at_room_vip {
  background-color: Yellow;
}

/*	.tr_customer_at_room_playing
		{
			color:black;
		}*/
.table_report {
  width: 475px;
  /* background-color: #eaedf1;*/
  clear: both;
  z-index: 1;
  /* color: black;*/
  /* border: 1px solid #a4a4a4;*/
  -webkit-box-shadow: #a4a4a4 0px 5px 5px;
  -moz-box-shadow: #a4a4a4 0px 5px 5px;
  box-shadow: #a4a4a4 0px 5px 5px;
  border-radius: 15px 15px 15px 15px;
  padding: 15px 15px 15px 15px;
  /* opacity: 0.97;*/
  /* font-family: "Segoe UI", Verdana, Tahoma, Helvetica, sans-serif;
      font-size: 1.0em;*/
  margin: 0px 15px 0px 0px;
}

.table_alarms {
  width: 150px;
  border: 1px solid gray;
  border-collapse: collapse;
  margin-right: 15px;
}
/*	.table_report_header 
		{
			background-color: #ABCDEF;	
			height:25px;
			font-weight:bold;
		}
		.table_report td
		{
			height:12px;
			border:1px solid gray;
			border-collapse:collapse;
			margin:1px;
		}
		.table_popup_title
		{
			width:100%;
			border:0px;
			margin:0px;
		}
		
		.popup_infoWindow_historical
		{
			margin:0px;
			height:50px;
			overflow:scroll;
			overflow-x:hidden;
			display:none;
		}*/

/*.div_popup_terminal
		{
			visibility:visible;
      position:absolute;
      background-color: #eaedf1;  
      clear:both;
      display:inline-block;
      z-index:1;
      color: black;
      border: 1px solid #a4a4a4;
	   -webkit-box-shadow: #333333 0px 10px 30px;
      -moz-box-shadow: #333333 0px 10px 30px;
      box-shadow: #333333 0px 10px 30px;	  
      border-radius: 15px 15px 15px 15px;
      padding:15px 15px 15px 15px;
      opacity: 0.97;
      font-family: "Segoe UI", Verdana, Tahoma, Helvetica, sans-serif;
      font-size: 8pt;
   
		}*/

.div_popup_terminal {
  visibility: visible;
  position: absolute;
  clear: both;
  display: inline-block;
  z-index: 1;
  border-radius: 15px 15px 15px 15px;
}

@keyframes div_popup_terminal_initial {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.35;
  }

  100% {
    opacity: 0.7;
  }
}

@-webkit-keyframes div_popup_terminal_initial {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.35;
  }

  100% {
    opacity: 0.7;
  }
}

.div_popup_terminal_hidden {
  visibility: hidden;
  width: 1px;
  height: 1px;
}

#popup_infoWindow {
  position: fixed;
  top: 25%;
  left: 1%;
  height: 0px;
  width: 0px;
}


#DivLegend {
  padding: 0px;
  visibility: inherit;
}

#TblLegend {
  margin: 0px;
  text-align: left;
}

div .TDLegendQuad {
  padding: 3px;
  width: auto;
  height: 15px;
  border: 1px solid #000000;
  min-width: 70px;
  text-align: center;
}

.TDLegendText {
  padding: 0px;
}

.div_island {
  position: absolute;
  background-color: #4FADE3;
  z-index: -1;
  visibility: hidden;
}



.div_area {
  position: absolute;
  background-color: Orange;
  z-index: -2;
  visibility: hidden;
}



#div_center, .div_center {
  background-color: transparent;
  width: 0px;
  height: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
}

#div_background {
  margin: 0px;
  position: absolute;
  z-index: -2;
}

#img_background {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.div_terminal {
  width: 19px;
  height: 19px;
  position: absolute;
  border: 1px solid black;
  border-bottom-style: dotted;
  background-color: White;
}

.div_terminal_selected {
  background: url(../iconos/localizar.svg);
  border: 10px solid yellow;
  border-bottom-style: dotted;
}

@-moz-keyframes blinker {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

#popup_alerts {
  z-index: 1001;
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 35%;
  overflow: auto;
  padding: 0px 0px 0px 0px;
  width: 15%;
  border: none;
  border-collapse: collapse;
  background-color: White;
  opacity: 0.9;
  visibility: hidden;
}

#alarm_notifier {
  z-index: 1010;
  font-family: Verdana;
  font-size: 11px;
  margin-top: 11px;
}


/* Buttons */


.button {
  padding: 4px 6px;
  text-align: center;
  border: 1px solid #c7c8c9;
  background: #F3F4F7;
  background-color: #f0f2f3;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#f0f2f3));
  background: -moz-linear-gradient(#ffffff, #f0f2f3);
  -pie-background: linear-gradient(#ffffff, #f0f2f3);
  -webkit-box-shadow: #c6c9cd 0px 1px 3px;
  -moz-box-shadow: #c6c9cd 0px 1px 3px;
  box-shadow: #c6c9cd 0px 1px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

UNUSEDa.button, UNUSEDa.button:visited {
  color: #000;
  text-decoration: none;
}

.button:hover {
  border: 1px solid #F1C43F;
  background: #fee486;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fef9c9), to(#fee486));
  background: -moz-linear-gradient(#fef9c9, #fee486);
  -pie-background: linear-gradient(#fef9c9, #fee486);
  cursor: pointer;
}

/* Default Page */

.default_body {
  overflow: hidden;
  background-color: #FBFBFB;
}

#default {
  background-color: #FBFBFB;
  width: 100%;
  height: 2048px;
}


#default_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#default_modes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.default_modes_button {
  width: 70px;
  height: 35px;
  border-radius: 10px;
  background-color: #ABCDEF;
  color: White;
}

.default_modes_table {
  width: 100%;
  font-family: "Segoe UI", Verdana, Tahoma, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
}


/* Loading */

.please_wait_loading {
  text-align: center;
  font-family: "Segoe UI", Verdana, Tahoma, Helvetica, sans-serif;
  font-size: 24pt;
}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: white;
}

.ico_loading {
  /*
  height: 5%; 
  width: 5%;
  */
}

/* EditorRightMenu */
#EditorRightMenu {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 15%;
  height: 80%;
  z-index: 1000;
  background-color: white;
  /* opacity: 0.5; */
}

/*
.ui-accordion .ui-accordion-content {
	padding: 1em 1em;
}

.ui-accordion .ui-accordion-menu {
	margin-right: 10px;
}
*/

/* --------------------------------- */

/*
.ui-button .ui-icon.flag-spain {
    background-image: url(images/flag_spain.png);
    width: 24px;
    height: 24px; 
}

.ui-button.ui-state-hover .ui-icon.flag-spain {
    background-image: url(images/flag_spain.png);
    width: 24px;
    height: 24px; 
}
*/

/* --------------------------------- */
/*
.ui-widget-full-width {
    width: 100%;    
}
*/
/* --------------------------------- */
/*
.ui-overlay-center 
{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 15%;
}
*/
/* --------------------------------- */
/*
.ui-parent-mark
{
    position: absolute;
    float: left;
    z-index: 1;
    padding: 5px;
}

.ui-toolset-item
{
    float: left;
}
*/
/* --------------------------------- */

/* Disable Chrome and FireFox outline for all link object */
*:-webkit-any-link {
  outline: none !important;
}

*:-moz-any-link {
  outline: none !important;
}

/* --------------------------------- */
/*.btn3DMode .imgIcon { background: transparent url(../iconos/four73.svg) no-repeat 0px 0px; background-size: cover; }*/
/*.btn3DMode:hover .imgIcon { background: transparent url(../iconos/four73.svg) no-repeat 0px 0px; background-size: cover;}*/
.imgIcon .3DModeMove {
  background: transparent url(../iconos/four73.svg) no-repeat 0px 0px;
  background-size: cover;
}

.imgIcon .3DModeRotate {
  background: transparent url(../iconos/rotation.svg) no-repeat 0px 0px;
  background-size: cover;
}

.alarmIcon {
  height: 20px;
  width: 30px;
  margin: -5px 0px 0px;
  float: right;
}

/*.btnLogin2 a { width: 90%; height: 40px; display: inline-block; margin: 5%; line-height: 40px; font-size: 120%; text-align: center; color: #fff; background: #36464e; text-transform: uppercase;}*/
.btnLogin2 a {
  width: 45%;
  height: 35px;
  display: inline-block;
  margin: 2.5%;
  line-height: 35px;
  font-size: 100%;
  text-align: center;
  color: #fff;
  background: #36464e;
  text-transform: uppercase;
  margin-top: 5%;
}

  .btnLogin2 a:hover {
    background: #778f9b;
  }


/* --------------------------------- */
.dialogBack {
  position: fixed;
  float: none;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(1,1,1,0.5);
}

.dialogBack2 {
  position: absolute;
  float: none;
  z-index: 2;
  width: 100%;
  top: 2%;
  height: 100%;
  background-color: rgba(1,1,1,0.5);
  overflow:auto;
}


.dialogBack3 {
  position: absolute;
  float: none;
  
  width: 100%;
  top: 2%;
  height: 100%;

}

.dialogBackSlider {
  margin: auto;
  position: absolute;
  background-color: rgba(240,240,240,1);
  text-align: center;
}

.dialogFrame {
  margin: auto;
  position: absolute;
  background-color: rgba(240,240,240,1);
  text-align: center;
}

.childLegend {
}

.childLegendSelected {
  background-color: rgba(230, 230, 230, 1);
}

.dialogLegendDetail {
  position: absolute;
  right: 0%;
  width: 400px;
  bottom: 0px;
  background-color: rgba(1,1,1,0.5);
}

.childrenList {
  margin: 10px;
}

.itemLegendList {
  height: 50px;
  width: 100%;
  margin-bottom: 5px;
  /*background-color:#36464e;
  border: 1px solid #a7a7a7; */
}

.itemRangesList {
  /* padding: 5px;*/
  width: 100%;
  border: 1px solid #a7a7a7;
  margin-bottom: 5px;
  /*background-color: #afbdc4 !important;*/
}

/*#ul_selected_filter_list*/


#div_selected_filter_list {
  position: relative;
  border: 1px solid rgb(170, 170, 170);
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  max-height: 450px;
  float: right;
}

.BtnClose {
  top: 0px;
  height: 40px;
  width: 50px;
  float: right;
}

.cierraDialogo {
  float: right;
  margin-right: 3%;
  width: 35px;
  height: 35px;
  margin-top: 2%;
  background: url(../iconos/cerrarBtn.svg) no-repeat center center;
  background-size: 130%;
  position: relative;
  z-index: 99;
}

.customAlarmDisabled {
  color: lightgray;
  font-style: italic;
}

.alarmBlink {
  background-color: rgb(254, 229, 230);
}

.AlarmWarning {
  background: url(../iconos/alarms/monitor_warning.svg) no-repeat center center;
}

/* */

.widgetBtn {
  position: absolute;
  right: 5%;
  top: 0;
  /*width: 10%;
  height: 80%;*/
  /*background: url(../img/ico_meter.png) no-repeat center center;*/
  background-size: 90%;
  background-color: #b6babf;
  /*border-left: 1px solid #778f9b;*/
  border-radius: 50%;
  /*transform: scale(1.3);*/
  float: right;
}

.widgetMenuPopup {
  z-index: 1000000000 !important;
  background-color: rgba(254, 229, 230, 0.50) !important;
  width: 100% !important;
  height: 100% !important;
}



.photoPlayer {
  /* Aumentamos la anchura y altura durante 2 segundos */
  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s,-o-transform 0.5s;
  border-radius: 10%;
  border: 2px solid #9e9e9e;
  background-color: #9e9e9e;
  position: relative;
  z-index: 0;
}



  .photoPlayer:hover {
    /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
    transform: scale(3);
    -moz-transform: scale(3); /* Firefox */
    -webkit-transform: scale(3);
    scale(3); /* Chrome - Safari */
    -o-transform: scale(3);
    scale(3); /* Opera */
    position: relative;
    z-index: 10000;
    -webkit-transform-origin-y: -5px;
    -moz-transform-origin: 0px -5px;
    transform-origin: 0px -5px;
  }

.tableFilters h1 {
  font-size: 100%;
  text-indent: 5%;
  width: 20%;
  height: 30px;
  font-weight: 300;
  float: right;
  position: relative;
}

.circuloAlarmaEscalada {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  position: relative;
  top: 0px;
  left: 30%;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.taskHistory {
  font-size: 12px;
}

/** Mensajeria **/
.slideDerechaExtendido {
  position: absolute;
  background: #fff;
  right: -100%;
  top: 6%;
  height: 94%;
  width: 40%;
  display: none;
  border-left: 2px solid #555;
  z-index: 99;
  overflow-y: auto;
}

/*.cierraPanelExtendido {
  float: right;
  margin-right: 3%;
  width: 35px;
  height: 35px;
  margin-top: 2%;
  background: url(../iconos/cerrarBtn.svg) no-repeat center center;
  background-size: 130%;
  position: relative;
  z-index: 99;
}*/

/*.cierraPanelExtendido a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
  }*/

#acordeon li, .resultadoContactRol li {
  border-bottom: 1px solid #999;
  width: 90%;
  float: left;
  list-style: none;
  font-size: 90%;
  background-color: #f9f9f9;
  clear: left;
}

.resultadoContactRol {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  float: left;
  width: 100%;
  position: relative;
}

  .resultadoContactRol li {
    text-indent: 5%;
    padding-bottom: 2%;
    line-height: 25px;
  }

.selectionRol li {
  display: block;
  cursor: pointer;
  width: 100%;
}

.contactSeleccionado {
  background: #778f9b url(../iconos/tildeRol.svg) no-repeat left 5px center !important;
  background-size: 7% !important;
  color: #fff;
}

  .contactSeleccionado span {
    padding-left: 10%;
  }

.infoPanelExtended {
  position: absolute;
  width: 90%;
  height: 87%;
  top: 5%;
  margin: 5%;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}

  .infoPanelExtended h3 {
    text-transform: uppercase;
    font-size: 75%;
  }

.to-left {
  float: left;
}

.contacts-panel {
  float: left;
  width: 35%;
}

.manager-message {
  background-color: #445963;
  padding: 10px;
  color: white;
  margin-left: 20px;
}

.runner-message {
  background-color: #1F8AFF;
  padding: 10px;
  color: white;
  margin-right: 20px;
}

.manager-message-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #445963 transparent transparent;
  margin-left: 95%;
}

.runner-message-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #1F8AFF transparent transparent transparent;
  margin-left: 5px;
}

.message-owner {
  font-size: 10px;
  font-style: italic;
}

.conversation-panel {
  float: left;
  width: 65%;
  height: 100%;
}

.btnSendMessage {
  background: url(../iconos/ic_message_white_18dp.png) no-repeat center center;
  text-indent: -9999px;
  width: 100%;
  height: 31px;
  min-height: 100%;
  display: block;
  cursor: pointer;
}

.btnSendMessageDerecha {
  position: relative;
  float: left;
  margin-top: 1%;
  margin-left: 4%;
  background: #36464e;
  float: right;
  width: 20%;
}

.btnSendMessage a:hover {
  color: #36464e;
}

.btnEnviarMensaje {
  max-width: 100px;
  background-size: 60%;
  display: block;
  cursor: pointer;
  clear: none;
}

.send-message {
  position: relative;
  bottom: 0;
  width: 100%;
}

.panelEnviarMensaje {
  padding-bottom: 10px;
}

.conversation {
  height: 90%;
  overflow-y: auto;
  margin-bottom: 20px;
}

.messaging-error-text {
  font-size: medium;
  padding-top: 50%;
  padding: 5%;
  display: block;
  color: white;
  text-align: center;
}

.messageBtn {
  border-left: 1px solid #f1f1f1;
}

.contenedor-acciones {
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  height: 100%;
  display: inline-flex;
}

.messageBtn {
  width: 30%;
  height: 100%;
  background: url(../iconos/btnMensajeria.svg) no-repeat center center;
  background-size: 35%;
  border-left: 1px solid #778f9b;
  display: inline-block;
}

  .messageBtn.close {
    background: url(../iconos/cerrarBtnBlanco.svg) no-repeat center center;
  }

  .messageBtn a {
    display: block;
    width: 100%;
    height: 100%;
  }

.SoundBtn {
  width: 30%;
  height: 100%;
  background: url(../iconos/alarmaMonitorOn.svg) no-repeat center center;
  background-size: contain;
  border-left: 1px solid #778f9b;
  display: inline-block;
}

  .SoundBtn.mute {
    background: url(../iconos/alarmaMonitorOff.svg) no-repeat center center;
    background-size: contain;
  }

  .SoundBtn a {
    display: block;
    width: 100%;
    height: 100%;
  }

/*  INFO ALARMAS */

.infoAlarmas {
  position: absolute;
  width: 90%;
  height: 95%;
  top: -1%;
  margin: 5%;
}

  .infoAlarmas li {
    border-bottom: 1px solid #555;
    padding: 5% 0%;
    width: 95%;
    float: left;
    margin: 1% 0%;
    text-align: center;
  }
    /*.infoMaquina li:last-child { border-bottom: none;}*/
    .infoAlarmas li h1 {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 75%;
    }

    .infoAlarmas li span {
      font-size: 150%;
    }

.datosTerminalAlarmas {
  position: relative;
  height: 22%;
  margin-top: 8%;
}

.infoAlarmas h1 {
  font-size: 150%;
  align-content: center;
  text-align: center;
}

.infoAlarmasStatus {
  width: 65%;
  margin-left: 2%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  font-weight: 600;
  font-size: 90%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.infoPanelAlarmas {
  width: 95%;
  height: 90%;
  margin: 5%;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}

/*  INFO MONITOR */

.infoMonitor {
  position: absolute;
  width: 90%;
  height: 95%;
  top: -1%;
  margin: 5%;
  /*overflow-y: auto;*/
  margin-top: 5%;
}

  .infoMonitor li {
    border-bottom: 1px solid #555;
    padding: 5% 0%;
    width: 95%;
    float: left;
    margin: 1% 0%;
    text-align: center;
  }
    /*.infoMaquina li:last-child { border-bottom: none;}*/
    .infoMonitor li h1 {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 75%;
    }

    .infoMonitor li span {
      font-size: 100%;
    }

  .infoMonitor h1 {
    font-size: 150%;
    align-content: center;
    text-align: center;
  }

.infoAlarmsHeader {
  background-color: lightgray !important;
  color: #4d4d4d !important;
  padding-left: 0px !important;
}

.infoAlarmsHeaderActive {
  background-color: lightgray !important;
  color: #4d4d4d !important;
}


.infoAlarmsContent {
  /*font-size:75px !important;*/
  overflow: hidden !important;
}

.datosJugadorTitulo {
  padding-bottom: 5%;
  padding-top: 5%;
}

/*JAUME nueva columna Jugadores*/
.tituloPlayerJornada {
  float: left;
  text-align: center;
  padding-right: 5%;
  width: 45%;
}

  .tituloPlayerJornada span {
    font-size: 170%;
  }

  .tituloPlayerJornada h1 {
    font-size: 70%;
    font-weight: 600;
  }

/*JAUME nueva columna Jugadores*/
.tituloPlayerActual {
  float: left;
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  width: 24%;
}

  .tituloPlayerActual span {
    font-size: 170%;
  }

  .tituloPlayerActual h1 {
    font-size: 70%;
    font-weight: 600;
  }

.titulodatosGraficos {
  float: left;
  width: 24%;
  padding-left: 5%;
}

.titulodatosGraficosDemo {
  //borrar float: left;
  width: 24%;
  padding-left: 5%;
}

.titulodatosGraficos h1 {
  font-size: 70%;
  font-weight: 600;
}

.datosNetwin, .datosBetAVG, .datosPlayedAmount, .datosWonAmount, .datosPlayedCount {
  float: left;
  /*text-align: center;*/
  padding-right: 2%;
  /* padding-left: 2%;
  margin-top: 5%;*/
  width: 98%;
}

.datosGraficos {
  float: left;
  /*text-align: center;
  padding-right: 2%;*/
  padding-left: 2%;
  /* margin-top: 5%;*/
  width: 100%;
}

.tituloDias {
  text-align: center;
  float: left;
  width: 30%;
  height: 25px;
  border-radius: 4px !important;
  padding-top: 2px;
  padding-bottom: 4px;
}

.svg_info_player_chart_container {
  width: 100%;
  height: 70px;
}

.datosAlarma {
  padding: 0%;
}

.alarmasActivas {
  margin-bottom: 5%;
}

.ultimasAlarmas {
  margin-bottom: 5%;
  margin-right: 0%;
}

.datosAlarma h1 {
  font-size: 120%;
  font-weight: 500;
  line-height: 20px;
  width: 90%;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.datosGraficos h1 {
  font-size: 70%;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 2%;
  margin-bottom: 2%;
}

.graf_played, .graf_played_count, .graf_netwin, .graf_won, .graf_betavg, .graf_t_netwin, .graf_t_bavg, .graf_t_coinin, .graf_t_amount, .graf_t_played_count {
  margin-bottom: 5%;
}

.nombreTerminal {
  float: left;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom: 1px solid #888 !important;
  margin-top: 5%;
}

  .nombreTerminal h1 {
    float: left;
    width: 50%;
    font-size: 80%;
    height: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: left;
  }

  .nombreTerminal span {
    font-size: 80%;
    height: 20px;
    line-height: 20px;
  }

.proveedorTerminal {
  float: left;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom: 1px solid #888 !important;
  /*margin-bottom: 10%;*/
}

  .proveedorTerminal h1 {
    float: left;
    width: 50%;
    font-size: 80%;
    height: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: left;
  }

  .proveedorTerminal span {
    font-size: 80%;
    height: 20px;
    line-height: 20px;
  }

.juegoActualTerminal, .payoutTerminal, .enSesionTerminal, .linkJugadorTerminal {
  float: left;
  width: 50%;
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom: 1px solid #888 !important;
  /*margin-bottom: 10%;*/
}

.linkJugadorTerminal {
  padding-bottom: 4%;
}

.jugadorTerminal {
  float: left;
  width: 75%;
}

.ojoTerminal, .ojoJugador {
  float: left;
  width: 25%;
  position: absolute;
  right: 0px;
}

.juegoActualTerminal h1, .payoutTerminal h1, .enSesionTerminal h1, .linkJugadorTerminal h1 {
  float: left;
  width: 50%;
  font-size: 80%;
  height: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
}

.juegoActualTerminal span, .payoutTerminal span, .enSesionTerminal span, .linkJugadorTerminal span {
  font-size: 80%;
  height: 20px;
  line-height: 20px;
}

.photoIsVIPContainer {
  width: 20px;
  height: 60px;
  top: 0px;
  padding-left: 40px;
  margin-top: -60px;
  z-index: 99999;
  margin-left: 15px;
  background: url(../img/vip.png) no-repeat 0px 0px;
  background-size: cover;
  /*position: relative;*/
}

#opt_time_view {
  display: none;
}

.div_beacon {
  width: 19px;
  height: 19px;
  position: absolute;
  border: 1px thin black;
  border-bottom-style: dotted;
  background-color: #2860b3;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
}

.div_beacon_selected {
  background: url(../iconos/localizar.svg);
  border: 10px solid yellow;
}

.div_runner {
  width: 13px;
  height: 13px;
  position: absolute;
  border: 1px dotted black;
  border-radius: 9px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
}

.div_runner_selected {
  background: url(../iconos/localizar.svg);
  border: 10px solid yellow;
}

#planoPisoSelector {
  float: left;
  width: 90%;
  margin-left: 4%;
}

#radioLayoutCameraModeDiv {
  margin-top: 2%;
}

#errorDerivarAlarma {
  font-style: italic;
  color: red;
  text-transform: none;
  font-size: 70%;
}

.configLayout {
  padding: 5% 0% !important;
}

.dialogRunners {
  margin: auto;
  position: absolute;
  background-color: rgba(255,255,255,1);
  text-align: left;
  height: 150px;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
    
}

/*ui-state-default*/
.dialogRunners .ui-accordion-header {
    background-color: #445963 !important;
}

.dialogFilterCreation {
  margin: auto;
  position: absolute;
  background-color: rgba(255,255,255,1);
  text-align: left;
  height: 80%;
  width: 50%;
  right: 15%;
  top: 10%;
}

@media only screen and (max-width: 1400px) {
  .dialogFilterCreation {
  width: 60%;
  right: 5%;
  height: 83%;
  }
}


.btnGuardarFiltroPopUp {
  width: 20% !important;
  float: right !important;
  margin-right: 1.5%;
  text-indent: 5% !important;
}

#div_filter_list_machines h1 {
  padding-top: 3%;
  margin-bottom: 2%;
}

#div_filter_list_players h1 {
  padding-top: 3%;
  margin-bottom: 2%;
}

#div_fts_btn_machines {
  float: right;
  height: 40px;
  font-size: 90%;
  background: #36464e url(../iconos/maquinas.svg) no-repeat 10px 0px;
  text-align: center;
  text-transform: uppercase;
  width: 49.5%;
  line-height: 40px;
  text-indent: 10%;
  color: #f1f1f1;
  margin-bottom: 2%;
  cursor: pointer;
}

#div_fts_btn_players {
  float: left;
  height: 40px;
  font-size: 90%;
  background: #36464e url(../iconos/jugadores.svg) no-repeat 10px 0px;
  text-align: center;
  text-transform: uppercase;
  width: 49.5%;
  line-height: 40px;
  text-indent: 10%;
  color: #f1f1f1;
  cursor: pointer;
}

#div_fts_btn_machines:hover {
  background: url(../iconos/maquinasOn.svg) no-repeat 10px 0px !important;
  background-size: cover;
  color: #000000;
}

#div_fts_btn_players:hover {
  background: url(../iconos/jugadoresOn.svg) no-repeat 10px 0px !important;
  background-size: cover;
  color: #000000;
}

.div_fts_btn_machines_On {
  background: #8fa3ad url(../iconos/maquinasOn.svg) no-repeat 10px 0px !important;
  background-size: cover;
}

.div_fts_btn_players_On {
  background: #8fa3ad url(../iconos/jugadoresOn.svg) no-repeat 10px 0px !important;
  background-size: cover;
}

#div_filters_to_select_tab {
  margin-bottom: 15%;
}

#div_filters_to_select .childLegend {
  height: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
  border-bottom: 1px solid #ccc;
}

#div_filters_to_select .circuloValor {
  width: 18px;
  height: 18px;
}

#div_filters_to_select .ui-accordion-content {
  margin-top: 1%;
  cursor: pointer;
}

.inputFilterName {
  width: 93% !important;
  margin-left: 40% !important;
}

@media only screen and (max-width: 1200px) and (max-height: 631px) {
  .inputFilterName {
    width: calc(100% - 85px) !important;
    /* margin-left: 30% !important; */
    float: right !important;
  }
}

.div_filter_name {
  width: 40%;
  margin-top: 4%;
  margin-left: 4%;
}

  .div_filter_name span {
    float: left;
    margin-right: 1%;
    height: 30px;
    vertical-align: middle;
    margin-top: 1%;
    font-size: 100%;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    position: absolute;
  }

.chk_filter_visualization {
  float: right;
  margin: 2%;
}

.circuloIcono {
  background: url(../iconos/jugadoresOn.svg) no-repeat 4px -3px !important;
  background-size: 30px !important;
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
}

.btnBorrarFiltroCustom {
  float: left;
  height: 27px;
  background-size: 80% !important;
  background-position-y: -3px !important;
  margin-top: -1%;
  background-image: url("../iconos/cerrarBtnblanco.svg") !important;
  margin-left: -4%;
}

.btnEditarFiltroCustom {
  float: left;
  height: 27px;
  background-size: 40% !important;
  background-position-y: 6px !important;
  background-position-x: 9px !important;
  margin-top: -1%;
  background-image: url("../iconos/lapizEdit.svg") !important;
  margin-left: -4%;
}

.btnCloseWhite {
  background-image: url("../iconos/cerrarBtnBlanco.svg") !important;
}

.widgetInfoPanel {
  height: 100%;
  width: 100%;
  top: 40px;
  color: black;
  background-color: rgba(255,255,255,1);
  position: absolute;
  z-index: 1000;
  vertical-align: middle;
}

  .widgetInfoPanel p {
    padding: 5% 10% 10% 5%;
    font-family: Verdana;
    font-size: 0.9em;
    font-style: italic;
  }

.widgetNoScroll {
  overflow: hidden !important;
}

/*DMT 1/6/2016*/
.widgetScroll {
  -webkit-overflow-scrolling: touch; /*esto para scrollear desde celu o tablet*/
  position: absolute;
  top: 50px;
  height: 200px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*.tituloDisplay {
width:100%;
}

.legendMonitor h1 {
float:right!important;
width:90%!important;

}*/
.monitorFiltroDisplay {
  float: none !important;
  clear: none !important;
}

.itemrolescontainer {
  top: 20px;
  left: 7px;
  width: 90%;
}

.itemrolesdevice {
  height: 100%;
  width: 100%;
  float: right;
  background-image: url("../img/movilDash.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #60757f;
}

.itemroleitem {
  float: left;
  color: white;
  width: 20%;
  text-align: center;
  border-radius: 5px;
  margin-right: 5px;
}

.itemrole-1 {
  background-color: #445963;
}

.itemrole-2 {
  background-color: #0090e9;
}

.itemrole-4 {
  background-color: #378d3b;
}

.itemrole-8 {
  background-color: #dc2b00;
}

.chkAlarmsSound {
  float: right;
  width: 20px;
  margin-top: 5px;
}

#div_legend_container_40000 .ui-icon-triangle-1-e {
  right: 2em !important;
}

#div_legend_container_41001 .ui-icon-triangle-1-e {
  right: 2em !important;
}

#div_legend_container_42002 .ui-icon-triangle-1-e {
  right: 2em !important;
}

.chkAlarmsSoundEnabled {
  background-image: url("../iconos/AlarmsSpeakerOn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 3px;
  background-size: 80%;
  margin-top: -1%;
  height: 20px;
  margin-right: -30px;
}

.chkAlarmsSoundDisabled {
  background-image: url("../iconos/AlarmsSpeakerOff.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 3px;
  background-size: 80%;
  margin-top: -1%;
  height: 20px;
  margin-right: -30px;
}

@media only screen and (min-width: 1350px) {
  .chkAlarmsSoundEnabled {
    background-image: url("../iconos/AlarmsSpeakerOn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 3px;
    background-size: 80%;
    margin-top: -1%;
    height: 25px;
  }

  .chkAlarmsSoundDisabled {
    background-image: url("../iconos/AlarmsSpeakerOff.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 3px;
    background-size: 80%;
    margin-top: -1%;
    height: 25px;
  }
}

.chk_filter_visualization_checked {
  background-image: url("../iconos/CustomFilterShow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 10%;
  margin: 0px !important;
}

.chk_filter_visualization_unchecked {
  background-image: url("../iconos/CustomFilterHide.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 10%;
  margin: 0px !important;
}

.btnZoom {
  position: absolute;
  height: 60px;
  width: 60px;
  bottom: 75px;
  /*background-color:black;*/
  float: right;
  right: 0px;
}

.btnZoomInIcon {
  top: 0px;
  background-image: url("../iconos/zoomInmin.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.btnZoomOutIcon {
  top: 40px;
  background-image: url("../iconos/zoomOutmin.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.tool_div {
  position: absolute;
  bottom: 5px;
  height: 200px;
  width: 40px;
  right: 10px;
  background-color: #445963;
  box-shadow: 0px 3px 10px;
  border-radius: 5px;
}

.tool_div_2d {
  position: absolute;
  bottom: 5px;
  height: 120px;
  width: 40px;
  right: 10px;
  background-color: #445963;
  box-shadow: 0px 3px 10px;
  border-radius: 5px;
}

.btnResetIcon_2d {
  top: 80px;
  background-image: url("../iconos/centerIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.toolImgIcon {
  position: absolute;
  height: 40px;
  width: 100%;
}

.btnRotateIcon {
  top: 80px;
  background-image: url("../iconos/rotateIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.btnMoveIcon {
  top: 120px;
  background-image: url("../iconos/moveArrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.tool_icon_selected {
  background-color: #576e79;
}

.btnResetIcon {
  top: 160px;
  background-image: url("../iconos/centerIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.infoRunner {
  position: absolute;
  width: 90%;
  margin: 5%;
  margin-top: 3%;
}

  .infoRunner .fotoRunner {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }

.fotoRunner .imgProfile {
  max-width: 30%;
  float: initial;
}

  .fotoRunner .imgProfile img {
    max-height: 60px;
  }

.fotoRunner, .nombreRunner {
  border-bottom: none !important;
}

.infoRunner li {
  border-bottom: 1px solid #ddd;
  padding: 3% 0%;
}

.nombreRunner h1 {
  font-size: 100% !important;
  text-align: center;
  width: 100% !important;
  margin-bottom: 5%;
}
/*  CLICK EN MAPA INFO JUGADORES  */

.photoContenedor {
  float: left;
  width: 100%;
  text-align: center;
}

.photoRunner {
  width: 60px;
  height: 60px;
  border: 2px solid #9e9e9e;
  background-color: #9e9e9e;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: relative;
  z-index: 99999;
}

.infoRunner .nombreRunner {
  float: left;
  width: 100%;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom: 1px solid #888 !important;
}

.runnerDispositivo {
  float: left;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom: 1px solid #888 !important;
}

.runnerDispositivo {
  width: 100%;
  display:none;
}

  .rolRunner h1, .runnerDispositivo h1 {
    float: left;
    width: 50%;
    font-size: 80%;
    height: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: left;
  }

  .runnerDispositivo span {
    font-size: 80%;
    height: 20px;
    line-height: 20px;
    position: relative;
    float: right;
    right: 5%;
  }

.rolRunner h1 {
  float: left;
  width: 25%;
  font-size: 80%;
  height: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
}


.rolRunner span {
  width: 50%;
  float: left;
  text-align: left;
}

#popup_runner_name {
  font-weight: 500;
}


.infoRunner .alarmaPendiente {
  color: #fff;
  background: transparent url(styles/iconos/alarmaPendiente.svg) no-repeat right center;
  background-size: contain;
}

.infoRunner .alarmaResuelta {
  color: #fff;
  background: transparent url(styles/iconos/alarmaResuelta.svg) no-repeat right center;
  background-size: contain;
}

.infoRunner .alarmaEscalada {
  color: #fff;
  background: transparent url(styles/iconos/alarmaEscalada.svg) no-repeat right center;
  background-size: contain;
}

.alarmasRunner h1 {
  font-size: 80%;
  font-weight: 500;
  line-height: 20px;
  width: 90%;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 1%;
  text-align: left;
}

.infoAlarmsHeader .ui-state-active span {
  color: #1c94c4 !important;
}

.infoAlarmsHeader .ui-accordion-header-icon {
  display: none;
}

.alarmasRunner {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 5%;
}

.datosRunner {
  padding: 0%;
  margin-top: 0%;
}

.runnersContainer {
    /*display: block;*/
    width: 100%;
    overflow: auto;
    height: 110px;
    white-space: nowrap;
}


.datosRunnerSelector {
    width:33%;
    /*float:left;*/
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
    display: inline-block;
}
.nombreRunnerSelector {
    margin-top:5px;
}

.alarmasRunner p {
  font-size: 85%;
  float: left;
  padding: 1%;
  clear: left;
}

.alarmasRunner span {
  font-size: 85%;
  float: right;
  padding: 1%;
  clear: right;
}

.configIdiomas {
  padding-left: 2% !important;
}

.configLogOut span {
  margin-right: -30%;
}

.versionSoftware {
  font-size: 50%;
  font-style: italic;
  float: right;
  position: relative;
  top: 20px;
}

#div_runner_selector {
  width: 15%;
  background-color: #445963;
  right: 35%;
  height: 15%;
  position: absolute;
  top: 40%;
  display: none;
}

.runner_selector {
}

#div_runner_list {
  height: 100%;
}

  #div_runner_list li {
    font-size: 15px;
    color: white;
  }

#loading_floor {
  width: 93%;
  height: 95%;
  background-color: #555;
  top: 5%;
  z-index: 0;
  left: 7%;
  position: absolute;
}

.Devantenna {
}

.Devbeacons {
  background-color: green;
}

.WigdetDragMode {
  /*border-color: #fd3f2d !important;*/
    box-shadow: 5px 5px 5px;
}
