﻿@using resources = LCDInTouch.Web.resources.nls_resource

@{
  ViewBag.Title = "TransferCredit";
}

<div class="row">
  <div class="left-short left-short-backcolor">
    <div class="short-third-top fifteen-margin-left ten-to-top">
      <div onclick="RedirectPreviousAction();">
        <img src="~/images/icons/48x48/Left-Arrow.png" class="img-responsive" />
      </div>
    </div>

    @* This div has hardcode style because there was a problem with the priority on it *@
    @*<div class="vertical-text-ms vertical-text" style="margin-left:85px;margin-top:15px;font-size:36px;">*@
    <div class="vertical-text-ms vertical-text" style="margin-top:20px;float:left;margin-left:90px;">@resources.tc_transfer</div>

    @*</div>*@

    <div class="short-third-top short-third-top-left"></div>
  </div>

  <div class="center-without-right-panel">

    <div class="center-third-top" style="margin-top: 35px">
      <div class="data-account2-info">
        <div class="center-third-middle two-hundred-twenty fifty-from-top">
          <p class="Title TitleUnderline">@resources.tc_available_credit</p>
          <p class="Info">@ViewBag.AvailableCredits</p>
        </div>
      </div>
    </div>

    <div class="transfer-credit-message">
      <p class="transfer-credit-message-text-style">@resources.tc_transfer_credit_machine</p>
    </div>

    <div class="transfer-credit-buttons-frame-center">
      <div class="transfer-credit-left-align-button">
        <input class="btn transfer-credit-no-button" type="button" value="@resources.generic_no_button" onclick="@ViewBag.RedirectNoButton">
      </div>
      <div class="transfer-credit-right-align-button">
        <input class="btn transfer-credit-yes-button" type="button" value="@resources.generic_yes_button" onclick="InteractWithHost('22');">
      </div>
    </div>

  </div>
</div>
