﻿@charset "UTF-8";

/* HEADER */

.nombreCasino {
    display: inline-block;
    vertical-align: initial;
    /* padding: 0.7%; */
    padding-top: initial;
    width: 7%;
    text-transform: uppercase;
    height: 100%;
    margin-left: initial;
	border-right: 1px solid #778f9b;
}

.nombreCasino img {
	display: block;
  padding-top: 7%;
  padding-right: 7%;
	width: 67%;
	height: 67%;
  margin: auto;

}

.userProfile {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 8%;
    top: 0;
	right: initial;
}

.imgProfile {
    max-width: 16%;
    height: auto;
}

.imgProfile img {
    width: 100%;
    height: auto;
    max-height: 45px;
}

.contenedorRol {
        margin-right: initial;
    float: initial;
    position: relative; 
    height: auto;
}

.nameProfile, .rolProfile {
    margin-top: 2px;
}

.contenedor-acciones {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 450px;
  max-width: 550px;
  width: auto;
  height: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}


.contenedor-tiempo {
  width: 30%;
  height: 100%;
  display: inline-block;
  border-left: none;
  font-size: 12px;
  min-width: 100px;
}

.contenedor-tiempo-hora {
    width: 100%;
    top: 20%;
    float: right;
    left: initial;
    position: relative;
    text-align: center;
}

.contenedor-tiempo-fecha {
    width: 100%;
    float: right;
    left: initial;
    position: relative;
    top: initial;
    text-align: center;
    bottom: -15%;
}

.floorBtn {
	border-left: 1px solid #778f9b;
	background: url(iconos/btnFloor.svg) no-repeat center center;
    position:relative;
    display: inline-block;
    height: 100%;
    width: 30%;
}

.floorLegend {
	border-left: 1px solid #778f9b;
    position:relative;
    height: 100%;
    width: 100%;
    display: none;
}

.floorLegend .txt_floor {
	font-size: 12px;
	float: right;
	position: relative;
	padding-right: 5%;
    padding-left: 5%;
	white-space: nowrap;
    height: 100%;
    display: table;
    min-width: 50px;
    width: 100%;
    text-align: center;
}

.txt_floor span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.floorLegend.pisoVisible {
    display: inline-block;
}

.floorBtn a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;

}

.messageBtn {
    width: 30%;
    height: 100%;
    background: url(iconos/btnMensajeria.svg) no-repeat center center;
    border-left: 1px solid #778f9b;
    display: inline-block;
}

.messageBtn a {
    z-index: 9999999;
}

.messageBtn, .SoundBtn, .configBtn, .floorBtn {
    min-width: 70px;
    background-size: contain;
}




/* NOTIFICACIONES */

.badgeMessage {
    margin: initial;
    margin-left: 25%;
}

#toast8-container {
    margin: 2.5% 1% 0 0;
    width: 20%;
    right: 1%;
    
}

#toast8-container tr > .toast8-right-container .toast8-close-button {
    border: none;
    margin-right: 5%;
    margin-top: 5%;
    cursor: pointer;
    -ms-opacity: 1;
    opacity: 1;
    background-color: #36464e;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    height: 30px;
    line-height: 30px;
    min-width: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#toast8-container > table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    margin: 5px 0;
    background-repeat: no-repeat;
    color: #36464e;
    width: 100%;
    /* border-collapse: collapse; */
    min-height: 6.5em;
    /* box-shadow: 0px 0px 3px #d2d2d2; */
    max-width: 100%;
    border: none; 
}

.toast8-info {
    background-color: #ffffff;
    border: none;
}

#toast8-container tr > .toast8-message-container {
    display: inherit;
    max-width: 80%;
    width: 70.5%;
    position: absolute;
    height: 90% !important;
    background-color: #F0F8FF;
}

#toast8-container tr > .toast8-message-container > .toast8-title {
    font-size: 120%;
    float:none;
    width:initial;
}

#toast8-container tr > .toast8-message-container > .toast8-message {
    float:none;
    width:initial;
}
#toast8-container tr > .toast8-right-container {
    height: 90% !impportant;
    background-color: #F0F8FF;
}

/* CHAT */

.darkPanel {
    background: #38484F;
    overflow-y: hidden;
}

.infoPanelExtended {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 0%;
    margin: 2.5%;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

.contacts-panel {
    float: left;
    width: 35%;
    margin-top: 5%;
    height: 95%;
    overflow-x: hidden;
    overflow-y: auto;
}

.contacts-panel h2{
    font-size: 130%;
    font-weight: 400;
    color: #fff;
}

.resultadoContactRol li {
    text-indent: 5%;
    padding-bottom: 2%;
    line-height: 40px;
    height: 35px;
    color: #f1f1f1;
    background-color: transparent;
}

.conversation-panel {
    float: right;
    width: 60%;
    height: 95%;
    right: 0;
    position: relative;
    margin-top: 5%;
}

#runner-id {
    font-size: 140%;
    color: #fff;
    width: 100%;
    text-align: center;
    position: relative;
    float: left;
    font-weight: 500;
    margin-top: 5%;
}

.conversation {
    height: 70%;
    overflow-y: auto;
    margin-bottom: 2.5%;
    margin-top: 15%;
    background-color: rgb(38, 50, 56);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*.conversation-error {
   height: 70%;
    overflow-y: hidden;
    margin-bottom: 2.5%; 
    margin-top: 20%;
    background-color: rgba(56, 72, 79, 0.90);
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 0;
    z-index: 5;
}*/

.message-buble {
    margin: 2%;
    
}

.manager-message {
    background-color: #E1F5FE;
    padding: 10px;
    margin-left: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


.runner-message {
    background-color: #85D7FA;
    padding: 10px;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


.message-content {
    color: #333;
    font-size: 14px;
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 2%;
}

.message-date {
    color: #333;
    font-size: 11px;
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 2%;
    font-style:italic;
}

.message-owner {
    font-size: 10px;
    font-style: normal;
    color: #38484F;
    font-weight: bold;
}

.manager-message-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #E1F5FE transparent transparent;
    margin-left: 95%;
}

.runner-message-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #85D7FA transparent transparent transparent;
    margin-left: 5px;
}

#txtSendMessage {
    width: 100%;
    height: 60px;
    margin-top: 1%;
    margin-bottom: 2%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.conversation-panel .btnSendMessageDerecha {
    position: relative;
    margin-top: 1%;
    margin-left: 4%;
    background: #0288D1;
    float: right;
    width: 100%;
    height: 50px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: 500;
}

.resultadoContactRol .badgeMessage {
    margin: initial;
    margin-left: initial;
    margin-top: 6%;
    position: absolute;
    right: 5%;
    line-height: 20px;
}

.contactSeleccionado {
    background: rgba(0, 0, 0, 0.2) url(../../iconos/tildeRol.svg) no-repeat left 5px center !important;
    background-size: 7% !important;
    color: #0288D1 !important;
    font-weight: 600;
}

.chatMessageIntro {
    width: 60%;
    height: 50%;
    top: 20%;
    position: absolute;
    right: 0%;
}

.iconLandingChat {
    width: 100%;
    height: 70%;
    background: url(iconos/btnMensajeria.svg) no-repeat center center;
    background-size: contain;
}

.infoLandingChat {
    color: #E1F5FE;
    text-align: center;
    font-size: 90%;
}

/* MENU PRINCIPAL */

.menuPrincipal li.activo {
    background: #253137;
}

.menuPrincipal li:hover {
    background: #3e4f58;
}
.menuPrincipal li a:hover, .menuPrincipal li.activo a {
    color: #f1f1f1;
}


.btnMisTareas .imgIcon {
  background: transparent url(../../iconos/misTareas.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnMisTareas:hover .imgIcon, .btnMisTareas.activo .imgIcon {
  background: transparent url(../../iconos/misTareas.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnDashboard .imgIcon {
  background: url(../../iconos/dashBoard.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnDashboard:hover .imgIcon, .btnDashboard.activo .imgIcon {
  background: url(../../iconos/dashBoard.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnPiso .imgIcon {
  background: url(../../iconos/mapaPiso.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnPiso:hover .imgIcon, .btnPiso.activo .imgIcon {
  background: url(../../iconos/mapaPiso.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnMaquinas .imgIcon {
  background: url(../../iconos/maquinas.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnMaquinas:hover .imgIcon, .btnMaquinas.activo .imgIcon {
  background: url(../../iconos/maquinas.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnJugadores .imgIcon {
  background: url(../../iconos/jugadores.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnJugadores:hover .imgIcon, .btnJugadores.activo .imgIcon {
  background: url(../../iconos/jugadores.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnAlarmas .imgIcon {
  background: url(../../iconos/alarmas.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnAlarmas:hover .imgIcon, .btnAlarmas.activo .imgIcon {
  background: url(../../iconos/alarmas.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnCharts .imgIcon {
  background: url(../../iconos/charts.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnCharts:hover .imgIcon, .btnCharts.activo .imgIcon {
  background: url(../../iconos/charts.svg) no-repeat 0px 0px;
  background-size: cover;
}


.btnMonitor .imgIcon {
  background: url(../../iconos/monitor.svg) no-repeat 0px 0px;
  background-size: cover;
}

.btnMonitor:hover .imgIcon, .btnMonitor.activo .imgIcon {
  background: url(../../iconos/monitor.svg) no-repeat 0px 0px;
  background-size: cover;
}

/* PANTALLAS */

.infoPanel {
    width: 90%;
}

.infoPanel h3 {
    font-size: 90%;
    font-weight: bolder;
}

.comentarioAccion h3 {
    font-size: 90%;
}


.slideDerecha {
    background: #f7fcff;
    border-left: 2px solid #5a8092;
}

.infoPanelAlarmas {
    width: 90%;
    height: 90%;
    margin: 5%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 5%;
    margin-top: 15%;
    position: relative;
}

.nombreTerminal {
    float: left;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
    border-bottom: 1px solid #888 !important;
    margin-top: 5%;
    border-top: 1px solid #888 !important;
}

.nombreTerminal span {
    font-size: 80%;
    height: 20px;
    line-height: 20px;
    position: relative;
    float: right;
    right: 5%;
}

.proveedorTerminal span {
    font-size: 80%;
    height: 20px;
    line-height: 20px;
    text-align: right;
    float: right;
    right: 5%;
    position: relative;
}

.infoAlarmsHeader {
    background-color: #36464e !important;
    color: #fff !important;
    padding-left: 10px !important;
    font-size: 85% !important;
}

.alarmasActivas {
    padding-bottom: 5%;
    border-bottom: 1px solid;
    margin-bottom: 5%;
}

.infoAlarmasStatus {
    width: 10px;
    height: 10px;
    /*border-radius: 50%;
    -webkit-border-radius: 50%;*/
    display: inline-block;
    float: right;
    margin: initial;
    text-indent: -99999999px;
}

/*.alarmaPendiente {
    color: #fff;
    background: #e2232e;
}*/

.infoPanelAlarmas .alarmaCurso {
    color: #fff;
    background: transparent url(iconos/alarmaCurso.svg) no-repeat right center;
    background-size: contain;
}

.infoPanelAlarmas .alarmaValidada {
    color: #fff;
    background: transparent url(iconos/alarmaValidada.svg) no-repeat right center;
    background-size: contain;
}

.infoPanelAlarmas .alarmaPendiente {
    color: #fff;
    background: transparent url(iconos/alarmaPendiente.svg) no-repeat right center;
    background-size: contain;
}

.infoPanelAlarmas .alarmaResuelta {
    color: #fff;
    background: transparent url(iconos/alarmaResuelta.svg) no-repeat right center;
    background-size: contain;
}

.infoPanelAlarmas .alarmaEscalada {
    color: #fff;
    background: transparent url(iconos/alarmaEscalada.svg) no-repeat right center;
    background-size: contain;
}

.datosAlarma h1 {
    font-size: 80%;
    font-weight: 500;
    line-height: 20px;
    width: 90%;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-bottom: 1%;
    text-align: left;
}

.infoAlarmsHeader .ui-state-active span {
    color: #1c94c4 !important;
}

.infoAlarmsHeader .ui-accordion-header-icon {
        display: none;
}

.datosTerminalAlarmas {
    position: relative;
    height: 24%;
    margin-top: 0%;
}

.datosAlarma {
    padding: 0%;
    margin-top: 0%;
}

.nombreTerminal {
    border-bottom: 1px solid #888 !important;
}

.ultimasAlarmas {
    margin-bottom: initial;
    margin-right: initial;
}

.datosAlarma p {
    font-size: 85%;
    float: left;
    padding: 1%;
    clear: left;
}

.datosAlarma span {
    font-size: 85%;
    float: right;
    padding: 1%;
    clear: right;
}


/* JUGADORES */

.btnJugadorComparar a {
    -webkit-border-radius: 3px;
            border-radius: 3px;
}

.datosSesion h2 {
    text-align: left;
    font-weight: 500;
    font-size: 65%;
}


.edadJugador, .nivelJugador, .enSesionJugador, .terminalJugador {
    width: 100% !important;
}


.tableJugador {
    margin-top: 5%;
    position: relative;
    width: 100%;
    float: left;
}

.popup_player_age, .popup_player_level, .popup_player_gender {
    float: right;
    text-align:right!important;
}

.enSesionJugador span, .generoJugador span {
    width: initial;
    float: right;
    text-align: initial;
}


.datosPlayerJornada h1 {
    font-size: 80%;
    font-weight: 500;
}

.datosJugador span {
    padding-right: 2%;
}

.ojoTerminal, .ojoJugador {
    width: 15%;
}

.tableJugador span {
    font-weight: 600;
}

/* TERMINALES */

.juegoActualTerminal, .payoutTerminal, .enSesionTerminal, .linkJugadorTerminal {
    width: 100%;
}

.infoMaquina {
    margin-top: 15%;
}

.infoMaquina span {
    font-size: 80%;
    float: right;
    right: 5%;
    position: relative;
}

.tableTerminal {
    margin-top: 5%;
    position: relative;
    float: left;
    width: 100%;
}

.tableTerminal span {
    font-size: 90%;
    font-weight: 600;
    float: initial;
    right: initial;
    position: initial;
}

.btnTerminalComparar a {
    -webkit-border-radius: 3px;
            border-radius: 3px;
}

.datosTerminal li h2 {
    text-align: left;
    font-weight: 500;
    font-size: 65%;
}


.infoMaquina li h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 80%;
    text-align: left;
}



/* LOGO WIN */

.logoWin {
    bottom: 2%;
}

.logoWin img {
    width: 80%;
}


@media only screen and (min-width: 1441px) and (max-width: 1600px) {

    /*.floorBtn {
        background-size: 60%;
        width: 45%;
    }
    
    .floorBtn .txt_floor {
        margin-top: 15%;
    }*/
}



@media only screen and (min-width: 1025px) and (max-width: 1440px) {

    .nombreCasino {
        width: 9%;
    }
    
    /*.contenedor-acciones {
        width: 30%;
    }*/
    
    .contenedor-tiempo-hora {
        top: 20%;
    }
    
    .contenedor-tiempo-fecha {
        bottom: -20%;
    }
    
   /* .floorBtn, .messageBtn, .SoundBtn {
        background-size: 55%;
    }
    
    .configBtn {
        background-size: 50%;
    }
    
    .floorBtn {
	width: 45%;
    }
    
    .floorBtn .txt_floor {
        margin-top: 15%;
    }*/
    
}


@media only screen and (min-width: 1025px) and (max-width: 1366px) {

   .userProfile {
    left: 10%;
} 
    
}


@media only screen and (min-width: 1367px) and (max-width: 1440px) {

    .nombreCasino {
    width: 7%;
    }

}


@media only screen and (max-width: 1024px) {
    
    
    .nombreCasino {
        width: 10%;
    }
    
    .contenedorRol {
    margin-top: 1%;
    }
    
    .userProfile {
        left: 11%;
        width: 30%;
    }
    
    .imgProfile img {
    width: 50px;
    height: 50px;
    max-height: 50px;
    }
 
    /*.contenedor-acciones {
        width: 40%;
    }*/
    
    .contenedor-tiempo-hora {
        top: 20%;
        font-size: 12px !important;
    }
    
    .contenedor-tiempo-fecha {
        bottom: -20%;
        font-size: 12px !important;
    }
    
    /*.messageBtn, .SoundBtn {
        background-size: 60%;
    }
    
    .floorBtn, .configBtn {
        background-size: 55%;
    }
    
    .floorBtn {
        width: 45%;
    }
    
    .floorBtn .txt_floor {
        margin-top: 15%;
    }*/
    
    
    .slideDerechaExtendido {
        width: 50%;
    }
    
}
    
@media only screen and (max-height: 699px) {
    .contenedorRol {
        margin-top: 1% !important;
    }
    
    /*.messageBtn, .SoundBtn {
        background-size: 40%;
    }
    
    .configBtn {
        background-size: 35%;
    }

    .floorBtn {
        background-size: 50%;
    }*/
    
    
}

@media only screen and (max-height: 820px) {
    .contenedorRol {
        margin-top: 1% !important;
    }
    
    
}

@media only screen and (max-height: 799px) {
    .imgProfile img {
        width: 45px;
        height: 45px;
        max-height: 45px;
    }
    
    .nameProfile, .rolProfile {
        margin-top: 1px !important;
    }
    
    .slideDerechaExtendido {
        height: 93% !important;
        top: 7% !important;
    }
    
}