﻿@using Viewer.entities;
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>

  <link href="~/Plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
  <link href="~/css/odometer.css" rel="stylesheet" />
  <link href="~/css/viewer.css" rel="stylesheet" />

</head>
<body>

  <div id="divContainer">

    <div id="divTitile">
      @if (((eViewer)Model) != null)
      {
        @Html.Raw(((eViewer)Model).Name)
      }
    </div>

    <div id="divJackpots">
      @{
        if (((eViewer)Model) != null)
        {
          @Html.Raw(((eViewer)Model).getHTML());
        }
      }
    </div>

    <div id="divAlerts">
      <div class="messages">
        <div class="width-100 height-100 overflow-hidden">
          <ul class="alert-box"></ul>
        </div>
      </div>
    </div>

  </div>

  <div id="divJackpot">
    <img src="~/img/jackpot.png" />
  </div>

  <input type="hidden" id="hdnViewer">

  <script src="~/js/jquery-3.2.1.min.js"></script>
  <script src="~/Plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="~/js/Viewer/odometer.js"></script>
  <script src="~/js/Viewer/Index.js"></script>

</body>
</html>