﻿@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  <link href="~/Plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

  <div id="container"></div>
  <input type="hidden" id="hdnViewer">

  <script src="~/js/jquery-3.2.1.min.js"></script>
  <script src="~/Plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="~/js/Viewer/Index.js"></script>  

</body>
</html>
